MAiD - Case Management App/force-app/main/default/flows/Case_After_Update_Reportable_to_Health_Canada_BCCS_Manager_Review_Required_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>If Case Type is &quot;MAiD Death Foreseeable OR MAiD Death NOT Foreseeable&quot; AND &quot;Potential BCCS Review&quot; on the 1634 form in section Eligibility Criteria equals &quot;Yes&quot; THEN &quot;BCCS Manager Review Required&quot; is &quot;TRUE&quot; (Non-editable), if that&apos;s not true then bypass the rule</description>
        <name>BCCS_Manager_Review_Required_Rule</name>
        <label>BCCS Manager Review Required Rule</label>
        <locationX>770</locationX>
        <locationY>680</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BCCS_True</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Potential_BCCS_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BCCS_Manager_Review_Required_TRUE</targetReference>
            </connector>
            <label>BCCS True</label>
        </rules>
        <rules>
            <name>BCCS_False</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Potential_BCCS_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BCCS_Manager_Review_Required_FALSE</targetReference>
            </connector>
            <label>BCCS False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Case_Health_Authority_Check</name>
        <label>Parent Case Health Authority Check</label>
        <locationX>255</locationX>
        <locationY>133</locationY>
        <defaultConnector>
            <targetReference>Get_Form_1634</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ErrorLogRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Health_Authority__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseRecordHealthAuthorityUpdate</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>If &quot;Patient MAiD Request date field&quot; =/+ 2018-11-01 AND if Case Type Reported Date = -/ 2023-01-01 THEN &quot;Reportable to Health Canada&quot; is TRUE      EXCEPTION: If Case Type Reported Date =/+ 2023-01-01 THEN &quot;Reportable to Health Canada&quot; is &quot;TRUE&quot;  or  IF  in 1634 Form field &quot;I determined that the patieint:&quot; field equals &quot;4- NO determination made&quot; THEN Reportable to Health Canada is &quot;FALSE&quot;</description>
        <name>Reportable_to_Health_Canada_Rule</name>
        <label>Reportable to Health Canada Rule</label>
        <locationX>780</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>BCCS_Manager_Review_Required_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HCR_False</name>
            <conditionLogic>(1 OR (7 AND 8)) AND  (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4- NO determination made</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type_Reported_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>caseTypeReportedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_MAiD_Request_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>PatientMaidRequestDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reportable_to_health_canada_False</targetReference>
            </connector>
            <label>HCR_False</label>
        </rules>
        <rules>
            <name>HCR_True</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4)) AND 5 AND (6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_MAiD_Request_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PatientMaidRequestDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type_Reported_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>caseTypeReportedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type_Reported_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>caseTypeReportedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_MAiD_Request_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4- NO determination made</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reportable_to_health_canada_TRUE</targetReference>
            </connector>
            <label>HCR_True</label>
        </rules>
    </decisions>
    <description>Health Canada reportable element Update</description>
    <environments>Default</environments>
    <interviewLabel>Case- After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case- After Update Reportable to Health Canada-BCCS Manager Review Required Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Form_1634</name>
        <label>Get Form 1634</label>
        <locationX>776</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reportable_to_Health_Canada_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Form_1634__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BCCS_Manager_Review_Required_FALSE</name>
        <label>BCCS Manager Review Required FALSE</label>
        <locationX>772</locationX>
        <locationY>821</locationY>
        <inputAssignments>
            <field>BCCS_Manager_Review_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>BCCS_Manager_Review_Required_TRUE</name>
        <label>BCCS Manager Review Required TRUE</label>
        <locationX>528</locationX>
        <locationY>790</locationY>
        <inputAssignments>
            <field>BCCS_Manager_Review_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CaseRecordHealthAuthorityUpdate</name>
        <label>CaseRecordHealthAuthorityUpdate</label>
        <locationX>180</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Get_Form_1634</targetReference>
        </connector>
        <inputAssignments>
            <field>Health_Authority__c</field>
            <value>
                <elementReference>$Record.Parent.Health_Authority__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>reportable_to_health_canada_False</name>
        <label>reportable to health canada False</label>
        <locationX>1148</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>BCCS_Manager_Review_Required_Rule</targetReference>
        </connector>
        <inputAssignments>
            <field>Reportable_to_Health_Canada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>reportable_to_health_canada_TRUE</name>
        <label>reportable to health canada TRUE</label>
        <locationX>480</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>BCCS_Manager_Review_Required_Rule</targetReference>
        </connector>
        <inputAssignments>
            <field>Reportable_to_Health_Canada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Parent_Case_Health_Authority_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error_Log</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MAiD_Case</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Patient MAiD Request date field&quot; =/+ 2018-11-01 AND if Case Type Reported Date = -/ 2023-01-01</description>
        <name>caseTypeReportedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2023-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>ErrorLogRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error Log</stringValue>
        </value>
    </variables>
    <variables>
        <description>Patient MAiD Request date field&quot; =/+ 2018-11-01 AND if Case Type Reported Date = -/ 2023-01-01</description>
        <name>PatientMaidRequestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2018-11-01</dateValue>
        </value>
    </variables>
</Flow>
