MAiD - Case Management App/force-app/main/default/flows/display_warning_for_duplicate_phn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_value_to_existing_PHN</name>
        <label>assign value to existing PHN</label>
        <locationX>524</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>ExistingPHN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PHN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_record_type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_the_collection_has_existing_PHN</name>
        <label>check if the collection has existing PHN</label>
        <locationX>957</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>loop_through_all_phn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_collection_has_existing_phn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_all_phn.PHN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExistingPHN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_warning_message</targetReference>
            </connector>
            <label>check collection has existing phn</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_the_case_type</name>
        <label>check the case type</label>
        <locationX>413</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_case_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Assessment of Eligibility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_value_to_existing_PHN</targetReference>
            </connector>
            <label>check case type</label>
        </rules>
    </decisions>
    <description>This flow is responsible to check if a new case is being created with the same PHN already in the system.</description>
    <interviewLabel>display warning for duplicate phn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display warning for duplicate phn</label>
    <loops>
        <name>loop_through_all_phn</name>
        <label>loop through all phn</label>
        <locationX>806</locationX>
        <locationY>261</locationY>
        <collectionReference>all_PHN_values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_the_collection_has_existing_PHN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_warning_message_to_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_record_type</name>
        <label>get record type</label>
        <locationX>663</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_records_of_phn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MAiD_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_records_of_phn</name>
        <label>get records of phn</label>
        <locationX>806</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_all_phn</targetReference>
        </connector>
        <filterLogic>(((1 OR 2) AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discontinuation of Planning: Ineligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MAiD Assessment of Eligibility</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>all_PHN_values</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PHN__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_warning_message</name>
        <label>update warning message</label>
        <locationX>1151</locationX>
        <locationY>530</locationY>
        <inputAssignments>
            <field>Warning_Message_If_Any__c</field>
            <value>
                <stringValue>Duplicate PHN exists</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_warning_message_to_empty</name>
        <label>update warning message to empty</label>
        <locationX>586</locationX>
        <locationY>526</locationY>
        <inputAssignments>
            <field>Warning_Message_If_Any__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>15</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>check_the_case_type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>all_PHN_values</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ExistingMaidDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingPHN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp_PHN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
