MAiD - Case Management App/force-app/main/default/flows/Federal_Safeguards.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignNewFailListDetail</name>
        <label>AssignNewFailListDetail</label>
        <locationX>1545</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>ListFailFedral</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updatefedal_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewNullListDetail</name>
        <label>AssignNewNullListDetail</label>
        <locationX>2393</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>UpdateNullList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatefedalNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPASSListDetail</name>
        <label>AssignNewPASSListDetail</label>
        <locationX>1877</locationX>
        <locationY>2056</locationY>
        <assignmentItems>
            <assignToReference>ListFedralPASS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updatefedal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule10ErrorMsg</name>
        <label>Rule10ErrorMsg</label>
        <locationX>1366</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var10Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule11_13_14_ErrorMsg</name>
        <label>Rule11-13-14-ErrorMsg</label>
        <locationX>1537</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRule111314</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule12ErrorMsg</name>
        <label>Rule12ErrorMsg</label>
        <locationX>984</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var12Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule15ErrorMsg</name>
        <label>Rule15ErrorMsg</label>
        <locationX>2201</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var15Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule16ErrorMsg</name>
        <label>Rule16ErrorMsg</label>
        <locationX>2067</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var16Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule17ErrorMsg</name>
        <label>Rule17ErrorMsg</label>
        <locationX>1881</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var17Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule18ErrorMsg</name>
        <label>Rule18ErrorMsg</label>
        <locationX>1644</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var18Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule19ErrorMsg</name>
        <label>Rule19ErrorMsg</label>
        <locationX>1666</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var19Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule37ErrorMsg</name>
        <label>Rule37ErrorMsg</label>
        <locationX>1075</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var37Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule38ErrorMsg</name>
        <label>Rule38ErrorMsg</label>
        <locationX>748</locationX>
        <locationY>1662</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var38Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule39ErrorMsg</name>
        <label>Rule39ErrorMsg</label>
        <locationX>1342</locationX>
        <locationY>1263</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var39Err</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFedralFAIL</name>
        <label>UpdateFedralFAIL</label>
        <locationX>1559</locationX>
        <locationY>1620</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewFailListDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFedralNull</name>
        <label>UpdateFedralNull</label>
        <locationX>2540</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewNullListDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFedralPASS</name>
        <label>UpdateFedralPASS</label>
        <locationX>1602</locationX>
        <locationY>2110</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All Rules Passed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewPASSListDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var66ErrMSG</name>
        <label>Var66ErrMSG</label>
        <locationX>1155</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>Var66_ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rule 66 Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Var10Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 10 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var11_13_14_Err</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>Var12Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 12 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var15Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 15 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var16Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 16 is failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var17Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 17 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var18Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 18 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var19Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 19 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var37Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 37 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var38Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 38 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var39Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 39 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var41Err</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 41 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>VarRule111314</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed: Rule 11 / Rule 13 /Rule 14</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check17_MAiD_Death_Forseeable_or_Nor</name>
        <label>Check17- MAiD Death Forseeable or Nor</label>
        <locationX>1580</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>CheckRule18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_17_MAiD_Death_Forseeable_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule17</targetReference>
            </connector>
            <label>Check 17 -MAiD Death Forseeable=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check19_MAiD_Death_Forseeable_or_Nor</name>
        <label>Check19- MAiD Death Forseeable or Nor</label>
        <locationX>650</locationX>
        <locationY>1237</locationY>
        <defaultConnector>
            <targetReference>CheckRule37</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_19_MAiD_Death_Forseeable_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PatientLostCapability_True</targetReference>
            </connector>
            <label>Check 19 -MAiD Death Forseeable=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PatientLostCapability_True</name>
        <label>Check-PatientLostCapability=True</label>
        <locationX>1016</locationX>
        <locationY>1186</locationY>
        <defaultConnector>
            <targetReference>CheckRule37</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PatientLostCapability_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule19_0</targetReference>
            </connector>
            <label>Check-PatientLostCapability=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseType</name>
        <label>CheckCaseType</label>
        <locationX>782</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Rule_12_skip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckCaseType_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule11</targetReference>
            </connector>
            <label>CheckCaseType=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCondition</name>
        <label>CheckCondition</label>
        <locationX>2134</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Rule15ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule_15_Fail</name>
            <conditionLogic>(6 OR 7) AND ((1 AND 2) OR (3 AND 4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Var1632_ProxySignDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_RequestSigDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_ProxySignDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_RequestSigDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_ProxySignDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Var1632_RequestSigDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule15ErrorMsg</targetReference>
            </connector>
            <label>Rule 15 Fail</label>
        </rules>
        <rules>
            <name>Rule_15_yes</name>
            <conditionLogic>((1 OR 2)  AND (7 or 8)AND (3 OR 4)) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Var1632_ProxySignDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_ReqSignDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_RequestSigDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_ReqSignDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_ProxySignDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Patient_MAiD_Request_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_RequestSigDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Patient_MAiD_Request_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule16</targetReference>
            </connector>
            <label>Rule 15=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkfor_None</name>
        <label>Checkfor-None</label>
        <locationX>2200</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>CheckForCaseType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckAllDatefield_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1632_ProxySignDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_RequestSigDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ReqSignDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_witnessinitialSafegurad</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_WitnessSignDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_AllEligibilitycriteria</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Ideterminethatthepatient</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_RecPreScriber</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practioner</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VaRxMaxAdminPrescriName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientlostcapabilitytoconsent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_PractitionerSafeguardsCompleted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_PatientSafeguardsCompleted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Finalwaiverofconsentdatesigned</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiDAdministrationDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientconsentedtoassessment</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerisnotbeneficiary</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientrequestMAiDinwritingsigned</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Requestwassignedanddatedafterthe_p</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Theirmedicaldiagnosisandprognosis</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Righttowithdrawtheirreques</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Potentialriskandexpected</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Receivedsecondassessmentindicating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Pratictionerwassatisfiedsecondassess</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientwasgivenopportunitytowithdra</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Wasthesubstanceselfadministered</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfYeswasPrescriberpresent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Didthepatientdieafterselfadmin</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientauthorizedtorecieve2nddose</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_X2nddosewillbeadminsteredaftermin</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerwillbepresentinitialsby</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientsignatureselfadministration</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiDPrescribersignselfadminist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Advanceconsentsignaturedatebypatien</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Ideterminethatthepatient</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Discussedmeansofalleviatingsuffering</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Counsellingmentalhealthandothersup</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Cleardayswaitingperiodstartdate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Expertiseinconditionwasprovided</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ExpertiseConsultantWas</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_The_patientwasatriskoflosingcapacity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessorAnd_PrescriberinAgreement</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Ensuredtherewereatleast_90_days</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patients_request_was_signed_dated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFedralNull</targetReference>
            </connector>
            <label>CheckAllDatefield-blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForCaseType</name>
        <label>CheckForCaseType</label>
        <locationX>2273</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckCaseType_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Assessment of Eligibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCondition</targetReference>
            </connector>
            <label>CheckCaseType</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule10</name>
        <label>CheckRule10</label>
        <locationX>1066</locationX>
        <locationY>637</locationY>
        <defaultConnector>
            <targetReference>Rule10ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule10_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 15 AND 16 AND 17 AND (11 OR 12)) OR (13 AND 14)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Patientconsentedtoassessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerisnotbeneficiary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientrequestMAiDinwritingsigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ReqSignDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Requestwassignedanddatedafterthe_p</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Theirmedicaldiagnosisandprognosis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Righttowithdrawtheirreques</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Potentialriskandexpected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Receivedsecondassessmentindicating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Pratictionerwassatisfiedsecondassess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ReqSignDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patients_request_was_signed_dated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_AllSafegaurdshavebeenmet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCaseType</targetReference>
            </connector>
            <label>CheckRule10=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule11</name>
        <label>CheckRule11,13 &amp; 14</label>
        <locationX>805</locationX>
        <locationY>774</locationY>
        <defaultConnector>
            <targetReference>Rule11_13_14_ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule11</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientwasgivenopportunitytowithdra</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - IV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patienthaddifficultycommunicating</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_12_skip</targetReference>
            </connector>
            <label>Rule 11</label>
        </rules>
        <rules>
            <name>Rule112</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 10 AND 5 AND (6 OR ((5 AND 7) AND ((8 AND 9) OR (NOT(8)))))</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - IV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientwasgivenopportunitytowithdra</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patienthaddifficultycommunicating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patienthaddifficultycommunicating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Ifyesindicateservicesmeans</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Ifyesindicateservicesmeans</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Otherservicesmeansspecify</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patienthaddifficultycommunicating</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_12_skip</targetReference>
            </connector>
            <label>Rule11-2</label>
        </rules>
        <rules>
            <name>Rule_13</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Oral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Wasthesubstanceselfadministered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfYeswasPrescripresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Didthepatientdieafterselfadmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_12_skip</targetReference>
            </connector>
            <label>Rule 13</label>
        </rules>
        <rules>
            <name>Rule_14</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND 12 AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3 - Oral and IV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Wasthesubstanceselfadministered</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfYeswasPrescripresent</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Didthepatientdieafterselfadmin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientauthorizedtorecieve2nddose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_X2nddosewillbeadminsteredaftermin</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerwillbepresentinitialsby</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientsignatureselfadministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiDPrescribersignselfadminist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Advanceconsentsignaturedatebypatien</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Advanceconsentsignaturedatebypatien</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_12_skip</targetReference>
            </connector>
            <label>Rule 14</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule12</name>
        <label>CheckRule12</label>
        <locationX>311</locationX>
        <locationY>1062</locationY>
        <defaultConnector>
            <targetReference>Rule12ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule12_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check19_MAiD_Death_Forseeable_or_Nor</targetReference>
            </connector>
            <label>CheckRule12</label>
        </rules>
        <rules>
            <name>Rule12_2</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 7 AND 8) AND ((6 AND 9) OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Ensuredpatientdidnotshowrefusal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_EnsuredMAiDadministeredasspecified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patienthasbeeninformedofriskoflos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Anagreementwiththepatienttowaive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfYespatientconsented</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.X1645__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Case_Type_Reported_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Var1634_Default_Year_2023</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Case_Type_Reported_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_Default_Year_2023</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check19_MAiD_Death_Forseeable_or_Nor</targetReference>
            </connector>
            <label>Rule12-2</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule16</name>
        <label>CheckRule16</label>
        <locationX>1919</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Rule16ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule16_yes</name>
            <conditionLogic>(1 AND 8 AND (2 OR 3) AND (4 OR 5)) OR ( 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>Var1632_witnessinitialSafegurad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_WitnessSignDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1632_ProxySignDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_WitnessSignDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1632_RequestSigDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_WitnessSignDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check17_MAiD_Death_Forseeable_or_Nor</targetReference>
            </connector>
            <label>CheckRule16=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule17</name>
        <label>CheckRule17</label>
        <locationX>1809</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Rule17ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule17_yes</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_AllEligibilitycriteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Ideterminethatthepatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Does meet the criteria for MAiD and natural death IS reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule18</targetReference>
            </connector>
            <label>CheckRule17=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule18</name>
        <label>CheckRule18</label>
        <locationX>1180</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Rule18ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule18_yes</name>
            <conditionLogic>(1 AND 2 AND ( 3 OR 4)) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_RecPreScriber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_Practioner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practioner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VaRxMaxAdminPrescriName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule10</targetReference>
            </connector>
            <label>CheckRule18=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule19_0</name>
        <label>CheckRule19</label>
        <locationX>1552</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>Rule19ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule19_yes_0</name>
            <conditionLogic>(((1 AND 2) OR (3 AND 4) OR 8) AND 9 AND 10 AND 11 AND 5 AND 6 AND 7 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>Var1645_PatientSafeguardsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Patient_Signed_and_Dated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Proxy_Completed_Safeguards</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Proxy_Signed_and_Dated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiDAdministrationDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var1645_Agreed_date_of_MAiD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Agreed_date_of_MAiD</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Verbal_Consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_PractitionerSafeguardsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Practitioner_Signed_and_Dated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Finalwaiverofconsentdatesigned</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Finalwaiverofconsentdatesigned</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckRule37</targetReference>
            </connector>
            <label>CheckRule19=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule37</name>
        <label>CheckRule37</label>
        <locationX>748</locationX>
        <locationY>1498</locationY>
        <defaultConnector>
            <targetReference>Rule37ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule37_yes</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 AND 5) AND (((8 AND 9 AND 10 AND 11 AND 12) AND (((13 AND 14) OR (NOT(13))) AND ((15 AND 16) OR (NOT(15))) AND ((17 AND 18) OR (NOT(17))))) OR 19))OR 6 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Ideterminethatthepatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2- Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Discussedmeansofalleviatingsuffering</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Counsellingmentalhealthandothersup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Cleardayswaitingperiodstartdate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Ideterminethatthepatient</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2- Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Case_Type_Reported_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var_Default_Year_2023</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Reasonsforseriousconsideration</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_NONRFNDSafeguardscompleteddate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Servicesofferedordiscussed</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Expertconsultantspecialty</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Expertconsultantspecialty</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_SpecifyexpertspecialtyifOther</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Servicesofferedordiscussed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfOtherservicespecify</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Reasonsforseriousconsideration</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Otherreasonspecify</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Case_Type_Reported_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Var_Default_Year_2023</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule38_1</targetReference>
            </connector>
            <label>CheckRule37=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule38_1</name>
        <label>CheckRule38-1</label>
        <locationX>404</locationX>
        <locationY>1549</locationY>
        <defaultConnector>
            <targetReference>Rule38ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule38_1_Yes</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Expertiseinconditionwasprovided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ExpertiseConsultantWas</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule38_2</targetReference>
            </connector>
            <label>CheckRule38-1=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule38_2</name>
        <label>CheckRule38-2</label>
        <locationX>169</locationX>
        <locationY>1776</locationY>
        <defaultConnector>
            <targetReference>Rule38ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule38_2_Yes</name>
            <conditionLogic>(((1 AND 2 AND 7) OR (5 AND 6)) AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>VarNumberofDays</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>91.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Ensuredtherewereatleast_90_days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_The_patientwasatriskoflosingcapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessorAnd_PrescriberinAgreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiDAdministrationDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckRule39</targetReference>
            </connector>
            <label>CheckRule38-2=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule39</name>
        <label>CheckRule39</label>
        <locationX>533</locationX>
        <locationY>1905</locationY>
        <defaultConnector>
            <targetReference>Rule39ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule39_yes</name>
            <conditionLogic>(1 AND 2 AND 3 ) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_AllEligibilitycriteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Ideterminethatthepatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_66</targetReference>
            </connector>
            <label>CheckRule39=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_12_skip</name>
        <label>Rule 12 skip MAiD Death Not foreseeable</label>
        <locationX>471</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Check19_MAiD_Death_Forseeable_or_Nor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>skip_MAiD_Death_Not_foreseeable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule12</targetReference>
            </connector>
            <label>skip MAiD Death Not foreseeable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_66</name>
        <label>Rule 66</label>
        <locationX>910</locationX>
        <locationY>2093</locationY>
        <defaultConnector>
            <targetReference>Var66ErrMSG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule_66_Pass</name>
            <conditionLogic>(1 AND 2 AND (((3 AND 4 AND 7) AND ((5 AND 6) OR (NOT(5))) ) OR (NOT(3)))) OR (NOT(1))</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Case_Type_Reported_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-01-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_lengthOfMedicalCondition</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AdvanceStateOfIrreversibleDecline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_isYesReasonForOpinion</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_isYesReasonForOpinion</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ifOtherreasonspecify</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AdvanceStateOfIrreversibleDecline</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateFedralPASS</targetReference>
            </connector>
            <label>Rule 66 Pass</label>
        </rules>
    </decisions>
    <description>Rule 11 Update</description>
    <environments>Default</environments>
    <formulas>
        <name>VarNumberofDays</name>
        <dataType>Number</dataType>
        <expression>{!Var1634_MAiDAdministrationDate} - {!Var1634_Cleardayswaitingperiodstartdate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Federal Safeguards {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Federal Safeguards</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get1632</name>
        <label>Get1632</label>
        <locationX>1233</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1634</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1632__c</object>
        <outputAssignments>
            <assignToReference>Var1632_ProxySignDate</assignToReference>
            <field>Proxy_Signed_Date_for_Request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1632_RequestSigDate</assignToReference>
            <field>Requestor_Signature_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1632_witnessinitialSafegurad</assignToReference>
            <field>Witness_Initialed_Safeguards__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1632_WitnessSignDate</assignToReference>
            <field>Witness_Signature_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1633</name>
        <label>Get1633</label>
        <locationX>1520</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1641</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1633__c</object>
        <outputAssignments>
            <assignToReference>Var1633_AllEligibilitycriteria</assignToReference>
            <field>All_eligibility_criteria_has_been_met__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_AllSafegaurdshavebeenmet</assignToReference>
            <field>All_safeguards_have_been_met__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Ideterminethatthepatient</assignToReference>
            <field>I_determine_that_the_patient__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1634</name>
        <label>Get1634</label>
        <locationX>1380</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1633</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1634__c</object>
        <outputAssignments>
            <assignToReference>Var1634_Advanceconsentsignaturedatebypatien</assignToReference>
            <field>Advance_consent_signature_date_by_patien__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Anagreementwiththepatienttowaive</assignToReference>
            <field>An_agreement_with_the_patient_to_waive_f__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_AssessorAnd_PrescriberinAgreement</assignToReference>
            <field>Assessor_and_Prescriber_in_agreement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Cleardayswaitingperiodstartdate</assignToReference>
            <field>Clear_days_waiting_period_start_date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Counsellingmentalhealthandothersup</assignToReference>
            <field>Counselling_mental_health_and_other_sup__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Didthepatientdieafterselfadmin</assignToReference>
            <field>Did_the_patient_die_after_self_administ__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_EnsuredMAiDadministeredasspecified</assignToReference>
            <field>Ensured_MAiD_administered_as_specified__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Ensuredpatientdidnotshowrefusal</assignToReference>
            <field>Ensured_patient_did_not_show_refusal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Ensuredtherewereatleast_90_days</assignToReference>
            <field>Ensured_there_were_at_least_90_days__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Expertconsultantspecialty</assignToReference>
            <field>Expert_consultant_specialty__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ExpertiseConsultantWas</assignToReference>
            <field>Expertise_consultant_was__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_HowwasMaidAdmin</assignToReference>
            <field>How_was_MAiD_administered__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Ideterminethatthepatient</assignToReference>
            <field>I_determine_that_the_patient__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ifOtherreasonspecify</assignToReference>
            <field>If_Other_reason_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_IfOtherservicespecify</assignToReference>
            <field>If_Other_service_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_IfYespatientconsented</assignToReference>
            <field>If_Yes_patient_consented__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Ifyesindicateservicesmeans</assignToReference>
            <field>If_yes_indicate_services_means__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_isYesReasonForOpinion</assignToReference>
            <field>If_yes_reasons_for_opinion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ReqSignDate</assignToReference>
            <field>If_yes_signed_request_date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_IfYeswasPrescripresent</assignToReference>
            <field>If_yes_was_the_Prescriber_present__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_lengthOfMedicalCondition</assignToReference>
            <field>Length_of_medical_condition__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiDAdministrationDate</assignToReference>
            <field>MAiD_Administration_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiDPrescribersignselfadminist</assignToReference>
            <field>MAiD_Prescriber_sign_self_administ__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_NONRFNDSafeguardscompleteddate</assignToReference>
            <field>NON_RFND_safeguard_completed_date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Otherreasonspecify</assignToReference>
            <field>Other_reason_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Otherservicesmeansspecify</assignToReference>
            <field>Other_services_means_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientauthorizedtorecieve2nddose</assignToReference>
            <field>Patient_authorized_to_recieve_2nd_dose__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientconsentedtoassessment</assignToReference>
            <field>Patient_consented_to_assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patienthaddifficultycommunicating</assignToReference>
            <field>Patient_had_difficulty_communicating__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patienthasbeeninformedofriskoflos</assignToReference>
            <field>Patient_has_been_informed_of_risk_of_los__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Discussedmeansofalleviatingsuffering</assignToReference>
            <field>Patient_has_discussed_and_considered_mea__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_AdvanceStateOfIrreversibleDecline</assignToReference>
            <field>Patient_in_an_advanced_state_of_irrevers__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientlostcapabilitytoconsent</assignToReference>
            <field>Patient_lost_capabilty_to_consent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PatlostCapacity</assignToReference>
            <field>Patient_lost_capacity_to_consent_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientsignatureselfadministration</assignToReference>
            <field>Patient_signature_self_administration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientwasgivenopportunitytowithdra</assignToReference>
            <field>Patient_was_given_opportunity_to_withdra__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PatientrequestMAiDinwritingsigned</assignToReference>
            <field>Patients_request_for_MAiD_was_in_writin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patients_request_was_signed_dated</assignToReference>
            <field>Patients_request_was_signed_dated_and__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Potentialriskandexpected</assignToReference>
            <field>Potential_risks_and_expected_outcome__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Practioner</assignToReference>
            <field>Practitioner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Practitionerisnotbeneficiary</assignToReference>
            <field>Practitioner_is_not_a_beneficiary__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Practitionerwillbepresentinitialsby</assignToReference>
            <field>Practitioner_will_be_present_initials_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Pratictionerwassatisfiedsecondassess</assignToReference>
            <field>Pratictioner_was_satisfied_second_assess__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Expertiseinconditionwasprovided</assignToReference>
            <field>Prescriber_ensured_expertise_in_patient__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Reasonsforseriousconsideration</assignToReference>
            <field>Reasons_for_serious_consideration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Receivedsecondassessmentindicating</assignToReference>
            <field>Received_a_second_assessment_indicating__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Requestwassignedanddatedafterthe_p</assignToReference>
            <field>Request_was_signed_and_dated_after_the_p__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Righttowithdrawtheirreques</assignToReference>
            <field>Right_to_withdraw_their_request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Servicesofferedordiscussed</assignToReference>
            <field>Services_offered_or_discussed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_SpecifyexpertspecialtyifOther</assignToReference>
            <field>Specify_expert_specialty_if_Other__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_The_patientwasatriskoflosingcapacity</assignToReference>
            <field>The_patient_was_at_risk_of_losing_capaci__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Theirmedicaldiagnosisandprognosis</assignToReference>
            <field>Their_medical_diagnosis_and_prognosis__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Wasthesubstanceselfadministered</assignToReference>
            <field>Was_the_substance_self_administered__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_X2nddosewillbeadminsteredaftermin</assignToReference>
            <field>X2nd_dose_will_be_adminstered_after_min__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1641</name>
        <label>Get1641</label>
        <locationX>1623</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Form_Rx_MAR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1641__c</object>
        <outputAssignments>
            <assignToReference>Var1641_RecPreScriber</assignToReference>
            <field>Receiving_Prescriber_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1645</name>
        <label>Get1645</label>
        <locationX>1910</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkfor_None</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1645__c</object>
        <outputAssignments>
            <assignToReference>Var1645_Agreed_date_of_MAiD</assignToReference>
            <field>Agreed_date_of_MAiD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_Finalwaiverofconsentdatesigned</assignToReference>
            <field>Final_waiver_of_consent_date_signed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_PatientSafeguardsCompleted</assignToReference>
            <field>Patient_Safeguards_Completed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_Patient_Signed_and_Dated</assignToReference>
            <field>Patient_Signed_and_Dated__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_PractitionerSafeguardsCompleted</assignToReference>
            <field>Practitioner_Safeguards_Completed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_Practitioner_Signed_and_Dated</assignToReference>
            <field>Practitioner_Signed_and_Dated__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_Proxy_Completed_Safeguards</assignToReference>
            <field>Proxy_Completed_Safeguards__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_Proxy_Signed_and_Dated</assignToReference>
            <field>Proxy_Signed_and_Dated__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_Verbal_Consent</assignToReference>
            <field>Verbal_Consent__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_Rx_MAR</name>
        <label>Get Form Rx/MAR</label>
        <locationX>1785</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1645</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_RXMAR__c</object>
        <outputAssignments>
            <assignToReference>VaRxMaxAdminPrescriName</assignToReference>
            <field>Administering_Prescriber_Full_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetail_0</name>
        <label>GetCaseDetail</label>
        <locationX>1111</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1632</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Federal_Safeguards__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>X1645__c</queriedFields>
        <queriedFields>Patient_MAiD_Request_Date__c</queriedFields>
        <queriedFields>Case_Type_Reported_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Updatefedal</name>
        <label>Updatefedal</label>
        <locationX>2085</locationX>
        <locationY>2060</locationY>
        <inputReference>ListFedralPASS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updatefedal_0</name>
        <label>Updatefedal</label>
        <locationX>2488</locationX>
        <locationY>1519</locationY>
        <inputReference>ListFailFedral</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatefedalNull</name>
        <label>UpdatefedalNull</label>
        <locationX>2476</locationX>
        <locationY>626</locationY>
        <inputReference>UpdateNullList</inputReference>
    </recordUpdates>
    <start>
        <locationX>411</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseDetail_0</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListFailFedral</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListFedralPASS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListNullFedralList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateNullList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Var1632_ProxySignDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1632_RequestSigDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1632_witnessinitialSafegurad</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1632_WitnessSignDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1633_AllEligibilitycriteria</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_AllSafegaurdshavebeenmet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Ideterminethatthepatient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Advanceconsentsignaturedatebypatien</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_AdvanceStateOfIrreversibleDecline</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Anagreementwiththepatienttowaive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_AssessorAnd_PrescriberinAgreement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Cleardayswaitingperiodstartdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Counsellingmentalhealthandothersup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Default_Year_2023</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2023-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>Var1634_Didthepatientdieafterselfadmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Discussedmeansofalleviatingsuffering</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_EnsuredMAiDadministeredasspecified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Ensuredpatientdidnotshowrefusal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Ensuredtherewereatleast_90_days</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Expertconsultantspecialty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ExpertiseConsultantWas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Expertiseinconditionwasprovided</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_HowwasMaidAdmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_HowwasMaidAdministered</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Ideterminethatthepatient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ifOtherreasonspecify</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfOtherservicespecify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Ifyesindicateservicesmeans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfYespatientconsented</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfYeswasPrescriberpresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfYeswasPrescripresent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_isYesReasonForOpinion</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_lengthOfMedicalCondition</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiDAdministrationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiDPrescribersignselfadminist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_NONRFNDSafeguardscompleteddate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Otherreasonspecify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Otherservicesmeansspecify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientauthorizedtorecieve2nddose</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientconsentedtoassessment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patienthaddifficultycommunicating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patienthasbeeninformedofriskoflos</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientlostcapabilitytoconsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PatientrequestMAiDinwritingsigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patients_request_was_signed_dated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientsignatureselfadministration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientwasgivenopportunitytowithdra</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PatlostCapacity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Potentialriskandexpected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Practioner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1634_Practitionerisnotbeneficiary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Practitionerwillbepresentinitialsby</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Pratictionerwassatisfiedsecondassess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Reasonsforseriousconsideration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Receivedsecondassessmentindicating</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ReqSignDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1634_Requestwassignedanddatedafterthe_p</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Righttowithdrawtheirreques</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Servicesofferedordiscussed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_SpecifyexpertspecialtyifOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_The_patientwasatriskoflosingcapacity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Theirmedicaldiagnosisandprognosis</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Wasthesubstanceselfadministered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_X2nddosewillbeadminsteredaftermin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var1641_RecPreScriber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_Agreed_date_of_MAiD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_Finalwaiverofconsentdatesigned</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_Patient_Signed_and_Dated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_PatientSafeguardsCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_Practitioner_Signed_and_Dated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_PractitionerSafeguardsCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_Proxy_Completed_Safeguards</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_Proxy_Signed_and_Dated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_Verbal_Consent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var66_ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Default_Year_2023</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2023-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>Varbool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarFedralSafegurad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VaRxMaxAdminPrescriName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
