MAiD - Case Management App/force-app/main/default/flows/Form1634_Q25.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Extracted_Value_to_List</name>
        <label>Add Extracted Value to List</label>
        <locationX>1071</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>extractedValuesPicklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Values_for_Formatting</name>
        <label>Assign Selected Values for Formatting</label>
        <locationX>578</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>rawMultiSelectPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.If_yes_select_all_that_apply__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FormatPicklistValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Q25Fields</name>
        <label>Assignment_Q25Fields</label>
        <locationX>262</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Q25_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_Picklist_Values</name>
        <label>Extract Picklist Values</label>
        <locationX>993</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FormatPicklistValues</name>
        <label>FormatPicklistValues</label>
        <locationX>693</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatedAddSemicolon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q25A_Assignment</name>
        <label>Q25A Assignment</label>
        <locationX>1646</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q25B_Assignment</name>
        <label>Q25B Assignment</label>
        <locationX>1639</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q25C_Assignment</name>
        <label>Q25C Assignment</label>
        <locationX>1638</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q25D_Assignment</name>
        <label>Q25D Assignment</label>
        <locationX>1641</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q25E_Assignment</name>
        <label>Q25E Assignment</label>
        <locationX>1190</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q25F_Assignment</name>
        <label>Q25F Assignment</label>
        <locationX>995</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q25F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Values_Parsed</name>
        <label>All Values Parsed</label>
        <locationX>857</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_Value_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedPicklistValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Q25_All_Fields</name>
        <label>Decision_Q25 All Fields</label>
        <locationX>1114</locationX>
        <locationY>496</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q25A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultation with patient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q25A_Assignment</targetReference>
            </connector>
            <label>Q25A</label>
        </rules>
        <rules>
            <name>Q25B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Knowledge of patient from prior consultations or treatment for reasons other than MAiD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q25B_Assignment</targetReference>
            </connector>
            <label>Q25B</label>
        </rules>
        <rules>
            <name>Q25C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultation with other health or social service professionals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q25C_Assignment</targetReference>
            </connector>
            <label>Q25C</label>
        </rules>
        <rules>
            <name>Q25D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultation with family members or friends</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q25D_Assignment</targetReference>
            </connector>
            <label>Q25D</label>
        </rules>
        <rules>
            <name>Q25E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed medical records</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q25E_Assignment</targetReference>
            </connector>
            <label>Q25E</label>
        </rules>
        <rules>
            <name>Q25F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q25F_Assignment</targetReference>
            </connector>
            <label>Q25F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Q25_Null</name>
        <label>Is Q25 Null</label>
        <locationX>399</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Values_for_Formatting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.If_yes_select_all_that_apply__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Q25_Null</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>formatedAddSemicolon</name>
        <dataType>String</dataType>
        <expression>{!rawMultiSelectPicklistValues} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!formattedPicklistValues} , 
              FIND(
                     &quot;;&quot;,{!formattedPicklistValues}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>removeOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedPicklistValues},  {!formulaOnePicklistValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <interviewLabel>Fprm1634_Q25 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Form1634_Q25</label>
    <loops>
        <name>AddLoop</name>
        <label>AddLoop</label>
        <locationX>965</locationX>
        <locationY>361</locationY>
        <collectionReference>extractedValuesPicklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Q25_All_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record_Q25</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Q25_Null</name>
        <label>Update Q25 Null</label>
        <locationX>409</locationX>
        <locationY>434</locationY>
        <inputAssignments>
            <field>ELG_Q25A__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q25B__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q25C__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q25D__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q25E__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q25F__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Q25</name>
        <label>Update Record Q25</label>
        <locationX>788</locationX>
        <locationY>362</locationY>
        <inputReference>updateRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Assignment_Q25Fields</targetReference>
        </connector>
        <object>Form_1634__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>extractedValuesPicklist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rawMultiSelectPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1634__c</objectType>
    </variables>
</Flow>
