MAiD - Case Management App/force-app/main/default/flows/ICY_Referral_Owner_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Owner_Central_Coast</name>
        <label>Assign Owner Central Coast</label>
        <locationX>6122</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Central_Coast.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Coast_Mountains_Team_Hazelton</name>
        <label>Assign Owner Coast Mountains Team Hazelton</label>
        <locationX>1634</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Coast_Mountains_Team_Hazelton.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Comox_Valley_Team_1</name>
        <label>Assign Owner Comox Valley Team 1</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Comox_Valley_Team_1.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Comox_Valley_Team_2</name>
        <label>Assign Owner Comox Valley Team 2</label>
        <locationX>1370</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Comox_Valley_Team_2.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Cowichan_Valley</name>
        <label>Assign Owner Cowichan Valley</label>
        <locationX>6386</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Cowichan_Valley.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Delta</name>
        <label>Assign Owner Delta</label>
        <locationX>6650</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Delta.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Fraser_Cascades</name>
        <label>Assign Owner Fraser Cascades</label>
        <locationX>5858</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Fraser_Cascades.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_owner_get_record_Coast_Mountains_Team_Terrace</name>
        <label>assign owner get record Coast Mountains Team Terrace</label>
        <locationX>1898</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_record_Coast_Mountains_Team_Terrace.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Gold_Trail</name>
        <label>Assign Owner Gold Trail</label>
        <locationX>6914</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Gold_Trail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Kootenay_Columbia</name>
        <label>Assign Owner Kootenay-Columbia</label>
        <locationX>5594</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Kootenay_Columbia.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Maple_Ridge_Pitt_Meadows_Team_1</name>
        <label>Assign Owner Maple Ridge Pitt Meadows Team 1</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Maple_Ridge_Pitt_Meadows_Team_1.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Maple_Ridge_Pitt_Meadows_Team_2</name>
        <label>Assign Owner Maple Ridge Pitt Meadows Team 2</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Maple_Ridge_Pitt_Meadows_Team_2.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Maple_Ridge_Pitt_Meadows_Team_3</name>
        <label>Assign Owner Maple Ridge-Pitt Meadows Team 3</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Maple_Ridge_Pitt_Meadows_Team_3.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Mission_Team1</name>
        <label>Assign Owner Mission Team1</label>
        <locationX>4274</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Mission_Team1.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Mission_Team2</name>
        <label>Assign Owner Mission Team2</label>
        <locationX>4538</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Mission_Team2.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Nanaimo_Ladysmith_Team1</name>
        <label>Assign Owner Nanaimo-Ladysmith Team1</label>
        <locationX>3218</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Nanaimo_Ladysmith_Team1.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Nanaimo_Ladysmith_Team2</name>
        <label>Assign Owner Nanaimo-Ladysmith Team2</label>
        <locationX>3482</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Nanaimo_Ladysmith_Team2.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Nanaimo_Ladysmith_Team3</name>
        <label>Assign Owner Nanaimo-Ladysmith Team3</label>
        <locationX>3746</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Nanaimo_Ladysmith_Team3.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Nanaimo_Ladysmith_Team4</name>
        <label>Assign Owner Nanaimo-Ladysmith Team4</label>
        <locationX>4010</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Nanaimo_Ladysmith_Team4.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Nicola_Similkameen</name>
        <label>Assign Owner  Nicola Similkameen</label>
        <locationX>7178</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Nicola_Similkameen.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_North_Okanagan_Shuswap</name>
        <label>Assign Owner North Okanagan Shuswap</label>
        <locationX>5330</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_North_Okanagan_Shuswap.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Okanagan_Similkameen</name>
        <label>Assign Owner Okanagan Similkameen</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Okanagan_Similkameen.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Pacific_Rim</name>
        <label>Assign Owner Pacific Rim</label>
        <locationX>5066</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Pacific_Rim.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Peace_River_South</name>
        <label>Assign Owner Peace River South</label>
        <locationX>7442</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Peace_River_South.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_qathet_Powell_River</name>
        <label>Assign Owner qathet(Powell River)</label>
        <locationX>4802</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_qathet_Powell_River.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Qualicum</name>
        <label>Assign Owner Qualicum</label>
        <locationX>7706</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Qualicum.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Richmond_Team_1</name>
        <label>Assign Owner Richmond Team 1</label>
        <locationX>2162</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Richmond_Team_1.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Richmond_Team_2</name>
        <label>Assign Owner Richmond Team 2</label>
        <locationX>2426</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Richmond_Team_2.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Richmond_Team_3</name>
        <label>Assign Owner Richmond Team 3</label>
        <locationX>2690</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Richmond_Team_3.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Richmond_Team_4</name>
        <label>Assign Owner Richmond Team 4</label>
        <locationX>2954</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Richmond_Team_4.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Surrey</name>
        <label>Assign Owner Surrey</label>
        <locationX>7970</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Surrey.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_Referral_is_ICY</name>
        <label>Check If Referral is ICY</label>
        <locationX>4934</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ICY_General_Or_Medical</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ICY_General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ICY_Medical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referral_Owner_Id</targetReference>
            </connector>
            <label>ICY General Or Medical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Referral_Owner_Id</name>
        <label>Update Referral Owner Id</label>
        <locationX>3218</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maple_Ridge_Pitt_Meadows_Team_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maple Ridge-Pitt Meadows Team 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Maple_Ridge_Pitt_Meadows_Team_1</targetReference>
            </connector>
            <label>Maple Ridge Pitt Meadows Team 1</label>
        </rules>
        <rules>
            <name>Okanagan_Similkameen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Okanagan-Similkameen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Okanagan_Similkameen</targetReference>
            </connector>
            <label>Okanagan Similkameen</label>
        </rules>
        <rules>
            <name>Maple_Ridge_Pitt_Meadows_Team_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maple Ridge-Pitt Meadows Team 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Maple_Ridge_Pitt_Meadows_Team_2</targetReference>
            </connector>
            <label>Maple Ridge Pitt Meadows Team 2</label>
        </rules>
        <rules>
            <name>Maple_Ridge_Pitt_Meadows_Team_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maple Ridge-Pitt Meadows Team 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Maple_Ridge_Pitt_Meadows_Team_3</targetReference>
            </connector>
            <label>Maple Ridge Pitt Meadows Team 3</label>
        </rules>
        <rules>
            <name>Comox_Valley_Team_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comox Valley Team 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Comox_Valley_Team_1</targetReference>
            </connector>
            <label>Comox Valley Team 1</label>
        </rules>
        <rules>
            <name>Comox_Valley_Team_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comox Valley Team 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Comox_Valley_Team_2</targetReference>
            </connector>
            <label>Comox Valley Team 2</label>
        </rules>
        <rules>
            <name>Coast_Mountains_Team_Hazelton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coast Mountains Team Hazelton</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Coast_Mountains_Team_Hazelton</targetReference>
            </connector>
            <label>Coast Mountains Team Hazelton</label>
        </rules>
        <rules>
            <name>Coast_Mountains_Team_Terrace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coast Mountains Team Terrace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_record_Coast_Mountains_Team_Terrace</targetReference>
            </connector>
            <label>Coast Mountains Team Terrace</label>
        </rules>
        <rules>
            <name>Richmond_Team_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Richmond Team 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Richmond_Team_1</targetReference>
            </connector>
            <label>Richmond Team 1</label>
        </rules>
        <rules>
            <name>Richmond_Team_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Richmond Team 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Richmond_Team_2</targetReference>
            </connector>
            <label>Richmond Team 2</label>
        </rules>
        <rules>
            <name>Richmond_Team_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Richmond Team 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Richmond_Team_3</targetReference>
            </connector>
            <label>Richmond Team 3</label>
        </rules>
        <rules>
            <name>Richmond_Team_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Richmond Team 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Richmond_Team_4</targetReference>
            </connector>
            <label>Richmond Team 4</label>
        </rules>
        <rules>
            <name>Nanaimo_Ladysmith_Team_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nanaimo-Ladysmith Team 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Nanaimo_Ladysmith_Team1</targetReference>
            </connector>
            <label>Nanaimo-Ladysmith Team 1</label>
        </rules>
        <rules>
            <name>Nanaimo_Ladysmith_Team_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nanaimo-Ladysmith Team 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Nanaimo_Ladysmith_Team2</targetReference>
            </connector>
            <label>Nanaimo-Ladysmith Team 2</label>
        </rules>
        <rules>
            <name>Nanaimo_Ladysmith_Team_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nanaimo-Ladysmith Team 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Nanaimo_Ladysmith_Team3</targetReference>
            </connector>
            <label>Nanaimo-Ladysmith Team 3</label>
        </rules>
        <rules>
            <name>Nanaimo_Ladysmith_Team_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nanaimo-Ladysmith Team 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Nanaimo_Ladysmith_Team4</targetReference>
            </connector>
            <label>Nanaimo-Ladysmith Team 4</label>
        </rules>
        <rules>
            <name>Mission_Team_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission Team 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Mission_Team1</targetReference>
            </connector>
            <label>Mission Team 1</label>
        </rules>
        <rules>
            <name>Mission_Team_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission Team 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Mission_Team2</targetReference>
            </connector>
            <label>Mission Team 2</label>
        </rules>
        <rules>
            <name>qathet_Powell_River</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>qathet (Powell River)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_qathet_Powell_River</targetReference>
            </connector>
            <label>qathet (Powell River)</label>
        </rules>
        <rules>
            <name>Pacific_Rim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pacific Rim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Pacific_Rim</targetReference>
            </connector>
            <label>Pacific Rim</label>
        </rules>
        <rules>
            <name>North_Okanagan_Shuswap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North Okanagan Shuswap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_North_Okanagan_Shuswap</targetReference>
            </connector>
            <label>North Okanagan Shuswap</label>
        </rules>
        <rules>
            <name>Kootenay_Columbia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kootenay-Columbia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Kootenay_Columbia</targetReference>
            </connector>
            <label>Kootenay-Columbia</label>
        </rules>
        <rules>
            <name>Fraser_Cascades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraser Cascades</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_Fraser_Cascades</targetReference>
            </connector>
            <label>Fraser Cascades</label>
        </rules>
        <rules>
            <name>Central_Coast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central Coast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Central_Coast</targetReference>
            </connector>
            <label>Central Coast</label>
        </rules>
        <rules>
            <name>Cowichan_Valley</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cowichan Valley</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Cowichan_Valley</targetReference>
            </connector>
            <label>Cowichan Valley</label>
        </rules>
        <rules>
            <name>Delta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Delta</targetReference>
            </connector>
            <label>Delta</label>
        </rules>
        <rules>
            <name>Gold_Trail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold Trail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Gold_Trail</targetReference>
            </connector>
            <label>Gold Trail</label>
        </rules>
        <rules>
            <name>Nicola_Similkameen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nicola-Similkameen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Nicola_Similkameen</targetReference>
            </connector>
            <label>Nicola Similkameen</label>
        </rules>
        <rules>
            <name>Peace_River_South</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peace River South</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Peace_River_South</targetReference>
            </connector>
            <label>Peace River South</label>
        </rules>
        <rules>
            <name>Qualicum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualicum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Qualicum</targetReference>
            </connector>
            <label>Qualicum</label>
        </rules>
        <rules>
            <name>Surrey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Geographic_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surrey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Surrey</targetReference>
            </connector>
            <label>Surrey</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ICY Referral Owner Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICY Referral Owner Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_record_Coast_Mountains_Team_Hazelton</name>
        <label>Get record Coast Mountains Team Hazelton</label>
        <locationX>1634</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Coast_Mountains_Team_Hazelton</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoastMountainsTeamHazelton</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record_Coast_Mountains_Team_Terrace</name>
        <label>get record Coast Mountains Team Terrace</label>
        <locationX>1898</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_owner_get_record_Coast_Mountains_Team_Terrace</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoastMountainsTeamTerrace</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Comox_Valley_Team_1</name>
        <label>Get Record Comox Valley Team 1</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Comox_Valley_Team_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComoxValleyTeam1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Comox_Valley_Team_2</name>
        <label>Get Record Comox Valley Team 2</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Comox_Valley_Team_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComoxValleyTeam2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Fraser_Cascades</name>
        <label>Get record Fraser Cascades</label>
        <locationX>5858</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Fraser_Cascades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FraserCascades</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Kootenay_Columbia</name>
        <label>Get record Kootenay-Columbia</label>
        <locationX>5594</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Kootenay_Columbia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KootenayColumbia</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Maple_Ridge_Pitt_Meadows_Team_1</name>
        <label>Get Record Maple Ridge Pitt Meadows Team 1</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Maple_Ridge_Pitt_Meadows_Team_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MapleRidgePittMeadowsTeam1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Maple_Ridge_Pitt_Meadows_Team_2</name>
        <label>Get Record Maple Ridge Pitt Meadows Team 2</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Maple_Ridge_Pitt_Meadows_Team_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MapleRidgePittMeadowsTeam2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Maple_Ridge_Pitt_Meadows_Team_3</name>
        <label>Get Record Maple Ridge-Pitt Meadows Team 3</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Maple_Ridge_Pitt_Meadows_Team_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MapleRidgePittMeadowsTeam3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Mission_Team1</name>
        <label>Get record Mission Team1</label>
        <locationX>4274</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Mission_Team1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICYMissionTeam1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Mission_Team2</name>
        <label>Get record Mission Team2</label>
        <locationX>4538</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Mission_Team2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICYMissionTeam2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Nanaimo_Ladysmith_Team1</name>
        <label>Get record Nanaimo-Ladysmith Team1</label>
        <locationX>3218</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Nanaimo_Ladysmith_Team1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nanaimo_LadysmithTeam1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Nanaimo_Ladysmith_Team2</name>
        <label>Get record Nanaimo-Ladysmith Team2</label>
        <locationX>3482</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Nanaimo_Ladysmith_Team2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NanaimoLadysmithTeam2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Nanaimo_Ladysmith_Team3</name>
        <label>Get record Nanaimo-Ladysmith Team3</label>
        <locationX>3746</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Nanaimo_Ladysmith_Team3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NanaimoLadysmithTeam3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Nanaimo_Ladysmith_Team4</name>
        <label>Get record Nanaimo-Ladysmith Team4</label>
        <locationX>4010</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Nanaimo_Ladysmith_Team4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NanaimoLadysmithTeam4</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_North_Okanagan_Shuswap</name>
        <label>Get record North Okanagan Shuswap</label>
        <locationX>5330</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_North_Okanagan_Shuswap</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NorthOkanaganShuswap</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Okanagan_Similkameen</name>
        <label>Get Record Okanagan Similkameen</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Okanagan_Similkameen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OkanaganSimilkameen</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Pacific_Rim</name>
        <label>Get record Pacific Rim</label>
        <locationX>5066</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Pacific_Rim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PacificRim</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_qathet_Powell_River</name>
        <label>Get record qathet(Powell River)</label>
        <locationX>4802</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_qathet_Powell_River</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>qathetPowellRiver</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Richmond_Team_1</name>
        <label>Get Record Richmond Team 1</label>
        <locationX>2162</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Richmond_Team_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RichmondTeam1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Richmond_Team_2</name>
        <label>Get record Richmond Team 2</label>
        <locationX>2426</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Richmond_Team_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Richmond_Team_2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Richmond_Team_3</name>
        <label>Get record Richmond Team 3</label>
        <locationX>2690</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Richmond_Team_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RichmondTeam3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Richmond_Team_4</name>
        <label>Get record Richmond Team 4</label>
        <locationX>2954</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Richmond_Team_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RichmondTeam4</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Central_Coast</name>
        <label>Get Records Central Coast</label>
        <locationX>6122</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Central_Coast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CentralCoast</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Cowichan_Valley</name>
        <label>Get Records Cowichan Valley</label>
        <locationX>6386</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Cowichan_Valley</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CowichanValley</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Delta</name>
        <label>Get Records Delta</label>
        <locationX>6650</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Delta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICYDelta</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Gold_Trail</name>
        <label>Get Records Gold Trail</label>
        <locationX>6914</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Gold_Trail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GoldTrail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Nicola_Similkameen</name>
        <label>Get Records Nicola Similkameen</label>
        <locationX>7178</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Nicola_Similkameen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NicolaSimilkameen</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Peace_River_South</name>
        <label>Get Records Peace River South</label>
        <locationX>7442</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Peace_River_South</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PeaceRiverSouth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Qualicum</name>
        <label>Get Records Qualicum</label>
        <locationX>7706</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Qualicum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICYQualicum</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Surrey</name>
        <label>Get Records Surrey</label>
        <locationX>7970</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Surrey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICYSurrey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>4808</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Referral_is_ICY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICY_Geographic_Area__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ICY_Geographic_Area__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CentralCoast</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Central_Coast</stringValue>
        </value>
    </variables>
    <variables>
        <name>CoastMountainsTeamHazelton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Coast_Mountains_Team_Hazelton</stringValue>
        </value>
    </variables>
    <variables>
        <name>CoastMountainsTeamTerrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Coast_Mountains_Team_Terrace</stringValue>
        </value>
    </variables>
    <variables>
        <name>ComoxValleyTeam1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Comox_Valley_Team_1</stringValue>
        </value>
    </variables>
    <variables>
        <name>ComoxValleyTeam2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Comox_Valley_Team_2</stringValue>
        </value>
    </variables>
    <variables>
        <name>CowichanValley</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Cowichan_Valley</stringValue>
        </value>
    </variables>
    <variables>
        <name>FraserCascades</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Fraser_Cascades</stringValue>
        </value>
    </variables>
    <variables>
        <name>GoldTrail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Gold_Trail</stringValue>
        </value>
    </variables>
    <variables>
        <name>ICYDelta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Delta</stringValue>
        </value>
    </variables>
    <variables>
        <name>ICYMissionTeam1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Mission_Team_1</stringValue>
        </value>
    </variables>
    <variables>
        <name>ICYMissionTeam2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Mission_Team_2</stringValue>
        </value>
    </variables>
    <variables>
        <name>ICYQualicum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Qualicum</stringValue>
        </value>
    </variables>
    <variables>
        <name>ICYSurrey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Surrey</stringValue>
        </value>
    </variables>
    <variables>
        <name>KootenayColumbia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Kootenay_Columbia</stringValue>
        </value>
    </variables>
    <variables>
        <name>MapleRidgePittMeadowsTeam1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Maple_Ridge_Pitt_Meadows_Team_1</stringValue>
        </value>
    </variables>
    <variables>
        <name>MapleRidgePittMeadowsTeam2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Maple_Ridge_Pitt_Meadows_Team_2</stringValue>
        </value>
    </variables>
    <variables>
        <name>MapleRidgePittMeadowsTeam3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Maple_Ridge_Pitt_Meadows_Team_3</stringValue>
        </value>
    </variables>
    <variables>
        <name>Nanaimo_LadysmithTeam1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Nanaimo_Ladysmith_Team_1</stringValue>
        </value>
    </variables>
    <variables>
        <name>NanaimoLadysmithTeam2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Nanaimo_Ladysmith_Team_2</stringValue>
        </value>
    </variables>
    <variables>
        <name>NanaimoLadysmithTeam3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Nanaimo_Ladysmith_Team_3</stringValue>
        </value>
    </variables>
    <variables>
        <name>NanaimoLadysmithTeam4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Nanaimo_Ladysmith_Team_4</stringValue>
        </value>
    </variables>
    <variables>
        <name>NicolaSimilkameen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Nicola_Similkameen</stringValue>
        </value>
    </variables>
    <variables>
        <name>NorthOkanaganShuswap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_North_Okanagan_Shuswap</stringValue>
        </value>
    </variables>
    <variables>
        <name>OkanaganSimilkameen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Okanagan_Similkameen</stringValue>
        </value>
    </variables>
    <variables>
        <name>PacificRim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Pacific_Rim</stringValue>
        </value>
    </variables>
    <variables>
        <name>PeaceRiverSouth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Peace_River_South</stringValue>
        </value>
    </variables>
    <variables>
        <name>qathetPowellRiver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_qathet_Powell_River</stringValue>
        </value>
    </variables>
    <variables>
        <name>RichmondTeam1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Richmond_Team_1</stringValue>
        </value>
    </variables>
    <variables>
        <name>RichmondTeam2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Richmond_Team_2</stringValue>
        </value>
    </variables>
    <variables>
        <name>RichmondTeam3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Richmond_Team_3</stringValue>
        </value>
    </variables>
    <variables>
        <name>RichmondTeam4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ICY_Richmond_Team_4</stringValue>
        </value>
    </variables>
</Flow>
