MAiD - Case Management App/force-app/main/default/flows/ICY_Referral_Owner_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Referral_Updated_Email_Alert</name>
        <label>Referral Updated Email Alert</label>
        <locationX>842</locationX>
        <locationY>587</locationY>
        <actionName>Referral__c.Referral_Updated_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Referral__c.Referral_Updated_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Referral_Created_Email_Notification</name>
        <label>Send Referral Created Email Notification</label>
        <locationX>570</locationX>
        <locationY>502</locationY>
        <actionName>ICY_ReferralFlowHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>referralList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ICY_ReferralFlowHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>New_Referral</name>
        <label>New Referral</label>
        <locationX>740</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Referral_is_Assigned_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Referral</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Referral_Created_Email_Notification</targetReference>
            </connector>
            <label>New Referral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_is_Assigned_to</name>
        <label>Referral is Assigned to</label>
        <locationX>974</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Referral Updated</defaultConnectorLabel>
        <rules>
            <name>Referral_is_Assigned_to_other_than_current_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICY_Assigned_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICY_Assigned_To__r.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Username</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Updated_Email_Alert</targetReference>
            </connector>
            <label>Referral is Assigned to other than current user</label>
        </rules>
    </decisions>
    <description>Added separate email action for when the referral is created or Assigned to other than the current user.</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Referral Record Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICY Referral Owner Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>New_Referral</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
