MAiD - Case Management App/force-app/main/default/flows/ICY_Referral_PHN_Formatting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>isPHNLessThan11Digits</name>
        <label>isPHNLessThan11Digit</label>
        <locationX>572</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPHNnotformatted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPHNLessThan11digit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICY_Personal_Health_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePHNToFormattedValue</targetReference>
            </connector>
            <label>isPHNnot formatted</label>
        </rules>
        <rules>
            <name>isPHNFormatted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsPHNLessThan11digit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICY_Personal_Health_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>isPHNFormatted</label>
        </rules>
    </decisions>
    <description>format PHN to 0000-000-000</description>
    <environments>Default</environments>
    <formulas>
        <name>formattedPHN</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.ICY_Personal_Health_Number__c},4) +&apos;-&apos;+MID({!$Record.ICY_Personal_Health_Number__c}, 5, 3)+&apos;-&apos; +RIGHT({!$Record.ICY_Personal_Health_Number__c},3)</expression>
    </formulas>
    <formulas>
        <name>IsPHNLessThan11digit</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!$Record.ICY_Personal_Health_Number__c}) &lt;11</expression>
    </formulas>
    <interviewLabel>ICY Referral PHN Formatting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICY Referral PHN Formatting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdatePHNToFormattedValue</name>
        <label>UpdatePHNToFormattedValue</label>
        <locationX>903</locationX>
        <locationY>399</locationY>
        <inputAssignments>
            <field>ICY_Personal_Health_Number__c</field>
            <value>
                <elementReference>formattedPHN</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>isPHNLessThan11Digits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICY_Personal_Health_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
