MAiD - Case Management App/force-app/main/default/flows/ICY_Intake_Assign_To_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>All Program Leaders have access to all the data, so no need to create a share record, and thus can ignore this automation flow.</description>
        <name>Check_If_Assigned_To_User_is_a_Program_Leader</name>
        <label>Check If &quot;Assigned To&quot; User is a Program Leader</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Intake_Share_For_New_User_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_To_Is_Program_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICY_Assigned_To__r.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Program Leader</stringValue>
                </rightValue>
            </conditions>
            <label>Assigned To Is Program Leader</label>
        </rules>
    </decisions>
    <description>Update Sharing Settings When ICY_Assigned_To__c field is Modified on Intake Record</description>
    <interviewLabel>ICY Intake Assign To Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICY Intake Assign To Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Intake_Share_For_New_User_0</name>
        <label>Create Intake Share For New User</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.ICY_Assigned_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>Intake__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Assigned_To_User_is_a_Program_Leader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICY_Assigned_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ICY_Assigned_To__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
