MAiD - Case Management App/force-app/main/default/flows/Legislation_Safeguards.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Rule_1_In_Scope</name>
        <label>Rule 1 In Scope</label>
        <locationX>496</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_1_Message_Assignment</name>
        <label>Rule 1 Message Assignment</label>
        <locationX>479</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_1_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_2_In_Scope</name>
        <label>Rule 2 In Scope</label>
        <locationX>836</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_2_Message_Assignment</name>
        <label>Rule 2 Message Assignment</label>
        <locationX>674</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_2_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_36_In_Scope</name>
        <label>Rule 36 In Scope</label>
        <locationX>2187</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_40</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_36_Message_Assignment</name>
        <label>Rule 36 Message Assignment</label>
        <locationX>1821</locationX>
        <locationY>1412</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_36_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_3_In_Scope</name>
        <label>Rule 3 In Scope</label>
        <locationX>1254</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_3_Message_Assignment</name>
        <label>Rule 3 Message Assignment</label>
        <locationX>826</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_3_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_40_In_Scope</name>
        <label>Rule 40 In Scope</label>
        <locationX>1782</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_47_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_40_Message_Assignment</name>
        <label>Rule 40 Message Assignment</label>
        <locationX>1670</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_40_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_47_In_Scope</name>
        <label>Rule 47 In Scope</label>
        <locationX>1428</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_49</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_47_Message_Assignment</name>
        <label>Rule 47 Message Assignment</label>
        <locationX>1175</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_47_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_49_Message_Assignment</name>
        <label>Rule 49 Message Assignment</label>
        <locationX>938</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_49_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_4_In_Scope</name>
        <label>Rule 4 In Scope</label>
        <locationX>1671</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_4_Message_Assignment</name>
        <label>Rule 4 Message Assignment</label>
        <locationX>949</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_4_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_5_In_Scope</name>
        <label>Rule 5 In Scope</label>
        <locationX>2195</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_5_Message_Assignment</name>
        <label>Rule 5 Message Assignment</label>
        <locationX>1068</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_5_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_6_In_Scope</name>
        <label>Rule 6 In Scope</label>
        <locationX>2327</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_6_Message_Assignment</name>
        <label>Rule 6 Message Assignment</label>
        <locationX>1223</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_6_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_7_In_Scope</name>
        <label>Rule 7 In Scope</label>
        <locationX>2458</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_7_Message_Assignment</name>
        <label>Rule 7 Message Assignment</label>
        <locationX>1439</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_7_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_8_In_Scope</name>
        <label>Rule 8 In Scope</label>
        <locationX>2494</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_8_Message_Assignment</name>
        <label>Rule 8 Message Assignment</label>
        <locationX>1911</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_8_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_9_In_Scope</name>
        <label>Rule 9 In Scope</label>
        <locationX>2376</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>is_Not_Applicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_36</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_9_Message_Assignment</name>
        <label>Rule 9 Message Assignment</label>
        <locationX>649</locationX>
        <locationY>1549</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_9_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Not_Applicable_SetMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </constants>
    <constants>
        <name>Not_Applicable_SetNull</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>PASS_All_Rules</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All Legislation and Critical Safeguard Rules Pass</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_1_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 1 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_2_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 2 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_36_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 36 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_3_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 3 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_40_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 40 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_47_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 47 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_49_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 49 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_4_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 4 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_5_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 5 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_6_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 6 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_7_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 7 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_8_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 8 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_9_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 9 Validation Fail</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Not_Applicable_In_Flow</name>
        <label>Not Applicable In Flow</label>
        <locationX>1408</locationX>
        <locationY>1303</locationY>
        <defaultConnector>
            <targetReference>Legislation_PASS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not All Rules (Not Applicable)</defaultConnectorLabel>
        <rules>
            <name>Check_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_Not_Applicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legislation_Not_Applicable</targetReference>
            </connector>
            <label>Check Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_1</name>
        <label>Rule 1</label>
        <locationX>472</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Rule_1_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 1 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_1_Not_Applicable</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_2_0</targetReference>
            </connector>
            <label>Rule 1 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_1_Success</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_eligible_for_health_services_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_at_least_18_years_of_age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_capable_of_making_this_health_ca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_gave_informed_consent_after_bein__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_has_serious_and_incurable_illnes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_in_an_advanced_state_of_irrevers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patients_illness_disease_or_disability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_make_a_voluntary_request_for_MAI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_1_In_Scope</targetReference>
            </connector>
            <label>Rule 1 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_2_0</name>
        <label>Rule 2</label>
        <locationX>658</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Rule_2_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 2 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_2_Not_Applicable_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_3</targetReference>
            </connector>
            <label>Rule 2 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_2_Success_0</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND ((9 AND 21 AND ((6 AND 7) OR 8)) OR 10) AND ((11 AND 23 AND ((13 AND 14) OR 15)) OR 12) AND (16 AND 22 AND ((18 AND 19) OR 20 ) OR 17)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Other_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Other_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_make_a_voluntary_request_for_MAI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_make_a_voluntary_request_for_MAI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patients_illness_disease_or_disability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patients_illness_disease_or_disability__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Patients_Describe_Suffering_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Other_specify_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Patients_Describe_Suffering_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_has_serious_and_incurable_illnes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_has_serious_and_incurable_illnes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_P_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_P_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_yes_select_all_that_apply__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_yes_select_all_that_apply_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_desc_suffering_If_yes_select_all__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_2_In_Scope</targetReference>
            </connector>
            <label>Rule 2 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_3</name>
        <label>Rule 3</label>
        <locationX>938</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Rule_3_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 3 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_3_Not_Applicable</name>
            <conditionLogic>(1 AND 7) OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_H_Cancer_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Cancer_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_4</targetReference>
            </connector>
            <label>Rule 3 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_3_Success</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (((6 AND 7) OR (NOT(6))) AND ((7 AND 8) OR (NOT(8))))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_H_Cancer_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Cancer_Other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Cancer_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_3_In_Scope</targetReference>
            </connector>
            <label>Rule 3 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_36</name>
        <label>Rule 36</label>
        <locationX>2054</locationX>
        <locationY>1091</locationY>
        <defaultConnector>
            <targetReference>Rule_36_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 36 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_36_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_40</targetReference>
            </connector>
            <label>Rule 36 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_36_Success</name>
            <conditionLogic>(1 AND (2 AND 3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2- Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_36_In_Scope</targetReference>
            </connector>
            <label>Rule 36 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_4</name>
        <label>Rule 4</label>
        <locationX>1267</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Rule_4_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 4 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_4_Not_Applicable</name>
            <conditionLogic>(1 AND 7 AND 8 AND 9 ) OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_K_Neurological_condition_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Neurologicalcondition_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Organ_Failure_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Respiratory_Disease_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_5</targetReference>
            </connector>
            <label>Rule 4 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_4_Success</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (((6 AND 7) OR (NOT(6))) AND ((8 AND 7) OR (NOT(8))) AND ((9 AND 10) OR (NOT(9))) AND ((11 AND 12) OR (NOT(11))))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_K_Neurological_condition_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Neurological_condition_other_speci__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Neurologicalcondition_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Organ_Failure_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Organ_Failure_other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Respiratory_Disease_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Respiratory_other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_4_In_Scope</targetReference>
            </connector>
            <label>Rule 4 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_40</name>
        <label>Rule 40</label>
        <locationX>1983</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>Rule_40_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 40 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_40_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_47_0</targetReference>
            </connector>
            <label>Rule 40 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_40_Success</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_selected_3_Does_not_meet_the_criteria_for_MAiD</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_40_In_Scope</targetReference>
            </connector>
            <label>Rule 40 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_47_0</name>
        <label>Rule 47</label>
        <locationX>1652</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Rule_47_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 47 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_47_Not_Applicable_0</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3 - Does not meet the criteria for MAiD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_49</targetReference>
            </connector>
            <label>Rule 47 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_47_Success_0</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR (11 AND 12)) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_eligible_for_health_services_in__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_at_least_18_years_of_age__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_capable_of_making_this_health_ca__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_gave_informed_consent_after_bein__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_has_serious_and_incurable_illnes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_in_an_advanced_state_of_irrevers__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patients_illness_disease_or_disability__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_make_a_voluntary_request_for_MAI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_selected_3_Does_not_meet_the_criteria_for_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_make_a_voluntary_request_for_MAI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_No_why_not_voluntary__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_47_In_Scope</targetReference>
            </connector>
            <label>Rule 47 Success</label>
        </rules>
        <rules>
            <name>Rule_47_Success_1</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9) AND (10 OR 11) AND (12 AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_eligible_for_health_services_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_at_least_18_years_of_age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_capable_of_making_this_health_ca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_gave_informed_consent_after_bein__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_has_serious_and_incurable_illnes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_in_an_advanced_state_of_irrevers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patients_illness_disease_or_disability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_make_a_voluntary_request_for_MAI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_1_Does_Meet_Criteria_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_selected_2_Does_Meet_The_Criteria_For_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_make_a_voluntary_request_for_MAI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_No_why_not_voluntary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_47_In_Scope</targetReference>
            </connector>
            <label>Rule 47 Success 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_49</name>
        <label>Rule 49</label>
        <locationX>1454</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>Rule_49_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 49 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_49_Not_Applicable</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Applicable_In_Flow</targetReference>
            </connector>
            <label>Rule 49 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_49_Success</name>
            <conditionLogic>(1 OR 2) AND 3 AND ((4 AND 5 AND 7) OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_is_capable_of_providing_consent__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_was_referred_for_assessment_of_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Yes_name_of_assessing_practitioner__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_was_referred_for_assessment_of_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.On_receipt_of_assessment_patient_is__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Legislation_PASS</targetReference>
            </connector>
            <label>Rule 49 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_5</name>
        <label>Rule 5</label>
        <locationX>1659</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Rule_5_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 5 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_5_Not_Applicable</name>
            <conditionLogic>(1 AND 7 AND 8 ) OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_M_Cardio_vascular_condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Respiratory_Disease_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Cardio_Vascular_Condition_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_6</targetReference>
            </connector>
            <label>Rule 5 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_5_Success</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (((6 AND 7) OR (NOT(6))) AND((8 AND 7) OR (NOT(8))) AND  ((9 AND 10) OR (NOT(9))))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_M_Cardio_vascular_condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Cardio_vascular_condition_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Cardio_Vascular_Condition_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Respiratory_Disease_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Respiratory_other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_5_In_Scope</targetReference>
            </connector>
            <label>Rule 5 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_6</name>
        <label>Rule 6</label>
        <locationX>2179</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Rule_6_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 6 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_6_Not_Applicable</name>
            <conditionLogic>(7 AND 1) OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_O_Multiple_comorbidities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Other_Condition_Co_Morbidity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_7</targetReference>
            </connector>
            <label>Rule 6 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_6_Success</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (((6 AND 7) OR (NOT(6))) AND ((8 AND 9) OR (NOT(8))))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_O_Multiple_comorbidities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_multiple_co_morbidities_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Other_Condition_Co_Morbidity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Other_Condition_Co_morbidity_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_6_In_Scope</targetReference>
            </connector>
            <label>Rule 6 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_7</name>
        <label>Rule 7</label>
        <locationX>2188</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Rule_7_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 7 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_7_Not_Applicable</name>
            <conditionLogic>1 OR ((2 AND 3 AND 4 AND 5 AND 6) OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_P_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Case__r.Case_Type_Reported_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_8</targetReference>
            </connector>
            <label>Rule 7 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_7_Success</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND ((6 AND (7 AND 8)) AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_P_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Other_specify__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Case__r.Case_Type_Reported_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2023-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_7_In_Scope</targetReference>
            </connector>
            <label>Rule 7 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_8</name>
        <label>Rule 8</label>
        <locationX>2282</locationX>
        <locationY>754</locationY>
        <defaultConnector>
            <targetReference>Rule_8_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 8 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_8_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_9</targetReference>
            </connector>
            <label>Rule 8 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_8_Success</name>
            <conditionLogic>(1 AND (2 AND (3 AND 4)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_1_Does_Meet_Criteria_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.I_determine_that_the_patient__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_8_In_Scope</targetReference>
            </connector>
            <label>Rule 8 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_9</name>
        <label>Rule 9</label>
        <locationX>2382</locationX>
        <locationY>966</locationY>
        <defaultConnector>
            <targetReference>Rule_9_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 9 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_9_Not_Applicable</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_36</targetReference>
            </connector>
            <label>Rule 9 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_9_Success</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND ((7 AND 8) OR 9) AND ((5 AND 11) OR (6 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_is_capable_of_providing_consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1- I have no concerns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.On_receipt_of_assessment_patient_is__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Is capable of providing informed consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_was_referred_for_assessment_of_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.If_Yes_name_of_assessing_practitioner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_was_referred_for_assessment_of_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.Patient_is_capable_of_providing_consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - I have reasons to be concerned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form_1634.On_receipt_of_assessment_patient_is__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2 - Is not capable of providing informed consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_9_In_Scope</targetReference>
            </connector>
            <label>Rule 9 Success</label>
        </rules>
    </decisions>
    <description>Rule 47 Update latest change after lara suggestion</description>
    <environments>Default</environments>
    <formulas>
        <name>is_If_other_specify</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.Patient_desc_suffering_If_yes_select_all__c},&apos;Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_1_Does_Meet_Criteria_Eligibility</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Get_Form_1634.I_determine_that_the_patient__c},&apos;1 - Does meet the criteria for MAiD and natural death IS reasonably foreseeable&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_selected_2_Does_Meet_The_Criteria_For_MAiD</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Get_Form_1634.I_determine_that_the_patient__c},&apos;2- Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable&apos;)</expression>
    </formulas>
    <formulas>
        <description>Form 1634 Section Conclusion of eligibility
I determine that the patient: = 3 - Does not meet the criteria for MAiD</description>
        <name>is_selected_3_Does_not_meet_the_criteria_for_MAiD</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Get_Form_1634.I_determine_that_the_patient__c},&apos;3 - Does not meet the criteria for MAiD&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Cancer_Other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;Cancer - Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Cardio_Vascular_Condition_Other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;Cardio-vascular condition - Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_H_Cancer_other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;H - Cancer - other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_K_Neurological_condition_other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;K - Neurological condition - other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_M_Cardio_vascular_condition</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;M - Cardio-vascular condition&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Neurologicalcondition_Other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;Neurological condition - Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_O_Multiple_comorbidities</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;O - Multiple co-morbidities&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Organ_Failure_Other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;Organ Failure - Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Other_Condition_Co_Morbidity</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;Other Condition / Co-Morbidity&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Other_Eligibility</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply__c},&apos;Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_P_Other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;P - Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Patients_Describe_Suffering_Eligibility</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.Patient_desc_suffering_If_yes_select_all__c},&apos;Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Respiratory_Disease_Other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!Get_Form_1634.If_yes_select_all_that_apply_1__c},&apos;Respiratory Disease - Other&apos;)</expression>
    </formulas>
    <interviewLabel>Legislation Safeguards {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legislation Safeguards</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>174</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Form_1634</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Legislation_and_Critical_Safeguards__c</queriedFields>
        <queriedFields>Legislation_and_Critical_Feedback_Msg__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_1634</name>
        <label>Get Form 1634</label>
        <locationX>304</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rule_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Form_1634__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Legislation_FAIL</name>
        <label>Legislation FAIL</label>
        <locationX>824</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legislation_and_Critical_Feedback_Msg__c</field>
            <value>
                <elementReference>ListCaseDetail.Legislation_and_Critical_Feedback_Msg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legislation_and_Critical_Safeguards__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Legislation_Not_Applicable</name>
        <label>Legislation Not Applicable</label>
        <locationX>1090</locationX>
        <locationY>1359</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legislation_and_Critical_Feedback_Msg__c</field>
            <value>
                <elementReference>Not_Applicable_SetMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legislation_and_Critical_Safeguards__c</field>
            <value>
                <elementReference>Not_Applicable_SetNull</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Legislation_PASS</name>
        <label>Legislation PASS</label>
        <locationX>1084</locationX>
        <locationY>1170</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legislation_and_Critical_Feedback_Msg__c</field>
            <value>
                <elementReference>PASS_All_Rules</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legislation_and_Critical_Safeguards__c</field>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error_Log</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MAiD_Case</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>is_Not_Applicable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
