MAiD - Case Management App/force-app/main/default/flows/Legislation_Safeguards.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Rule_1_Message_Assignment</name>
        <label>Rule 1 Message Assignment</label>
        <locationX>336</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_1_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_2_Message_Assignment</name>
        <label>Rule 2 Message Assignment</label>
        <locationX>366</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_2_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_3_Message_Assignment</name>
        <label>Rule 3 Message Assignment</label>
        <locationX>482</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_3_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_4_Message_Assignment</name>
        <label>Rule 4 Message Assignment</label>
        <locationX>644</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_4_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_5_Message_Assignment</name>
        <label>Rule 5 Message Assignment</label>
        <locationX>751</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_5_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_6_Message_Assignment</name>
        <label>Rule 6 Message Assignment</label>
        <locationX>960</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_6_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_7_Message_Assignment</name>
        <label>Rule 7 Message Assignment</label>
        <locationX>1079</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_7_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_8_Message_Assignment</name>
        <label>Rule 8 Message Assignment</label>
        <locationX>1459</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_8_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_9_Message_Assignment</name>
        <label>Rule 9 Message Assignment</label>
        <locationX>852</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_9_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legislation_FAIL</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Rule_1_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 1 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_2_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 2 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_3_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 3 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_4_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 4 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_5_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 5 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_6_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 6 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_7_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 7 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_8_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 8 Validation Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule_9_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 9 Validation Fail</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Rule_1</name>
        <label>Rule 1</label>
        <locationX>90</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Rule_1_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 1 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_1_Not_Applicable</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_2</targetReference>
            </connector>
            <label>Rule 1 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_1_Success</name>
            <conditionLogic>(1 or 2 or 3 or 4) and (5 and 6 and 7 and 8 and 9 and 10 and 11 and 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_eligible_for_health_services_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_at_least_18_years_of_age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_capable_of_making_this_health_ca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_make_a_voluntary_request_for_MAI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_gave_informed_consent_after_bein__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_has_serious_and_incurable_illnes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_in_an_advanced_state_of_irrevers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patients_illness_disease_or_disability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_2</targetReference>
            </connector>
            <label>Rule 1 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_2</name>
        <label>Rule 2</label>
        <locationX>351</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Rule_2_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 2 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_2_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <label>Rule 2 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_2_Success</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) and ((6 and 7) or 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_Other_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.If_other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.If_yes_select_all_that_apply__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_3</targetReference>
            </connector>
            <label>Rule 2 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_3</name>
        <label>Rule 3</label>
        <locationX>486</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>Rule_3_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 3 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_3_Not_Applicable</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_H_Cancer_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_4</targetReference>
            </connector>
            <label>Rule 3 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_3_Success</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) and (6 and 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_H_Cancer_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.If_Cancer_Other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_4</targetReference>
            </connector>
            <label>Rule 3 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_4</name>
        <label>Rule 4</label>
        <locationX>587</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>Rule_4_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 4 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_4_Not_Applicable</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_K_Neurological_condition_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_5</targetReference>
            </connector>
            <label>Rule 4 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_4_Success</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) and (6 and 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_K_Neurological_condition_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.If_Neurological_condition_other_speci__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_5</targetReference>
            </connector>
            <label>Rule 4 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_5</name>
        <label>Rule 5</label>
        <locationX>805</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>Rule_5_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 5 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_5_Not_Applicable</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_M_Cardio_vascular_condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_6</targetReference>
            </connector>
            <label>Rule 5 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_5_Success</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) and (6 and 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_M_Cardio_vascular_condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.If_Cardio_vascular_condition_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_6</targetReference>
            </connector>
            <label>Rule 5 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_6</name>
        <label>Rule 6</label>
        <locationX>974</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Rule_6_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 6 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_6_Not_Applicable</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_O_Multiple_comorbidities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_7</targetReference>
            </connector>
            <label>Rule 6 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_6_Success</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) and (6 and 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_O_Multiple_comorbidities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.If_multiple_co_morbidities_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_7</targetReference>
            </connector>
            <label>Rule 6 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_7</name>
        <label>Rule 7</label>
        <locationX>1137</locationX>
        <locationY>31</locationY>
        <defaultConnector>
            <targetReference>Rule_7_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 7 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_7_Not_Applicable</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>is_Selected_P_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_8</targetReference>
            </connector>
            <label>Rule 7 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_7_Success</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) and (6 and (7 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_P_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Other_specify__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Other_specify__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_8</targetReference>
            </connector>
            <label>Rule 7 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_8</name>
        <label>Rule 8</label>
        <locationX>1455</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Rule_8_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 8 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_8_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_9</targetReference>
            </connector>
            <label>Rule 8 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_8_Success</name>
            <conditionLogic>(1 AND (2 AND (3 AND 4)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Selected_1_Does_Meet_Criteria_Eligibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_determine_that_the_patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_determine_that_the_patient__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_9</targetReference>
            </connector>
            <label>Rule 8 Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_9</name>
        <label>Rule 9</label>
        <locationX>1035</locationX>
        <locationY>707</locationY>
        <defaultConnector>
            <targetReference>Rule_9_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 9 Fails</defaultConnectorLabel>
        <rules>
            <name>Rule_9_Not_Applicable</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <label>Rule 9 Not Applicable</label>
        </rules>
        <rules>
            <name>Rule_9_Success</name>
            <conditionLogic>(1 or 2 or 3 or 4) and ((5 or 6) Or (7 and 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_is_capable_of_providing_consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1- I have no concerns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_receipt_of_assessment_patient_is__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Is capable of providing informed consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Patient_was_referred_for_assessment_of_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.If_Yes_name_of_assessing_practitioner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legislation_Safeguards_PASS</targetReference>
            </connector>
            <label>Rule 9 Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>is_Selected_1_Does_Meet_Criteria_Eligibility</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.I_determine_that_the_patient__c},&apos;1 - Does meet the criteria for MAiD and natural death IS reasonably foreseeable&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_H_Cancer_other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!$Record.If_yes_select_all_that_apply_1__c},&apos;H - Cancer - other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_K_Neurological_condition_other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!$Record.If_yes_select_all_that_apply_1__c},&apos;K - Neurological condition - other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_M_Cardio_vascular_condition</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!$Record.If_yes_select_all_that_apply_1__c},&apos;M - Cardio-vascular condition&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_O_Multiple_comorbidities</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!$Record.If_yes_select_all_that_apply_1__c},&apos;O - Multiple co-morbidities&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_Other_Eligibility</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!$Record.If_yes_select_all_that_apply__c},&apos;Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_P_Other</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!$Record.If_yes_select_all_that_apply_1__c},&apos;P - Other&apos;)</expression>
    </formulas>
    <formulas>
        <name>is_Selected_P_Other_Test</name>
        <dataType>String</dataType>
        <expression>IF(Includes({!$Record.If_yes_select_all_that_apply_1__c},&apos;P - Other&apos;),&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <interviewLabel>Legislation Safeguards {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legislation Safeguards</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Legislation_FAIL</name>
        <label>Legislation FAIL</label>
        <locationX>644</locationX>
        <locationY>700</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legislation_and_Critical_Feedback_Msg__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legislation_and_Critical_Safeguards__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Legislation_Safeguards_PASS</name>
        <label>Legislation PASS</label>
        <locationX>1530</locationX>
        <locationY>717</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legislation_and_Critical_Feedback_Msg__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legislation_and_Critical_Safeguards__c</field>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>30</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Rule_1</targetReference>
        </connector>
        <object>Form_1634__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Inactive</status>
</Flow>
