MAiD - Case Management App/force-app/main/default/flows/MAiD_Flows_Q55.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Extracted_Value_to_List</name>
        <label>Add Extracted Value to List</label>
        <locationX>1071</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>extractedValuesPicklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Values_for_Formatting</name>
        <label>Assign Selected Values for Formatting</label>
        <locationX>578</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>rawMultiSelectPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_desc_suffering_If_yes_select_all__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FormatPicklistValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Q55Fields</name>
        <label>Assignment_Q55Fields</label>
        <locationX>281</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55H__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55I__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_All_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_Picklist_Values</name>
        <label>Extract Picklist Values</label>
        <locationX>993</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FormatPicklistValues</name>
        <label>FormatPicklistValues</label>
        <locationX>693</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatedAddSemicolon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55A_Assignment</name>
        <label>Q55A Assignment</label>
        <locationX>1650</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55B_Assignment</name>
        <label>Q55B Assignment</label>
        <locationX>1640</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55C_Assignment</name>
        <label>Q55C Assignment</label>
        <locationX>1638</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55D_Assignment</name>
        <label>Q55D Assignment</label>
        <locationX>1641</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55E_Assignment</name>
        <label>Q55E Assignment</label>
        <locationX>1638</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55F_Assignment</name>
        <label>Q55F Assignment</label>
        <locationX>1207</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55G_Assignment</name>
        <label>Q55G Assignment</label>
        <locationX>1063</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55H_Assignment</name>
        <label>Q55H Assignment</label>
        <locationX>926</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55H__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q55I_Assignment</name>
        <label>Q55I Assignment</label>
        <locationX>810</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q55I__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Values_Parsed</name>
        <label>All Values Parsed</label>
        <locationX>857</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_Value_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedPicklistValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Q55_All_Fields</name>
        <label>Decision_Q55 All Fields</label>
        <locationX>1114</locationX>
        <locationY>496</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q55A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loss of ability to engage in activities making life meaningful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55A_Assignment</targetReference>
            </connector>
            <label>Q55A</label>
        </rules>
        <rules>
            <name>Q55B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loss of dignity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55B_Assignment</targetReference>
            </connector>
            <label>Q55B</label>
        </rules>
        <rules>
            <name>Q55C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Isolation or loneliness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55C_Assignment</targetReference>
            </connector>
            <label>Q55C</label>
        </rules>
        <rules>
            <name>Q55D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loss of ability to perform activities of daily living</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55D_Assignment</targetReference>
            </connector>
            <label>Q55D</label>
        </rules>
        <rules>
            <name>Q55E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loss of control of bodily functions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55E_Assignment</targetReference>
            </connector>
            <label>Q55E</label>
        </rules>
        <rules>
            <name>Q55F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perceived burden on family, friends or caregivers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55F_Assignment</targetReference>
            </connector>
            <label>Q55F</label>
        </rules>
        <rules>
            <name>Q55G</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inadequate pain control, or concern about it</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55G_Assignment</targetReference>
            </connector>
            <label>Q55G</label>
        </rules>
        <rules>
            <name>Q55H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inadequate control of other symptoms, or concern about it</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55H_Assignment</targetReference>
            </connector>
            <label>Q55H</label>
        </rules>
        <rules>
            <name>Q55I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q55I_Assignment</targetReference>
            </connector>
            <label>Q55I</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_All_Null</name>
        <label>Is All Null</label>
        <locationX>399</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Values_for_Formatting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_desc_suffering_If_yes_select_all__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Null_Q55_Records</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>formatedAddSemicolon</name>
        <dataType>String</dataType>
        <expression>{!rawMultiSelectPicklistValues} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!formattedPicklistValues} , 
              FIND(
                     &quot;;&quot;,{!formattedPicklistValues}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>removeOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedPicklistValues},  {!formulaOnePicklistValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <interviewLabel>MAiD_Flows_Q55 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAiD_Flows_Q55</label>
    <loops>
        <name>AddLoop</name>
        <label>AddLoop</label>
        <locationX>965</locationX>
        <locationY>361</locationY>
        <collectionReference>extractedValuesPicklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Q55_All_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record_Q55</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Null_Q55_Records</name>
        <label>Update Null Q55 Records</label>
        <locationX>439</locationX>
        <locationY>374</locationY>
        <inputAssignments>
            <field>ELG_Q55A__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q55B__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q55C__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q55D__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q55E__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q55F__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q55G__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q55H__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q55I__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Q55</name>
        <label>Update Record Q55</label>
        <locationX>788</locationX>
        <locationY>362</locationY>
        <inputReference>updateRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Assignment_Q55Fields</targetReference>
        </connector>
        <object>Form_1634__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>extractedValuesPicklist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rawMultiSelectPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1634__c</objectType>
    </variables>
</Flow>
