MAiD - Case Management App/force-app/main/default/flows/MAiD_Flows_Q70.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Extracted_Value_to_List</name>
        <label>Add Extracted Value to List</label>
        <locationX>1071</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>extractedValuesPicklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Values_for_Formatting</name>
        <label>Assign Selected Values for Formatting</label>
        <locationX>578</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>rawMultiSelectPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Profession_if_yes_select_all_that_apply__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FormatPicklistValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Q70Fields</name>
        <label>Assignment_Q70Fields</label>
        <locationX>281</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70H__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70I__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_All_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_Picklist_Values</name>
        <label>Extract Picklist Values</label>
        <locationX>993</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FormatPicklistValues</name>
        <label>FormatPicklistValues</label>
        <locationX>693</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatedAddSemicolon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70A_Assignment</name>
        <label>Q70A Assignment</label>
        <locationX>1650</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70B_Assignment</name>
        <label>Q70B Assignment</label>
        <locationX>1640</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70C_Assignment</name>
        <label>Q70C Assignment</label>
        <locationX>1638</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70D_Assignment</name>
        <label>Q70D Assignment</label>
        <locationX>1641</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70E_Assignment</name>
        <label>Q70E Assignment</label>
        <locationX>1638</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70F_Assignment</name>
        <label>Q70F Assignment</label>
        <locationX>1199</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70G_Assignment</name>
        <label>Q70G Assignment</label>
        <locationX>1063</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70H_Assignment</name>
        <label>Q70H Assignment</label>
        <locationX>926</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70H__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q70I_Assignment</name>
        <label>Q70I Assignment</label>
        <locationX>810</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q70I__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Values_Parsed</name>
        <label>All Values Parsed</label>
        <locationX>857</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_Value_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedPicklistValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Q70_All_Fields</name>
        <label>Decision_Q70 All Fields</label>
        <locationX>1114</locationX>
        <locationY>496</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q70A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A - Nurse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70A_Assignment</targetReference>
            </connector>
            <label>Q70A</label>
        </rules>
        <rules>
            <name>Q70B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B - Oncologist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70B_Assignment</targetReference>
            </connector>
            <label>Q70B</label>
        </rules>
        <rules>
            <name>Q70C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C - Palliative care specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70C_Assignment</targetReference>
            </connector>
            <label>Q70C</label>
        </rules>
        <rules>
            <name>Q70D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D - Primary care provide</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70D_Assignment</targetReference>
            </connector>
            <label>Q70D</label>
        </rules>
        <rules>
            <name>Q70E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E - Psychiatrist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70E_Assignment</targetReference>
            </connector>
            <label>Q70E</label>
        </rules>
        <rules>
            <name>Q70F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F - Psychologist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70F_Assignment</targetReference>
            </connector>
            <label>Q70F</label>
        </rules>
        <rules>
            <name>Q70G</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G - Social Worker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70G_Assignment</targetReference>
            </connector>
            <label>Q70G</label>
        </rules>
        <rules>
            <name>Q70H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H - Speech pathologist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70H_Assignment</targetReference>
            </connector>
            <label>Q70H</label>
        </rules>
        <rules>
            <name>Q70I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I - Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q70I_Assignment</targetReference>
            </connector>
            <label>Q70I</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_All_Null</name>
        <label>Is All Null</label>
        <locationX>399</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Values_for_Formatting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profession_if_yes_select_all_that_apply__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Null_Q70_Records</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>formatedAddSemicolon</name>
        <dataType>String</dataType>
        <expression>{!rawMultiSelectPicklistValues} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!formattedPicklistValues} , 
              FIND(
                     &quot;;&quot;,{!formattedPicklistValues}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>removeOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedPicklistValues},  {!formulaOnePicklistValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <interviewLabel>Form1634_Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAiD_Flows_Q70</label>
    <loops>
        <name>AddLoop</name>
        <label>AddLoop</label>
        <locationX>965</locationX>
        <locationY>361</locationY>
        <collectionReference>extractedValuesPicklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Q70_All_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record_Q70</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Null_Q70_Records</name>
        <label>Update Null Q70 Records</label>
        <locationX>439</locationX>
        <locationY>374</locationY>
        <inputAssignments>
            <field>ELG_Q70A__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q70B__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q70C__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q70D__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q70E__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q70F__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q70G__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q70H__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Q70</name>
        <label>Update Record Q70</label>
        <locationX>788</locationX>
        <locationY>362</locationY>
        <inputReference>updateRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Assignment_Q70Fields</targetReference>
        </connector>
        <object>Form_1634__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>extractedValuesPicklist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rawMultiSelectPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1634__c</objectType>
    </variables>
</Flow>
