MAiD - Case Management App/force-app/main/default/flows/MAiD_Flows_Q40_41_42.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Extracted_Value_to_List</name>
        <label>Add Extracted Value to List</label>
        <locationX>1071</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>extractedValuesPicklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Values_for_Formatting</name>
        <label>Assign Selected Values for Formatting</label>
        <locationX>578</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>rawMultiSelectPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.If_yes_select_all_that_apply_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FormatPicklistValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Q40_41_42_Fields</name>
        <label>Assignment_Q40_41_42_Fields</label>
        <locationX>281</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41H__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q42A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q42B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q42C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_All_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_Picklist_Values</name>
        <label>Extract Picklist Values</label>
        <locationX>993</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FormatPicklistValues</name>
        <label>FormatPicklistValues</label>
        <locationX>693</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatedAddSemicolon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q40C_Assignment</name>
        <label>Q40C Assignment</label>
        <locationX>833</locationX>
        <locationY>1099</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q40D_Assignment</name>
        <label>Q40D Assignment</label>
        <locationX>682</locationX>
        <locationY>1102</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q40E_Assignment</name>
        <label>Q40E Assignment</label>
        <locationX>502</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q40F_Assignment</name>
        <label>Q40F Assignment</label>
        <locationX>500</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q40G_Assignment</name>
        <label>Q40G Assignment</label>
        <locationX>516</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q40G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q41A_Assignment</name>
        <label>Q41A Assignment</label>
        <locationX>1935</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q41B_Assignment</name>
        <label>Q41B Assignment</label>
        <locationX>1929</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q41C_Assignment</name>
        <label>Q41C Assignment</label>
        <locationX>1926</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q41D_Assignment</name>
        <label>Q41D Assignment</label>
        <locationX>1922</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q41E_Assignment</name>
        <label>Q41E Assignment</label>
        <locationX>1922</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q41F_Assignment</name>
        <label>Q41F Assignment</label>
        <locationX>1936</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q41G_Assignment</name>
        <label>Q41G Assignment</label>
        <locationX>1934</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q41H_Assignment</name>
        <label>Q41H Assignment</label>
        <locationX>1954</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q41H__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q42A_Assignment</name>
        <label>Q42A Assignment</label>
        <locationX>1343</locationX>
        <locationY>1109</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q42A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q42B_Assignment</name>
        <label>Q42B Assignment</label>
        <locationX>1157</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q42B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q42C_Assignment</name>
        <label>Q42C Assignment</label>
        <locationX>990</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>updateRecord.ELG_Q42C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Values_Parsed</name>
        <label>All Values Parsed</label>
        <locationX>857</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_Value_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedPicklistValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Q40_41_42_All_Fields</name>
        <label>Decision_Q40_41_42 All Fields</label>
        <locationX>1131</locationX>
        <locationY>562</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q41A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A - Cancer - lung and bronchus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q41A_Assignment</targetReference>
            </connector>
            <label>Q41A</label>
        </rules>
        <rules>
            <name>Q41B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B - Cancer - breast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q41B_Assignment</targetReference>
            </connector>
            <label>Q41B</label>
        </rules>
        <rules>
            <name>Q41C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C- Cancer - colorectal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q41C_Assignment</targetReference>
            </connector>
            <label>Q41C</label>
        </rules>
        <rules>
            <name>Q41D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D - Cancer - pancreas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q41D_Assignment</targetReference>
            </connector>
            <label>Q41D</label>
        </rules>
        <rules>
            <name>Q41E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E - Cancer - prostate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q41E_Assignment</targetReference>
            </connector>
            <label>Q41E</label>
        </rules>
        <rules>
            <name>Q41F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F - Cancer - ovary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q41F_Assignment</targetReference>
            </connector>
            <label>Q41F</label>
        </rules>
        <rules>
            <name>Q41G</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G - Cancer - hematologic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q41G_Assignment</targetReference>
            </connector>
            <label>Q41G</label>
        </rules>
        <rules>
            <name>Q41H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H - Cancer - other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q41H_Assignment</targetReference>
            </connector>
            <label>Q41H</label>
        </rules>
        <rules>
            <name>Q42A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I - Neurological condition - multiple sclerosis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q42A_Assignment</targetReference>
            </connector>
            <label>Q42A</label>
        </rules>
        <rules>
            <name>Q42B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>J - Neurological condition - amyotrophic lateral sclerosis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q42B_Assignment</targetReference>
            </connector>
            <label>Q42B</label>
        </rules>
        <rules>
            <name>Q42C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>K - Neurological condition - other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q42C_Assignment</targetReference>
            </connector>
            <label>Q42C</label>
        </rules>
        <rules>
            <name>Q40C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L - Chronic respiratory disease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q40C_Assignment</targetReference>
            </connector>
            <label>Q40C</label>
        </rules>
        <rules>
            <name>Q40D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M - Cardio-vascular condition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q40D_Assignment</targetReference>
            </connector>
            <label>Q40D</label>
        </rules>
        <rules>
            <name>Q40E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N - Other organ failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q40E_Assignment</targetReference>
            </connector>
            <label>Q40E</label>
        </rules>
        <rules>
            <name>Q40F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O - Multiple co-morbidities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q40F_Assignment</targetReference>
            </connector>
            <label>Q40F</label>
        </rules>
        <rules>
            <name>Q40G</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P - Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q40G_Assignment</targetReference>
            </connector>
            <label>Q40G</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_All_Null</name>
        <label>Is All Null</label>
        <locationX>399</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Values_for_Formatting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.If_yes_select_all_that_apply_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Null_Q40_41_42_Records</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <description>Updated ELG_Q42 assignment reference</description>
    <formulas>
        <name>formatedAddSemicolon</name>
        <dataType>String</dataType>
        <expression>{!rawMultiSelectPicklistValues} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!formattedPicklistValues} , 
              FIND(
                     &quot;;&quot;,{!formattedPicklistValues}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>removeOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedPicklistValues},  {!formulaOnePicklistValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <interviewLabel>MAiD_Flows_Q40_41_42 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAiD_Flows_Q40_41_42</label>
    <loops>
        <name>AddLoop</name>
        <label>AddLoop</label>
        <locationX>965</locationX>
        <locationY>361</locationY>
        <collectionReference>extractedValuesPicklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Q40_41_42_All_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record_Q40_41_42</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Null_Q40_41_42_Records</name>
        <label>Update Null Q40 41 42 Records</label>
        <locationX>439</locationX>
        <locationY>374</locationY>
        <inputAssignments>
            <field>ELG_Q40C__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q40D__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q40E__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q40F__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q40G__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q41A__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q41B__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q41C__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q41D__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q41E__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q41F__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q41G__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q41H__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q42A__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q42B__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ELG_Q42C__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Q40_41_42</name>
        <label>Update Record Q40_41_42</label>
        <locationX>788</locationX>
        <locationY>362</locationY>
        <inputReference>updateRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Assignment_Q40_41_42_Fields</targetReference>
        </connector>
        <object>Form_1634__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>extractedValuesPicklist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rawMultiSelectPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1634__c</objectType>
    </variables>
</Flow>
