MAiD - Case Management App/force-app/main/default/flows/MAiD_Prevent_Duplicate_Phn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Compare_individual_records</name>
        <label>Compare individual records</label>
        <locationX>528</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Looping_through_Case_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_1_Check_if_entered_PHN_is_equal_to_Looping_record_PHN</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Looping_through_Case_Records.PHN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PHN__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Assessment of Eligibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prevent_duplicate_flag</targetReference>
            </connector>
            <label>Case-1 [Check if entered PHN is equal to Looping record PHN]</label>
        </rules>
        <rules>
            <name>Case_2_Check_if_entered_PHN_is_equal_to_Looping_record_PHN</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Looping_through_Case_Records.PHN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PHN__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Assessment of Eligibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prevent_duplicate_flag_Warning_message</targetReference>
            </connector>
            <label>Case-2 [Check if entered PHN is equal to Looping record PHN]</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Maid Prevent Duplicate Phn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAiD Prevent Duplicate Phn</label>
    <loops>
        <description>Iterate over cases that have same PHN that was entered/updated.</description>
        <name>Looping_through_Case_Records</name>
        <label>Looping through Case Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Fetch_all_cases_with_PHN</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_individual_records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To fetch all cases in the org which has the same PHN that is entered/updated by the user.</description>
        <name>Fetch_all_cases_with_PHN</name>
        <label>Fetch all cases with PHN</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_Case_Records</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10))</filterLogic>
        <filters>
            <field>PHN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PHN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125W0000004KYUQA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MAiD Death Foreseeable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MAiD Death Not Foreseeable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discontinuation of Planning: Death Prior</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discontinuation of Planning: Ineligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preliminary Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer of Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MAiD Assessment of Eligibility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prevent_duplicate_flag</name>
        <label>Update Prevent duplicate flag</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Prevent_save_on_duplicate_PHN__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prevent_duplicate_flag_Warning_message</name>
        <label>Update Prevent duplicate flag &amp; Warning message</label>
        <locationX>528</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Looping_through_Case_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Warning_Message_If_Any__c</field>
            <value>
                <stringValue>There is an existing MAiD Death case with this PHN</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_all_cases_with_PHN</targetReference>
        </connector>
        <filterLogic>(1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9))</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125W0000004KYUQA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MAiD Death Foreseeable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MAiD Death Not Foreseeable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Discontinuation of Planning: Death Prior</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Discontinuation of Planning: Ineligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Preliminary Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Transfer of Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MAiD Assessment of Eligibility</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>templist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
