MAiD - Case Management App/force-app/main/default/flows/MAiD_Case_Stages_BEFORE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>MAiD Case Stages BEFORE Added clause date of MAiD</description>
    <interviewLabel>MAiD Case Stages BEFORE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAiD Case Stages BEFORE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get MAiD Entitlement ID</description>
        <name>Get_Entitlement_ID</name>
        <label>Get Entitlement ID</label>
        <locationX>169</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Entitlement_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MAiD Entitlement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set Case Entitlement Fields</description>
        <name>Set_Case_Entitlement_Fields</name>
        <label>Set Case Entitlement Fields</label>
        <locationX>175</locationX>
        <locationY>410</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Entitlement_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaStartDate</field>
            <value>
                <elementReference>$Record.Date_of_MAiD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>45</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Entitlement_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntitlementId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SlaStartDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_MAiD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
