MAiD - Case Management App/force-app/main/default/flows/Mandatory_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignNewFailListDetails</name>
        <label>AssignNewFailListDetails</label>
        <locationX>917</locationX>
        <locationY>1099</locationY>
        <assignmentItems>
            <assignToReference>ListFailMandatory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPassListDetail</name>
        <label>AssignNewPassListDetail</label>
        <locationX>1995</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>NewPassListDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMandatory_Pass</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_None_Feedback_Assignment</name>
        <label>Check None Feedback Assignment</label>
        <locationX>1016</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckforNone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invalid_Case_Type_Feedback_Assignment</name>
        <label>Invalid Case Type Feedback Assignment</label>
        <locationX>1087</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvalidCaseType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_20_Message_Assignment</name>
        <label>Rule 20 Message Assignment</label>
        <locationX>1160</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule20Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_21_Message_Assignment</name>
        <label>Rule 21 Message Assignment</label>
        <locationX>1384</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule21Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_24_Message_Assignment</name>
        <label>Rule 24 Message Assignment</label>
        <locationX>1501</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule24Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_25_Message_Assignment</name>
        <label>Rule 25 Message Assignment</label>
        <locationX>1447</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule25Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_26_Message_Assignment</name>
        <label>Rule 26 Message Assignment</label>
        <locationX>1732</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule26Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_32_Message_Assignment</name>
        <label>Rule 32 Message Assignment</label>
        <locationX>1599</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule32Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_33_Message_Assignment</name>
        <label>Rule 33 Message Assignment</label>
        <locationX>2003</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule33Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_42_Message_Assignment</name>
        <label>Rule 42 Message Assignment</label>
        <locationX>1266</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule42Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Mandatory_Fail</name>
        <label>Update Mandatory Fail</label>
        <locationX>1255</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewFailListDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMandatoryPass</name>
        <label>Update Mandatory Pass</label>
        <locationX>1677</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewPassListDetail</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CheckforNone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All Mandatory values are null</stringValue>
        </value>
    </constants>
    <constants>
        <name>InvalidCaseType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid Case Type</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule20Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 20 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule21Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 21 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule24Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 24 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule25Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 25 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule26Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 26 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule32Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 32 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule33Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 33 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule42Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 42 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule46Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 46 Validation Failed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Case_Type</name>
        <label>Check_Case_Type</label>
        <locationX>876</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Invalid_Case_Type_Feedback_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Case Type</defaultConnectorLabel>
        <rules>
            <name>Case_Type_Multiple_values</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_46</targetReference>
            </connector>
            <label>Case Type Multiple values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_None</name>
        <label>Check None</label>
        <locationX>754</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Null Values</defaultConnectorLabel>
        <rules>
            <name>Check_for_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Assessment_Conducted</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessmentDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateofWrittenrequestreceived</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Datesecondassessorsignedassessment</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_LocationOfAssessment</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientneedsdisabilitysupportservice</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PriorPatientConsultation</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Secondassessorwasaphysicianornurse</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_None_Feedback_Assignment</targetReference>
            </connector>
            <label>Check for None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule24</name>
        <label>Rule 24</label>
        <locationX>1643</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Rule_24_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 24 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_24_Pass</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_for_how_long_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_no_was_palliative_care_accessible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_25</targetReference>
            </connector>
            <label>Rule 24 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_20</name>
        <label>Rule 20</label>
        <locationX>997</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Rule_20_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 20 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_20_Pass</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11) AND (12 OR 13)) OR (14 AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PriorPatientConsultation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateofWrittenrequestreceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessmentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Assessment_Conducted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_LocationOfAssessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientneedsdisabilitysupportservice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Secondassessorwasaphysicianornurse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Datesecondassessorsignedassessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_42</targetReference>
            </connector>
            <label>Rule 20 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_21</name>
        <label>Rule 21</label>
        <locationX>1382</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Rule_21_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 21 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_21_Pass</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_patient_directly_other_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule24</targetReference>
            </connector>
            <label>Rule 21 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_25</name>
        <label>Rule 25</label>
        <locationX>1596</locationX>
        <locationY>670</locationY>
        <defaultConnector>
            <targetReference>Rule_25_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 25 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_25_Pass</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_for_how_long_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_no_was_palliative_care_accessible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_26</targetReference>
            </connector>
            <label>Rule 25 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_26</name>
        <label>Rule 26</label>
        <locationX>1887</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>Rule_26_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 26 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_26_Pass</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Patientneedsdisabilitysupportservice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_did_patient_received_disability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientneedsdisabilitysupportservice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_no_were_services_accessible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientneedsdisabilitysupportservice</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_32</targetReference>
            </connector>
            <label>Rule 26 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_32</name>
        <label>Rule 32</label>
        <locationX>1898</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>Rule_32_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 32 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_32_Pass</name>
            <conditionLogic>(((1 AND 2) OR (1 AND 2 AND (3 OR 4))) AND (5 OR 6)) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_MAiDLocationAdress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiD_Location_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiD_Location_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Other Specify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_other_specify_4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_33</targetReference>
            </connector>
            <label>Rule 32 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_33</name>
        <label>Rule 33</label>
        <locationX>2136</locationX>
        <locationY>838</locationY>
        <defaultConnector>
            <targetReference>Rule_33_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 33 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_33_Pass</name>
            <conditionLogic>(((1 OR 7) AND 2 AND 6) OR ((1 OR 7) AND 2 AND 5 AND 3)) OR (4 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Was_patient_transferred_for_MAiD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_transferred_was_it_due_to_facility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Was_patient_transferred_for_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Was_patient_transferred_for_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMandatoryPass</targetReference>
            </connector>
            <label>Rule 33 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_42</name>
        <label>Rule 42</label>
        <locationX>1203</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Rule_42_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 42 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_42_Pass</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 AND 5 AND 6) AND (7 OR 8 OR 9)) OR (10 AND 11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PriorPatientConsultation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateofWrittenrequestreceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessmentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Assessment_Conducted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_LocationOfAssessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_21</targetReference>
            </connector>
            <label>Rule 42 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_46</name>
        <label>Rule 46</label>
        <locationX>911</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Rule_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 46 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_46_Pass</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4)) AND ((5 AND 6) OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Is1633Checked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_patient_directly_other_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMandatoryPass</targetReference>
            </connector>
            <label>Rule 46 Pass</label>
        </rules>
    </decisions>
    <interviewLabel>Mandatory Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mandatory Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get1634</name>
        <label>Get1634</label>
        <locationX>776</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_None</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1634__c</object>
        <outputAssignments>
            <assignToReference>Var1634_AssessmentDate</assignToReference>
            <field>Assessment_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Assessment_Conducted</assignToReference>
            <field>Assessment_conducted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PriorPatientConsultation</assignToReference>
            <field>Consultation_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Datesecondassessorsignedassessment</assignToReference>
            <field>Date_second_assessor_signed_assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_DateofWrittenrequestreceived</assignToReference>
            <field>Date_written_request_received__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_no_was_palliative_care_accessible</assignToReference>
            <field>If_no_was_palliative_care_accessible_to__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_no_were_services_accessible</assignToReference>
            <field>If_no_were_services_accessible__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_other_specify_4</assignToReference>
            <field>If_other_specify_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_patient_directly_other_specify</assignToReference>
            <field>If_patient_directly_other_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_transferred_was_it_due_to_facility</assignToReference>
            <field>If_transferred_was_it_due_to_facility_po__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_yes_did_patient_received_disability</assignToReference>
            <field>If_yes_did_patient_received_disability__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_yes_for_how_long_1</assignToReference>
            <field>If_yes_for_how_long_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_LocationOfAssessment</assignToReference>
            <field>Location_of_Assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiDLocationAdress</assignToReference>
            <field>MAiD_Location_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiD_Location_Type</assignToReference>
            <field>MAiD_Location_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientreceivedpalliativecare</assignToReference>
            <field>Patient_received_palliative_care__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientneedsdisabilitysupportservice</assignToReference>
            <field>Patient_requires_disability_support_serv__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Secondassessorwasaphysicianornurse</assignToReference>
            <field>Second_assessor_was_a_physcian_or_nurse__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Was_patient_transferred_for_MAiD</assignToReference>
            <field>Was_patient_transferred_for_MAiD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Who_did_you_receive_the_written_request</assignToReference>
            <field>Who_did_you_receive_the_written_request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Is1633Checked</assignToReference>
            <field>X1633_Form_entered__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ConsultedOtherHealthcareProfessionals</assignToReference>
            <field>consulted_other_healthcare_professionals__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetail</name>
        <label>GetCaseDetail</label>
        <locationX>784</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1634</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Mandatory_Data__c</queriedFields>
        <queriedFields>Mandatory_Data_Feedback_Message__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMandatory_Fail</name>
        <label>UpdateMandatory Fail</label>
        <locationX>777</locationX>
        <locationY>1101</locationY>
        <inputReference>ListFailMandatory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMandatory_Pass</name>
        <label>UpdateMandatory Pass</label>
        <locationX>2142</locationX>
        <locationY>1083</locationY>
        <inputReference>NewPassListDetails</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetCaseDetail</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListFailMandatory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListNullMandatoryList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewPassListDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateNullList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Var1634_Assessment_Conducted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_AssessmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ConsultedOtherHealthcareProfessionals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_DateofWrittenrequestreceived</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Datesecondassessorsignedassessment</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_no_was_palliative_care_accessible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_no_were_services_accessible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_other_specify_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_patient_directly_other_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_transferred_was_it_due_to_facility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_yes_did_patient_received_disability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_yes_for_how_long_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Is1633Checked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_LocationOfAssessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiD_Location_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiDLocationAdress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientneedsdisabilitysupportservice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientreceivedpalliativecare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PriorPatientConsultation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Proceduresforunusedmedication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Secondassessorwasaphysicianornurse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Was_patient_transferred_for_MAiD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Who_did_you_receive_the_written_request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
