MAiD - Case Management App/force-app/main/default/flows/Mandatory_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Extracted_Value_to_List</name>
        <label>Add Extracted Value to List</label>
        <locationX>3109</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>extractedValuesPicklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extracted_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Extracted_Value_to_List_Rule_24</name>
        <label>Add Extracted Value to List Rule 24</label>
        <locationX>2116</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>extractedPicklist_Rule24</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValueRule24</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extracted_Picklist_Values_Rule_24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewFailListDetails</name>
        <label>AssignNewFailListDetails</label>
        <locationX>1129</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>ListFailMandatory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewNullListDetails</name>
        <label>AssignNewNullListDetails</label>
        <locationX>345</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>UpdateNullList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMandatoryNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPassListDetail</name>
        <label>AssignNewPassListDetail</label>
        <locationX>2375</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>NewPassListDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMandatory_Pass</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extracted_Picklist_Values</name>
        <label>Extracted Picklist Values</label>
        <locationX>3266</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extracted_Picklist_Values_Rule_24</name>
        <label>Extracted Picklist Values Rule 24</label>
        <locationX>2026</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>FormattedPicklistValues_Rule24</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue_Rule24</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed_Rule_24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FormatPicklistValues</name>
        <label>FormatPicklistValues</label>
        <locationX>2905</locationX>
        <locationY>1302</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormatedAddSemicolon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FormatPicklistValues_Rule24</name>
        <label>FormatPicklistValues_Rule24</label>
        <locationX>1683</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>FormattedPicklistValues_Rule24</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormatedAddSemicolon_Rule24</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed_Rule_24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_20_Message_Assignment</name>
        <label>Rule 20 Message Assignment</label>
        <locationX>1309</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule20Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_21_Message_Assignment</name>
        <label>Rule 21 Message Assignment</label>
        <locationX>1384</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule21Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_24_Message_Assignment</name>
        <label>Rule 24 Message Assignment</label>
        <locationX>1501</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule24Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_25_Message_Assignment</name>
        <label>Rule 25 Message Assignment</label>
        <locationX>1447</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule25Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_26_Message_Assignment</name>
        <label>Rule 26 Message Assignment</label>
        <locationX>1732</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule26Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_32_Message_Assignment</name>
        <label>Rule 32 Message Assignment</label>
        <locationX>1579</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule32Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_33_Message_Assignment</name>
        <label>Rule 33 Message Assignment</label>
        <locationX>2008</locationX>
        <locationY>1161</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule33Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_42_Message_Assignment</name>
        <label>Rule 42 Message Assignment</label>
        <locationX>1266</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule42Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_44_Message_Assignment</name>
        <label>Rule 44 Message Assignment</label>
        <locationX>2249</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule44Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_45_Message_Assignment</name>
        <label>Rule 45 Message Assignment</label>
        <locationX>2356</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule45Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_48_Message_Assignment</name>
        <label>Rule 48 Message Assignment</label>
        <locationX>2435</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule48Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_50_Message_Assignment</name>
        <label>Rule 50 Message Assignment</label>
        <locationX>2880</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule50Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_51_Message_Assignment</name>
        <label>Rule 51 Message Assignment</label>
        <locationX>1089</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule51Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_52_Message_Assignment</name>
        <label>Rule 52 Message Assignment</label>
        <locationX>799</locationX>
        <locationY>1095</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule52Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_53_Message_Assignment</name>
        <label>Rule 53 Message Assignment</label>
        <locationX>635</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule53Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_54_Message_Assignment</name>
        <label>Rule 54 Message Assignment</label>
        <locationX>474</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule54_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_55_Message_Assignment</name>
        <label>Rule 55 Message Assignment</label>
        <locationX>273</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule55_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_56_Message_Assignment</name>
        <label>Rule 56 Message Assignment</label>
        <locationX>2436</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule56Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_57_Message_Assignment</name>
        <label>Rule 57 Message Assignment</label>
        <locationX>1015</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule57Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule_58_Message_Assignment</name>
        <label>Rule 58 Message Assignment</label>
        <locationX>1107</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule58Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mandatory_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Mandatory_Fail</name>
        <label>Update Mandatory Fail</label>
        <locationX>1253</locationX>
        <locationY>1244</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewFailListDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Mandatory_Null</name>
        <label>Update Mandatory Null</label>
        <locationX>465</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewNullListDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMandatoryPass</name>
        <label>Update Mandatory Pass</label>
        <locationX>2376</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Mandatory_Data_Feedback_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All Rules Passed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewPassListDetail</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Rule20Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 20 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule21Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 21 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule24Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 24 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule25Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 25 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule26Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 26 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule32Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 32 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule33Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 33 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule42Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 42 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule44Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 44 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule45Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 45 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule46Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 46 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule48Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 48 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule50Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 50 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule51Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 51 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule52Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 52 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule53Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 53 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule54_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 54 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule55_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 55 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule56Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 56 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule57Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 57 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule58Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 58 Validation Failed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>All_Values_Parsed</name>
        <label>All Values Parsed</label>
        <locationX>3065</locationX>
        <locationY>1304</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_Value_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedPicklistValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Values_Parsed_Rule_24</name>
        <label>All Values Parsed Rule 24</label>
        <locationX>1822</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_Value_to_List_Rule_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Rule 24</defaultConnectorLabel>
        <rules>
            <name>Yes_Rule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormattedPicklistValues_Rule24</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLoop_Rule_24</targetReference>
            </connector>
            <label>Yes Rule 24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Type</name>
        <label>Check_Case_Type</label>
        <locationX>652</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>Update_Mandatory_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Case Type</defaultConnectorLabel>
        <rules>
            <name>Case_Type_Multiple_values</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_57</targetReference>
            </connector>
            <label>Case Type Multiple values</label>
        </rules>
        <rules>
            <name>Case_Type_Transfer_of_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_51</targetReference>
            </connector>
            <label>Case Type Transfer of Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Rule_50_Multiselect_list_is_empty</name>
        <label>Check if Rule 50 Multiselect list is empty</label>
        <locationX>2685</locationX>
        <locationY>1300</locationY>
        <defaultConnector>
            <targetReference>Rule_50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Null</defaultConnectorLabel>
        <rules>
            <name>Is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_Withdrew_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FormatPicklistValues</targetReference>
            </connector>
            <label>Is not Null</label>
        </rules>
        <rules>
            <name>Case_Type_Mis_Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_Withdrew_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_56</targetReference>
            </connector>
            <label>Case Type Mis-Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Others_is_not_selected</name>
        <label>If Others is not selected</label>
        <locationX>3304</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Rule_50_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 50 is Fail</defaultConnectorLabel>
        <rules>
            <name>No_Others_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_Withdrew_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_56</targetReference>
            </connector>
            <label>No Others option</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule24</name>
        <label>Rule 24</label>
        <locationX>1730</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>Rule_24_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 24 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_24_Failing_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Profession_if_yes_select_all_that_apply</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>I - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Others_specify_CP</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_24_Message_Assignment</targetReference>
            </connector>
            <label>Rule 24 Failing Criteria</label>
        </rules>
        <rules>
            <name>Rule_24_Pass</name>
            <conditionLogic>(1 AND 2) OR (3 AND 5 AND 6) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Profession_if_yes_select_all_that_apply</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Profession_if_yes_select_all_that_apply</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Others_specify_CP</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_25</targetReference>
            </connector>
            <label>Rule 24 Pass</label>
        </rules>
        <rules>
            <name>Rule_24_Return_to_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLoop_Rule_24</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Profession_if_yes_select_all_that_apply</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddLoop_Rule_24</targetReference>
            </connector>
            <label>Rule 24 Return to Loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_20</name>
        <label>Rule 20</label>
        <locationX>1215</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Rule_20_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 20 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_20_Pass</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11) AND (12 OR 13)) OR (14 AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PriorPatientConsultation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateofWrittenrequestreceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessmentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Assessment_Conducted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_LocationOfAssessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ConsultedOtherHealthcareProfessionals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientneedsdisabilitysupportservice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Secondassessorwasaphysicianornurse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Datesecondassessorsignedassessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_42</targetReference>
            </connector>
            <label>Rule 20 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_21</name>
        <label>Rule 21</label>
        <locationX>1382</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Rule_21_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 21 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_21_Pass</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_patient_directly_other_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FormatPicklistValues_Rule24</targetReference>
            </connector>
            <label>Rule 21 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_25</name>
        <label>Rule 25</label>
        <locationX>1596</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Rule_25_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 25 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_25_Pass</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR 5 OR 6</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_for_how_long_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_no_was_palliative_care_accessible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientreceivedpalliativecare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Do not know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_26</targetReference>
            </connector>
            <label>Rule 25 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_26</name>
        <label>Rule 26</label>
        <locationX>1887</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Rule_26_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 26 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_26_Pass</name>
            <conditionLogic>(1 AND 3 AND 4 AND 9) OR (1 AND 2 AND 5 AND 8) OR (1 AND 10 AND 8 AND 9) OR (6 AND 7 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Patientneedsdisabilitysupportservice</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_did_patient_received_disability</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_did_patient_received_disability</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_for_how_long</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_no_were_services_accessible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientneedsdisabilitysupportservice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_did_patient_received_disability</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_for_how_long</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_no_were_services_accessible</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_did_patient_received_disability</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Do not know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_32</targetReference>
            </connector>
            <label>Rule 26 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_32</name>
        <label>Rule 32</label>
        <locationX>1796</locationX>
        <locationY>1001</locationY>
        <defaultConnector>
            <targetReference>Rule_32_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 32 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_32_Pass</name>
            <conditionLogic>(((1 AND 2 AND 9) OR (1 AND 2 AND (3 AND 4))) AND (5 OR 6)) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_MAiDLocationAdress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiD_Location_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiD_Location_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Other Specify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_other_specify_4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiD_Location_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>5 - Other Specify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_33</targetReference>
            </connector>
            <label>Rule 32 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_33</name>
        <label>Rule 33</label>
        <locationX>2061</locationX>
        <locationY>918</locationY>
        <defaultConnector>
            <targetReference>Rule_33_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 33 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_33_Pass</name>
            <conditionLogic>(((1 OR 7) AND 2 AND 6) OR ((1 OR 7) AND 2 AND 5 AND 3)) OR (4 AND 8) OR 9</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Was_patient_transferred_for_MAiD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_transferred_was_it_due_to_facility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Was_patient_transferred_for_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Was_patient_transferred_for_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Was_patient_transferred_for_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Do not know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_44</targetReference>
            </connector>
            <label>Rule 33 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_42</name>
        <label>Rule 42</label>
        <locationX>1203</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Rule_42_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 42 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_42_Pass</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 AND 5 AND 6) AND (7 OR 8 OR 9)) OR (10 AND 11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PriorPatientConsultation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateofWrittenrequestreceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessmentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Assessment_Conducted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_LocationOfAssessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_21</targetReference>
            </connector>
            <label>Rule 42 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_44</name>
        <label>Rule 44</label>
        <locationX>2265</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>Rule_44_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 44 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_44_Pass</name>
            <conditionLogic>5 OR (1 AND (2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_I_determine_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Does meet the criteria for MAiD and natural death IS reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_I_determine_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2- Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Death_occured_prior_to_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_45</targetReference>
            </connector>
            <label>Rule 44 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_45</name>
        <label>Rule 45</label>
        <locationX>2430</locationX>
        <locationY>868</locationY>
        <defaultConnector>
            <targetReference>Rule_45_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 45 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_45_Pass</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4) OR ((5 OR 6) AND 7) AND 8) OR 9</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Completed_Medical_Certificate_of_Death</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Date_Of_Death</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_underlying_case_of_death</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_yes_case_of_death_Specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_no_date_of_death</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_date_of_death_unkown</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Completed_Medical_Certificate_of_Death</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_48</targetReference>
            </connector>
            <label>Rule 45 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_46</name>
        <label>Rule 46</label>
        <locationX>1069</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Rule_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 46 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_46_Pass</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4)) AND ((5 AND 6) OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Is1633Checked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_patient_directly_other_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Who_did_you_receive_the_written_request</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_44</targetReference>
            </connector>
            <label>Rule 46 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_48</name>
        <label>Rule 48</label>
        <locationX>2579</locationX>
        <locationY>1137</locationY>
        <defaultConnector>
            <targetReference>Rule_48_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 48 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_48_Pass</name>
            <conditionLogic>(7 AND ((1 OR 11) AND ( (2 AND 4 AND 5) OR (2 AND 6 AND 9) OR 3 ) ) )  OR 8 OR (7 AND 10 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_I_determine_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Does not meet the criteria for MAiD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Pract_prev_determine_patient_eligible</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Pract_prev_determine_patient_eligible</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_change_due_to_loss_of_capacity</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Practitioner_became_aware</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_change_due_to_loss_of_capacity</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Practitioner_became_aware</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_I_determine_Patient</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3 - Does not meet the criteria for MAiD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_lost_capability_to_consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_lost_capability_to_consent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Rule_50_Multiselect_list_is_empty</targetReference>
            </connector>
            <label>Rule 48 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_50</name>
        <label>Rule 50</label>
        <locationX>2796</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>Rule_50_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 50 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_50_is_Failing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_Withdrew_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4 - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_other_specify_3_Pt_Withdreq_req</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rule_50_Message_Assignment</targetReference>
            </connector>
            <label>Rule 50 is Failing</label>
        </rules>
        <rules>
            <name>Rule_50_Pass</name>
            <conditionLogic>(1 AND ((2 AND 3 AND 4 AND 5) OR 6)) OR 7</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_Withdrew_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4 - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_other_specify_3_Pt_Withdreq_req</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_Withdrew_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_56</targetReference>
            </connector>
            <label>Rule 50 Pass</label>
        </rules>
        <rules>
            <name>Rule_50_Multi_Select_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_Withdrew_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddLoop</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddLoop</targetReference>
            </connector>
            <label>Rule 50_ Multi Select Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_51</name>
        <label>Rule 51</label>
        <locationX>923</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>Rule_51_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 51 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_51_Pass</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 26 AND ((17 AND 8 AND 27 AND (9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15)) OR (16 AND 18 AND 19 AND 20 AND 21 AND 22 AND 23 AND 24 AND 25))</conditionLogic>
            <conditions>
                <leftValueReference>Var1642_Transfer_of_request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Practitioner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Date_Written_Request_received</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_From_whom_you_receive_written_request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_date_of_transfer_of_request_or_care</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Date_Practitioner_Signed_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Signature_of_practitioner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Did_complete_an_eligibility_assessment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Due_to_policies_on_MAiD_facility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Facility_will_not_permit_MAiD_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_FacilitywillnotpermitMAiDprovision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Contrary_to_your_conscience_beliefs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Lack_of_relevant_expertise_provide_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Lack_relevant_expertise_to_assess_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Due_to_patient_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_None_of_above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_None_of_above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Did_complete_an_eligibility_assessment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Due_to_policies_on_MAiD_facility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Facility_will_not_permit_MAiD_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_FacilitywillnotpermitMAiDprovision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Contrary_to_your_conscience_beliefs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Lack_of_relevant_expertise_provide_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Due_to_patient_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Lack_relevant_expertise_to_assess_MAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Prior_patient_consultation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_If_yes_was_the_patient_eligible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_52</targetReference>
            </connector>
            <label>Rule 51 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_52</name>
        <label>Rule 52</label>
        <locationX>718</locationX>
        <locationY>910</locationY>
        <defaultConnector>
            <targetReference>Rule_52_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 52 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_52_Pass</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Var1642_From_whom_you_receive_written_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Another third party</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_If_other_thrid_party_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_From_whom_you_receive_written_request</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 - Another third party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_53</targetReference>
            </connector>
            <label>Rule 52 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_53</name>
        <label>Rule 53</label>
        <locationX>569</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Rule_53_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 53 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_53_Pass</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Var1642_From_whom_you_receive_written_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Patient directly - other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_if_patient_directly_other_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_From_whom_you_receive_written_request</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>5 - Patient directly - other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_54</targetReference>
            </connector>
            <label>Rule 53 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_54</name>
        <label>Rule 54</label>
        <locationX>381</locationX>
        <locationY>939</locationY>
        <defaultConnector>
            <targetReference>Rule_54_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 54 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_54_Pass</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Var1642_None_of_above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Ifyes_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_None_of_above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_55</targetReference>
            </connector>
            <label>Rule 54 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_55</name>
        <label>Rule 55</label>
        <locationX>196</locationX>
        <locationY>882</locationY>
        <defaultConnector>
            <targetReference>Rule_55_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 55 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_55_Pass</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Var1642_Transfer_of_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_If_other_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1642_Transfer_of_request</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3 - Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMandatoryPass</targetReference>
            </connector>
            <label>Rule 55 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_56</name>
        <label>Rule 56</label>
        <locationX>2652</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>Rule_56_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 56 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_56_Pass</name>
            <conditionLogic>(1 AND 2 AND (3 OR 4)) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patient_Withdrew_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_I_determine_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Does meet the criteria for MAiD and natural death IS reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_I_determine_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2- Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMandatoryPass</targetReference>
            </connector>
            <label>Rule 56 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_57</name>
        <label>Rule 57</label>
        <locationX>890</locationX>
        <locationY>683</locationY>
        <defaultConnector>
            <targetReference>Rule_57_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 57 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_57_Skipped</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_Assessor_did_not_receive_1632</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Is1633Checked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_58</targetReference>
            </connector>
            <label>Rule 57 Skipped</label>
        </rules>
        <rules>
            <name>Rule_57_Pass</name>
            <conditionLogic>1 AND 2 AND 3 AND ((4 AND 6) OR (5 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_Consultation_Reason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Date_Written_Request_Received</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Who_did_you_receive_the_request_from</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Who_did_you_receive_the_request_from</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Patient directly - other, specify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Who_did_you_receive_the_request_from</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Another third party specify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_If_patient_directly_other_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_If_other_third_party_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_58</targetReference>
            </connector>
            <label>Rule 57 Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_58</name>
        <label>Rule 58</label>
        <locationX>1048</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Rule_58_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule 58 Fail</defaultConnectorLabel>
        <rules>
            <name>Rule_58_Skipped</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Is1633Checked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_46</targetReference>
            </connector>
            <label>Rule 58 Skipped</label>
        </rules>
        <rules>
            <name>Rule_58_Pass</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_Assessment_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Assessment_conducted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Location_of_Assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_If_Other_location_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Location_of_Assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Facility - Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_If_Facility_Site_specify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_46</targetReference>
            </connector>
            <label>Rule 58 Pass</label>
        </rules>
    </decisions>
    <description>Implemented Form 1633 bound Mandatory Data Rules</description>
    <formulas>
        <name>FormatedAddSemicolon</name>
        <dataType>String</dataType>
        <expression>{!Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>FormatedAddSemicolon_Rule24</name>
        <dataType>String</dataType>
        <expression>{!Var1634_Profession_if_yes_select_all_that_apply} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!formattedPicklistValues} , 
              FIND(
                     &quot;;&quot;,{!formattedPicklistValues}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>formulaOnePicklistValueRule24</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!FormattedPicklistValues_Rule24} , 
              FIND(
                     &quot;;&quot;,{!FormattedPicklistValues_Rule24}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>removeOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedPicklistValues},  {!formulaOnePicklistValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <formulas>
        <name>removeOnePicklistValue_Rule24</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!FormattedPicklistValues_Rule24},  {!formulaOnePicklistValueRule24}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <interviewLabel>Mandatory Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mandatory Data</label>
    <loops>
        <name>AddLoop</name>
        <label>AddLoop</label>
        <locationX>2986</locationX>
        <locationY>1035</locationY>
        <collectionReference>extractedValuesPicklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rule_50</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Others_is_not_selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AddLoop_Rule_24</name>
        <label>AddLoop Rule 24</label>
        <locationX>1989</locationX>
        <locationY>677</locationY>
        <collectionReference>extractedPicklist_Rule24</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rule24</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Rule24</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Form_1642</name>
        <label>Form 1642</label>
        <locationX>592</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Form_1633</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1642__c</object>
        <outputAssignments>
            <assignToReference>Var1642_Contrary_to_your_conscience_beliefs</assignToReference>
            <field>Contrary_to_your_conscience_or_beliefs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Date_Practitioner_Signed_Form</assignToReference>
            <field>Date_Practitioner_Signed_Form__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Date_Written_Request_received</assignToReference>
            <field>Date_Written_Request_Received__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_date_of_transfer_of_request_or_care</assignToReference>
            <field>Date_of_transfer_of_request_or_care__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Did_complete_an_eligibility_assessment</assignToReference>
            <field>Did_complete_an_eligibility_assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Due_to_patient_request</assignToReference>
            <field>Due_to_patient_s_request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Due_to_policies_on_MAiD_facility</assignToReference>
            <field>Due_to_policies_on_MAID_of_a_facility__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Facility_will_not_permit_MAiD_assessment</assignToReference>
            <field>Facility_not_permit_MAiD_assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_FacilitywillnotpermitMAiDprovision</assignToReference>
            <field>Facility_will_not_permit_MAiD_provision__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_From_whom_you_receive_written_request</assignToReference>
            <field>From_whom_you_receive_written_request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_If_other_specify</assignToReference>
            <field>If_Other_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_If_other_thrid_party_specify</assignToReference>
            <field>If_other_third_party_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_if_patient_directly_other_specify</assignToReference>
            <field>If_patient_directly_other_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Ifyes_specify</assignToReference>
            <field>If_yes_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_If_yes_was_the_patient_eligible</assignToReference>
            <field>If_yes_was_the_patient_eligible_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Lack_relevant_expertise_to_assess_MAiD</assignToReference>
            <field>Lack_relevant_expertise_to_assess_MAiD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Lack_of_relevant_expertise_provide_MAiD</assignToReference>
            <field>Lack_relevant_expertise_to_provide_MAiD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_None_of_above</assignToReference>
            <field>None_of_the_above__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Practitioner</assignToReference>
            <field>Practitioner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Prior_patient_consultation</assignToReference>
            <field>Prior_patient_consultation_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Signature_of_practitioner</assignToReference>
            <field>Signature_of_Practitioner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1642_Transfer_of_request</assignToReference>
            <field>Transferred_the_request_to__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1634</name>
        <label>Get1634</label>
        <locationX>591</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Form_1642</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1634__c</object>
        <outputAssignments>
            <assignToReference>Var1634_AssessmentDate</assignToReference>
            <field>Assessment_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Assessment_Conducted</assignToReference>
            <field>Assessment_conducted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PriorPatientConsultation</assignToReference>
            <field>Consultation_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Datesecondassessorsignedassessment</assignToReference>
            <field>Date_second_assessor_signed_assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_DateofWrittenrequestreceived</assignToReference>
            <field>Date_written_request_received__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Death_occured_prior_to_MAiD</assignToReference>
            <field>Death_occurred_prior_to_MAiD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Completed_Medical_Certificate_of_Death</assignToReference>
            <field>Did_practitioner_complete_medical_certi__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_I_determine_Patient</assignToReference>
            <field>I_determine_that_the_patient__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_Others_specify_CP</assignToReference>
            <field>If_Other_specify_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_Yes_change_due_to_loss_of_capacity</assignToReference>
            <field>If_Yes_is_patients_change_in_eligbilit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_Yes_Practitioner_became_aware</assignToReference>
            <field>If_Yes_practitioner_became_aware_patien__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_date_of_death_unkown</assignToReference>
            <field>If_no_confirm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_no_date_of_death</assignToReference>
            <field>If_no_date_of_death__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_no_was_palliative_care_accessible</assignToReference>
            <field>If_no_was_palliative_care_accessible_to__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_no_were_services_accessible</assignToReference>
            <field>If_no_were_services_accessible__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_other_specify_3_Pt_Withdreq_req</assignToReference>
            <field>If_other_specify_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_other_specify_4</assignToReference>
            <field>If_other_specify_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_patient_directly_other_specify</assignToReference>
            <field>If_patient_directly_other_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew</assignToReference>
            <field>If_the_patient_withdrew_request_what_we__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_transferred_was_it_due_to_facility</assignToReference>
            <field>If_transferred_was_it_due_to_facility_po__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_yes_case_of_death_Specify</assignToReference>
            <field>If_yes_cause_of_death_Specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_Yes_Date_Of_Death</assignToReference>
            <field>If_yes_date_of_death__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_yes_did_patient_received_disability</assignToReference>
            <field>If_yes_did_patient_received_disability__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_yes_for_how_long_1</assignToReference>
            <field>If_yes_for_how_long_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_yes_for_how_long</assignToReference>
            <field>If_yes_for_how_long__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_If_yes_underlying_case_of_death</assignToReference>
            <field>If_yes_underlying_cause_of_death__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_LocationOfAssessment</assignToReference>
            <field>Location_of_Assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiDLocationAdress</assignToReference>
            <field>MAiD_Location_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiD_Location_Type</assignToReference>
            <field>MAiD_Location_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patient_lost_capability_to_consent</assignToReference>
            <field>Patient_lost_capabilty_to_consent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientreceivedpalliativecare</assignToReference>
            <field>Patient_received_palliative_care__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientneedsdisabilitysupportservice</assignToReference>
            <field>Patient_requires_disability_support_serv__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patient_Withdrew_Request</assignToReference>
            <field>Patient_withdrew_request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Pract_prev_determine_patient_eligible</assignToReference>
            <field>Practitioner_previously_determined_patie__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Profession_if_yes_select_all_that_apply</assignToReference>
            <field>Profession_if_yes_select_all_that_apply__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Secondassessorwasaphysicianornurse</assignToReference>
            <field>Second_assessor_was_a_physcian_or_nurse__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Was_patient_transferred_for_MAiD</assignToReference>
            <field>Was_patient_transferred_for_MAiD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Who_did_you_receive_the_written_request</assignToReference>
            <field>Who_did_you_receive_the_written_request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Is1633Checked</assignToReference>
            <field>X1633_Form_entered__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ConsultedOtherHealthcareProfessionals</assignToReference>
            <field>consulted_other_healthcare_professionals__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_1633</name>
        <label>Get Form 1633</label>
        <locationX>733</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Form_1633__c</object>
        <outputAssignments>
            <assignToReference>Var1633_Assessment_Date</assignToReference>
            <field>Assessment_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Assessment_conducted</assignToReference>
            <field>Assessment_conducted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Assessor_did_not_receive_1632</assignToReference>
            <field>Assessor_did_not_receive_1632__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Consultation_Reason</assignToReference>
            <field>Consultation_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Date_Written_Request_Received</assignToReference>
            <field>Date_Written_Request_Received__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_If_Facility_Site_specify</assignToReference>
            <field>If_FacilitySit_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_If_Other_location_specify</assignToReference>
            <field>If_Other_location_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_If_other_third_party_specify</assignToReference>
            <field>If_other_third_party_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_If_patient_directly_other_specify</assignToReference>
            <field>If_patient_directly_other_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Location_of_Assessment</assignToReference>
            <field>Location_of_Assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Professional_Interpreter_First_Name</assignToReference>
            <field>Professional_Interpreter_First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Professional_Interpreter_Last_Name</assignToReference>
            <field>Professional_Interpreter_Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Who_did_you_receive_the_request_from</assignToReference>
            <field>Who_did_you_receive_the_written_request__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetail</name>
        <label>GetCaseDetail</label>
        <locationX>448</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1634</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Mandatory_Data__c</queriedFields>
        <queriedFields>Mandatory_Data_Feedback_Message__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMandatory_Fail</name>
        <label>UpdateMandatory Fail</label>
        <locationX>1004</locationX>
        <locationY>1412</locationY>
        <inputReference>ListFailMandatory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMandatory_Pass</name>
        <label>UpdateMandatory Pass</label>
        <locationX>2541</locationX>
        <locationY>415</locationY>
        <inputReference>NewPassListDetails</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMandatoryNull</name>
        <label>UpdateMandatoryNull</label>
        <locationX>194</locationX>
        <locationY>677</locationY>
        <inputReference>UpdateNullList</inputReference>
    </recordUpdates>
    <start>
        <locationX>329</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseDetail</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>extractedPicklist_Rule24</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extractedValuesPicklist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedPicklistValues_Rule24</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListFailMandatory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListNullMandatoryList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewPassListDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateNullList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Var1633_Assessment_conducted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Assessment_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Assessor_did_not_receive_1632</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Consultation_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Date_Written_Request_Received</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_If_by_Telemedicine_Name_of_Witness</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_If_Facility_Site_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_If_Other_location_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_If_other_third_party_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_If_patient_directly_other_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Location_of_Assessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Professional_Interpreter_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Professional_Interpreter_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Who_did_you_receive_the_request_from</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Assessment_Conducted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_AssessmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Completed_Medical_Certificate_of_Death</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Completedmedicalcertofdeath</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ConsultedOtherHealthcareProfessionals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_date_of_death_unkown</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_DateofWrittenrequestreceived</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Datesecondassessorsignedassessment</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Death_occured_prior_to_MAiD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_I_determine_Patient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_no_date_of_death</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_no_was_palliative_care_accessible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_no_were_services_accessible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_other_specify_3_Pt_Withdreq_req</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_other_specify_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_Others_specify_CP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_patient_directly_other_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_transferred_was_it_due_to_facility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_yes_case_of_death_Specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_Yes_change_due_to_loss_of_capacity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_Yes_Date_Of_Death</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_yes_did_patient_received_disability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_yes_for_how_long</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_yes_for_how_long_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_Yes_Practitioner_became_aware</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_Yes_Select_Reasons_That_Apply_Pt_Withdrew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_If_yes_underlying_case_of_death</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Is1633Checked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_LocationOfAssessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiD_Location_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiDLocationAdress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patient_lost_capability_to_consent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patient_Withdrew_Request</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientneedsdisabilitysupportservice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientreceivedpalliativecare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Pract_prev_determine_patient_eligible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PriorPatientConsultation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Proceduresforunusedmedication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Profession_if_yes_select_all_that_apply</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Secondassessorwasaphysicianornurse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Was_patient_transferred_for_MAiD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Who_did_you_receive_the_written_request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Contrary_to_your_conscience_beliefs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_date_of_transfer_of_request_or_care</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Date_Practitioner_Signed_Form</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Date_Written_Request_received</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Did_complete_an_eligibility_assessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Due_to_patient_request</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Due_to_policies_on_MAiD_facility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Facility_will_not_permit_MAiD_assessment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_FacilitywillnotpermitMAiDprovision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_From_whom_you_receive_written_request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_If_other_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_If_other_thrid_party_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_if_patient_directly_other_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_If_yes_was_the_patient_eligible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Ifyes_specify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Lack_of_relevant_expertise_provide_MAiD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Lack_relevant_expertise_to_assess_MAiD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_None_of_above</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Practitioner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Prior_patient_consultation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Signature_of_practitioner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1642_Transfer_of_request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
