MAiD - Case Management App/force-app/main/default/flows/Provincial_Safeguards.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignFailList</name>
        <label>AssignFailList</label>
        <locationX>2975</locationX>
        <locationY>1633</locationY>
        <assignmentItems>
            <assignToReference>UpdateFalList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNullList</name>
        <label>AssignNullList</label>
        <locationX>3410</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>UpdateNullList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateNull_ProvincialSafeguards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPASSList</name>
        <label>AssignPASSList</label>
        <locationX>2065</locationX>
        <locationY>3248</locationY>
        <assignmentItems>
            <assignToReference>UpdatePassList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PASS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule22ErrorMsg</name>
        <label>Rule22ErrorMsg</label>
        <locationX>3045</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule22ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule23ErrorMsg</name>
        <label>Rule23ErrorMsg</label>
        <locationX>2476</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var23Masg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule23ErrorMsg_1</name>
        <label>Rule23ErrorMsg-1</label>
        <locationX>2585</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var23Masg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule27ErrorMsg</name>
        <label>Rule27ErrorMsg</label>
        <locationX>2234</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var27Msg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule28ErrorMsg</name>
        <label>Rule28ErrorMsg</label>
        <locationX>1613</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var28Msg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule29ErrorMsg_0</name>
        <label>Rule29ErrorMsg</label>
        <locationX>1516</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var29Msg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule30ErrorMsg</name>
        <label>Rule30ErrorMsg</label>
        <locationX>1396</locationX>
        <locationY>1123</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var30Rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule31ErrorMsg</name>
        <label>Rule31ErrorMsg</label>
        <locationX>1262</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var31Msg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule34ErrorMsg</name>
        <label>Rule34ErrorMsg</label>
        <locationX>961</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var34ErrMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule35ErrorMsg</name>
        <label>Rule35ErrorMsg</label>
        <locationX>2273</locationX>
        <locationY>1600</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var35Msg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rule43ErrorMsg</name>
        <label>Rule43ErrorMsg</label>
        <locationX>1131</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var43Msg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialFail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateProviencialNull</name>
        <label>UpdateProviencialNull</label>
        <locationX>3404</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNullList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateProvincialFail</name>
        <label>UpdateProvincialFail</label>
        <locationX>2772</locationX>
        <locationY>1333</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignFailList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateProvincialPASS</name>
        <label>UpdateProvincialPASS</label>
        <locationX>2194</locationX>
        <locationY>3080</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All Rules Passed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPASSList</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Rule22ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 22 Validation Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var23Masg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 23 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var27Msg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 27 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var28Msg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 28 is failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var29Msg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 29 is failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var30Rule</name>
        <dataType>String</dataType>
        <value>
            <stringValue>30 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var31Msg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 31 is failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var35Msg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 35 is failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Var43Msg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 43 is failed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CaseType</name>
        <label>CaseType</label>
        <locationX>2681</locationX>
        <locationY>105</locationY>
        <defaultConnector>
            <targetReference>UpdateProviencialNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseTypeCheck_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkrule_22</targetReference>
            </connector>
            <label>CaseTypeCheck=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Proxy_Signed_for_MAiD</name>
        <label>Check-Proxy Signed for MAiD</label>
        <locationX>621</locationX>
        <locationY>904</locationY>
        <defaultConnector>
            <targetReference>CheckRule31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Proxy_Signed_for_MAiD_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_ProxySignedforMAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule30</targetReference>
            </connector>
            <label>Check-Proxy Signed for MAiD=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseType35Rule</name>
        <label>CheckCaseType35Rule</label>
        <locationX>50</locationX>
        <locationY>1510</locationY>
        <defaultConnector>
            <targetReference>UpdateProvincialPASS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseTypeCheck_35Rule_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule34_1</targetReference>
            </connector>
            <label>CaseTypeCheck-35Rule=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMandatory_Location_Assesment</name>
        <label>CheckMandatory-Location Assesment</label>
        <locationX>1622</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Rule23ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMandatory_Location_Assesment_2option_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_IfFacilitySitespecifyFacilityUnit</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckRule27</targetReference>
            </connector>
            <label>CheckMandatory-Location Assesment-2option=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMandatory_Location_Assesment_0</name>
        <label>CheckMandatory-Location Assesment</label>
        <locationX>2222</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Rule23ErrorMsg_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMandatory_Location_Assesment_3option_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_IfOtherlocationspecify</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_LocationofAssessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule27</targetReference>
            </connector>
            <label>CheckMandatory-Location Assesment-3option=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule23_Home_Option</name>
        <label>CheckRule23- Home Option</label>
        <locationX>1478</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>CheckRule_23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule23_Home_Option_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_LocationofAssessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule27</targetReference>
            </connector>
            <label>CheckRule23- Home Option= Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule27</name>
        <label>CheckRule27</label>
        <locationX>1487</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Rule27ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule27_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND ((12 AND 13) OR (NOT(13)) ) AND (8 OR 9))  OR (10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PractitionersSignature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateTimePractitionersigned1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerplannedforpotentialissue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Prescriptionindicatesmedicationisfor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerreviewedrequestandmedica</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PractitionersAdministrationSignature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PractitionerAdministrationsignoffDat1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Potential_BCCS_Review</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Case_Type_Reported_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_Year_2023_Default</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule28</targetReference>
            </connector>
            <label>CheckRule27=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule28</name>
        <label>CheckRule28</label>
        <locationX>1278</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Rule28ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule28_yes</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4) AND ( 5 OR 6)) OR ( 7 AND 8 ) Or (9)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Patientwasgivenopportunitytowithdra</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientSignedforMAiDAdministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxySignedforMAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_VerbalConsentNotes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientwasgivenopportunitytowithdra</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule29</targetReference>
            </connector>
            <label>CheckRule28=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule29</name>
        <label>CheckRule29</label>
        <locationX>1152</locationX>
        <locationY>948</locationY>
        <defaultConnector>
            <targetReference>Rule29ErrorMsg_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Rule29_Pass</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 AND 12 AND 13 AND 5 AND 6 AND 7) AND (8 OR 9)) OR (10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PatientSignedforMAiDAdministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxySignedforMAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientDateforMAiDAdministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateSignedbyProxyforMAID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientDateforMAiDAdministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_DateSignedbyProxyforMAID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateSignedbyProxyforMAID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientDateforMAiDAdministration</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateSignedbyProxyforMAID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ListCaseDetail.Date_of_MAiD__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientDateforMAiDAdministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ListCaseDetail.Date_of_MAiD__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Proxy_Signed_for_MAiD</targetReference>
            </connector>
            <label>Check Rule29 = Pass</label>
        </rules>
        <rules>
            <name>CheckRule29_yes</name>
            <conditionLogic>(((1 AND 3 AND 10 AND 15) OR (2 AND 4 AND 11 AND 14) OR 9) AND 12 AND 13 AND (5 OR 6)) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PatientSignedforMAiDAdministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxySignedforMAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientDateforMAiDAdministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateSignedbyProxyforMAID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_VerbalConsentNotes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientDateforMAiDAdministration</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateSignedbyProxyforMAID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientSignedforMAiDAdministration</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_ProxySignedforMAiD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateSignedbyProxyforMAID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_PatientDateforMAiDAdministration</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateSignedbyProxyforMAID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ListCaseDetail.Date_of_MAiD__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientDateforMAiDAdministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ListCaseDetail.Date_of_MAiD__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Proxy_Signed_for_MAiD</targetReference>
            </connector>
            <label>CheckRule29=yes</label>
        </rules>
        <rules>
            <name>ByPass_Rule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PatientSignedforMAiDAdministration</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxySignedforMAiD</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Proxy_Signed_for_MAiD</targetReference>
            </connector>
            <label>ByPass Rule 29</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule30</name>
        <label>CheckRule30</label>
        <locationX>934</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>Rule30ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule30_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND (10 OR 11)) OR (12 AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_ProxySignedforMAiD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxyforMAiDLastName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxyforMAiDFirstName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxyRelationshiptoPatient</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxyforMAiDPhoneNumber</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxyforMAiDStreetAddress</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxyforMAiDCity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxyforMAiDProvince</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ProxyforMAiDPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule31</targetReference>
            </connector>
            <label>CheckRule30=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule31</name>
        <label>CheckRule31</label>
        <locationX>749</locationX>
        <locationY>1219</locationY>
        <defaultConnector>
            <targetReference>Rule31ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule31_yes</name>
            <conditionLogic>(((1 AND 2) OR 7) AND ( 3 OR 4)) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_InterpreterforMAIDID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_InterpreterforMAIDdateofservice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_InterpreterforMAIDID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckRule43</targetReference>
            </connector>
            <label>CheckRule31=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule34_1</name>
        <label>CheckRule34-1</label>
        <locationX>246</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>CheckRule34_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule34_1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Wherewasthesubstancedispensed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3 - Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule34_2</targetReference>
            </connector>
            <label>CheckRule34-1=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule34_2</name>
        <label>CheckRule34-2</label>
        <locationX>732</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Rule34ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule34_2_yes</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND ((12 AND 13) OR (14 AND 15))</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_DispensingPharmacist</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_IfOtherspecify</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Wherewasthesubstancedispensed</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_DispensedDateTime</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_DispensingPharmacist_Signature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_ReceivingPrescriber_Name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_CPSIDBCCNM_Prescriber_License</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_ReceivedDate_Time</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Prescriber_Signature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Procedures_for_unused_medication</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Instructions_to_complete_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sealed_IV_Backup_Kit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sealed_IV_BackUp_Kit_Consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sealed_IV_Backup_Kit</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sealed_IV_BackUp_Kit_Consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule34_4_Final</targetReference>
            </connector>
            <label>CheckRule34-2=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule34_3</name>
        <label>CheckRule34-3</label>
        <locationX>8</locationX>
        <locationY>1950</locationY>
        <defaultConnector>
            <targetReference>Rule34ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule34_3_yes</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND ((11 AND 12) OR (13 AND 14))</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_DispensingPharmacist</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Wherewasthesubstancedispensed</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_DispensedDateTime</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_DispensingPharmacist_Signature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_ReceivingPrescriber_Name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_CPSIDBCCNM_Prescriber_License</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_ReceivedDate_Time</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Prescriber_Signature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Procedures_for_unused_medication</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Instructions_to_complete_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sealed_IV_Backup_Kit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sealed_IV_BackUp_Kit_Consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sealed_IV_Backup_Kit</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sealed_IV_BackUp_Kit_Consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule34_4_Final</targetReference>
            </connector>
            <label>CheckRule34-3=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule34_4_Final</name>
        <label>CheckRule34-4-Final</label>
        <locationX>270</locationX>
        <locationY>2248</locationY>
        <defaultConnector>
            <targetReference>Rule34ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule34_4_Final_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Returning_Prescriber_Name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_CPSID_BCCNM_Returning_Prescriber_Licen</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Prescriber_Returned</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Returning_PrescriberSignature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Receiving_Pharmacist</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_CPBC_Receiving_Pharmacist_License</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Pharmacist_Returned_Date_Time</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Receiving_Pharmacist_s_Signature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_1</targetReference>
            </connector>
            <label>CheckRule34-4-Final=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_1</name>
        <label>CheckRule35-1</label>
        <locationX>1081</locationX>
        <locationY>1582</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_1_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Midazolam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_MidazolamQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_MidazolamStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Midazolam</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_MidazolamQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_MidazolamStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Midazolam_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Midazolam_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_2</targetReference>
            </connector>
            <label>CheckRule35-1=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_10</name>
        <label>CheckRule35-10</label>
        <locationX>2560</locationX>
        <locationY>2837</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_10_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Lorazepam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_LorazepamQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_LorazepamStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Lorazepam</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_LorazepamQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_LorazepamStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Lorazepam_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Lorazepam_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_11</targetReference>
            </connector>
            <label>CheckRule35-10=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_11</name>
        <label>CheckRule35-11</label>
        <locationX>2861</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_11_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Ondansetron</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_OndansetronQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_OndansetronStrength1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Ondansetron</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_OndansetronQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_OndansetronStrength1</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Ondansetron_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Ondansetron_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_12</targetReference>
            </connector>
            <label>CheckRule35-11=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_12</name>
        <label>CheckRule35-12</label>
        <locationX>2923</locationX>
        <locationY>3033</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_12_yes_0</name>
            <conditionLogic>(1 AND 2 AND 3) OR ( 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Phenobarbital_Oral_Suspension</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Oral_Suspension_Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Oral_Suspension_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Phenobarbital_Oral_Suspension</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Oral_Suspension_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Oral_Suspension_Quantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckRule35_13</targetReference>
            </connector>
            <label>CheckRule35-12=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_13</name>
        <label>CheckRule35-13</label>
        <locationX>3116</locationX>
        <locationY>3166</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_13_yes</name>
            <conditionLogic>(1 AND 2 AND 3) OR ( 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Secobarbital_compound_suspension</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Compound_Suspension_Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Compound_Suspension_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Secobarbital_compound_suspension</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Compound_Suspension_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Compound_Suspension_Quantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateProvincialPASS</targetReference>
            </connector>
            <label>CheckRule35-13=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_2</name>
        <label>CheckRule35-2</label>
        <locationX>1183</locationX>
        <locationY>1796</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_2_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_PhenobarbitalSoduim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_PhenobarbitalSoduimQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_PhenobarbitalSoduimStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_PhenobarbitalSoduim</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_PhenobarbitalSoduimQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_PhenobarbitalSoduimStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Phenobarbital_Soduim_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Phenobarbital_Soduim_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_3</targetReference>
            </connector>
            <label>CheckRule35-2=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_3</name>
        <label>CheckRule35-3</label>
        <locationX>1467</locationX>
        <locationY>1933</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_3_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_RocuroniumBromide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_RocuroniumBromideQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_RocuroniumBromideStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_RocuroniumBromide</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_RocuroniumBromideQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_RocuroniumBromideStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Rocuronium_Bromide_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Rocuronium_Bromide_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_4</targetReference>
            </connector>
            <label>CheckRule35-3=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_4</name>
        <label>CheckRule35-4</label>
        <locationX>1590</locationX>
        <locationY>2153</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_4_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Lidocaine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_LidocaineQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_LidocaineStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Lidocaine</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_LidocaineQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_LidocaineStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Lidocaine_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Lidocaine_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_5</targetReference>
            </connector>
            <label>CheckRule35-4=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_5</name>
        <label>CheckRule35-5</label>
        <locationX>1755</locationX>
        <locationY>2265</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_5_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Propofol</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Propofol_Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_PropofolStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Propofol</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Propofol_Quantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_PropofolStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Propofol_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Propofol_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_6</targetReference>
            </connector>
            <label>CheckRule35-5=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_6</name>
        <label>CheckRule35-6</label>
        <locationX>1924</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_6_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Bupivacaine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_BupivacaineQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_BupivacaineStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Bupivacaine</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_BupivacaineQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_BupivacaineStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Bupivacaine_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Bupivacaine_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_7</targetReference>
            </connector>
            <label>CheckRule35-6=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_7</name>
        <label>CheckRule35-7</label>
        <locationX>2104</locationX>
        <locationY>2464</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_7_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_SodiumChloride</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_SodiumChlorideQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_SodiumChlorideStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_SodiumChloride</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_SodiumChlorideQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_SodiumChlorideStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sodium_Chloride_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Sodium_Chloride_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_8</targetReference>
            </connector>
            <label>CheckRule35-7=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_8</name>
        <label>CheckRule35-8</label>
        <locationX>2238</locationX>
        <locationY>2601</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_8_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Haloperidol</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_HaloperidolQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_HaloperidolStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Haloperidol</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_HaloperidolQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_HaloperidolStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Haloperidol_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Haloperidol_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_9</targetReference>
            </connector>
            <label>CheckRule35-8=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule35_9</name>
        <label>CheckRule35-9</label>
        <locationX>2480</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Rule35ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule35_9_yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 7) OR ( 4 AND 5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_Metoclopramide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_MetoclopramideQuantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_MetoclopramideStrength</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Metoclopramide</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_MetoclopramideQuantity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_MetoclopramideStrength</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Metoclopramide_consistent_with_MAR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_Metoclopramide_consistent_with_MAR</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule35_10</targetReference>
            </connector>
            <label>CheckRule35-9=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule43</name>
        <label>CheckRule43</label>
        <locationX>683</locationX>
        <locationY>1381</locationY>
        <defaultConnector>
            <targetReference>Rule43ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule43_yes</name>
            <conditionLogic>(1 AND 2 AND (3 OR 4)) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PractitionersSignature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_DateTimePractitionersigned1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCaseType35Rule</targetReference>
            </connector>
            <label>CheckRule43=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkrule_22</name>
        <label>Checkrule-22</label>
        <locationX>2206</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>Rule22ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkrule_22_yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_AssessmentInterpretersIDNumber</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessmentInterpreterdateofservice</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_AssessmentInterpreterdateofservice</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckRule23_Home_Option</targetReference>
            </connector>
            <label>Checkrule-22=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule_23</name>
        <label>CheckRule-23</label>
        <locationX>1848</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>CheckMandatory_Location_Assesment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule_23_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_LocationofAssessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Facility - Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckMandatory_Location_Assesment</targetReference>
            </connector>
            <label>CheckRule-23=yes</label>
        </rules>
    </decisions>
    <description>Fix on Rule 34 PS</description>
    <interviewLabel>Provincial Safe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provincial Safeguards</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get1634</name>
        <label>Get1634</label>
        <locationX>1706</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1641</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1634__c</object>
        <outputAssignments>
            <assignToReference>Var1634_AssessmentInterpreterdateofservice</assignToReference>
            <field>Assessment_Interpreter_date_of_service__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_AssessmentInterpretersIDNumber</assignToReference>
            <field>Assessment_Interpreters_ID_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_DateTimePractitionersigned1</assignToReference>
            <field>DateTime_Practitioner_signed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_DateSignedbyProxyforMAID</assignToReference>
            <field>Date_Signed_by_Proxy_for_MAID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_IfFacilitySitespecifyFacilityUnit</assignToReference>
            <field>If_FacilitySite_specify_Facility_Unit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_IfOtherlocationspecify</assignToReference>
            <field>If_Other_location_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_InterpreterforMAIDID</assignToReference>
            <field>Interpreter_for_MAID_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_InterpreterforMAIDdateofservice</assignToReference>
            <field>Interpreter_for_MAID_date_of_service__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_LocationofAssessment</assignToReference>
            <field>Location_of_Assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiDAdministrationDate</assignToReference>
            <field>MAiD_Administration_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PatientDateforMAiDAdministration</assignToReference>
            <field>Patient_Date_for_MAiD_Administration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PatientSignedforMAiDAdministration</assignToReference>
            <field>Patient_Signed_for_MAiD_Administration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientwasgivenopportunitytowithdra</assignToReference>
            <field>Patient_was_given_opportunity_to_withdra__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Potential_BCCS_Review</assignToReference>
            <field>Potential_BCCS_Review__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PractitionerAdministrationsignoffDat1</assignToReference>
            <field>Practitioner_Administration_sign_off_Dat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Practitionerplannedforpotentialissue</assignToReference>
            <field>Practitioner_planned_for_potential_issue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Practitionerreviewedrequestandmedica</assignToReference>
            <field>Practitioner_reviewed_request_and_medica__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PractitionersAdministrationSignature</assignToReference>
            <field>Practitioners_Administration_Signature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PractitionersSignature</assignToReference>
            <field>Practitioners_Signature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Prescriptionindicatesmedicationisfor</assignToReference>
            <field>Prescription_indicates_medication_is_for__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxyRelationshiptoPatient</assignToReference>
            <field>Proxy_Relationship_to_Patient__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxySignedforMAiD</assignToReference>
            <field>Proxy_Signed_for_MAiD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxyforMAiDCity</assignToReference>
            <field>Proxy_for_MAiD_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxyforMAiDFirstName</assignToReference>
            <field>Proxy_for_MAiD_First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxyforMAiDLastName</assignToReference>
            <field>Proxy_for_MAiD_Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxyforMAiDPhoneNumber</assignToReference>
            <field>Proxy_for_MAiD_Phone_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxyforMAiDPostalCode</assignToReference>
            <field>Proxy_for_MAiD_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxyforMAiDProvince</assignToReference>
            <field>Proxy_for_MAiD_Province__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ProxyforMAiDStreetAddress</assignToReference>
            <field>Proxy_for_MAiD_Street_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_VerbalConsentNotes</assignToReference>
            <field>Verbal_Consent_Notes__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1641</name>
        <label>Get1641</label>
        <locationX>1966</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1641__c</object>
        <outputAssignments>
            <assignToReference>Var1641_BupivacaineQuantity</assignToReference>
            <field>Bupivacaine_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_BupivacaineStrength</assignToReference>
            <field>Bupivacaine_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Bupivacaine</assignToReference>
            <field>Bupivacaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Bupivacaine_consistent_with_MAR</assignToReference>
            <field>Bupivacaine_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_CPBC_Receiving_Pharmacist_License</assignToReference>
            <field>CPBC_Receiving_Pharmacist_License__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_CPSIDBCCNM_Prescriber_License</assignToReference>
            <field>CPSID_BCCNM_Prescriber_License__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_CPSID_BCCNM_Returning_Prescriber_Licen</assignToReference>
            <field>CPSID_BCCNM_Returning_Prescriber_Licen__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Compound_Suspension_Quantity</assignToReference>
            <field>Compound_Suspension_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Compound_Suspension_consistent_with_MAR</assignToReference>
            <field>Compound_Suspension_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_DispensedDateTime</assignToReference>
            <field>Dispensed_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_DispensingPharmacist</assignToReference>
            <field>Dispensing_Pharmacist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_DispensingPharmacist_Signature</assignToReference>
            <field>Dispensing_Pharmacist_s_Signature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_HaloperidolQuantity</assignToReference>
            <field>Haloperidol_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_HaloperidolStrength</assignToReference>
            <field>Haloperidol_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Haloperidol</assignToReference>
            <field>Haloperidol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Haloperidol_consistent_with_MAR</assignToReference>
            <field>Haloperidol_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_IfOtherspecify</assignToReference>
            <field>If_Other_specify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Instructions_to_complete_MAR</assignToReference>
            <field>Instructions_to_complete_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_LidocaineQuantity</assignToReference>
            <field>Lidocaine_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_LidocaineStrength</assignToReference>
            <field>Lidocaine_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Lidocaine</assignToReference>
            <field>Lidocaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Lidocaine_consistent_with_MAR</assignToReference>
            <field>Lidocaine_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_LorazepamQuantity</assignToReference>
            <field>Lorazepam_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_LorazepamStrength</assignToReference>
            <field>Lorazepam_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Lorazepam</assignToReference>
            <field>Lorazepam__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Lorazepam_consistent_with_MAR</assignToReference>
            <field>Lorazepam_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_MetoclopramideQuantity</assignToReference>
            <field>Metoclopramide_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_MetoclopramideStrength</assignToReference>
            <field>Metoclopramide_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Metoclopramide</assignToReference>
            <field>Metoclopramide__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Metoclopramide_consistent_with_MAR</assignToReference>
            <field>Metoclopramide_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_MidazolamQuantity</assignToReference>
            <field>Midazolam_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_MidazolamStrength</assignToReference>
            <field>Midazolam_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Midazolam</assignToReference>
            <field>Midazolam__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Midazolam_consistent_with_MAR</assignToReference>
            <field>Midazolam_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_OndansetronQuantity</assignToReference>
            <field>Ondansetron_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_OndansetronStrength1</assignToReference>
            <field>Ondansetron_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Ondansetron</assignToReference>
            <field>Ondansetron__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Ondansetron_consistent_with_MAR</assignToReference>
            <field>Ondansetron_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Oral_Suspension_Quantity</assignToReference>
            <field>Oral_Suspension_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Oral_Suspension_consistent_with_MAR</assignToReference>
            <field>Oral_Suspension_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Pharmacist_Returned_Date_Time</assignToReference>
            <field>Pharmacist_Returned_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Phenobarbital_Oral_Suspension</assignToReference>
            <field>Phenobarbital_Oral_Suspension__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_PhenobarbitalSoduimQuantity</assignToReference>
            <field>Phenobarbital_Soduim_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_PhenobarbitalSoduimStrength</assignToReference>
            <field>Phenobarbital_Soduim_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_PhenobarbitalSoduim</assignToReference>
            <field>Phenobarbital_Soduim__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Phenobarbital_Soduim_consistent_with_MAR</assignToReference>
            <field>Phenobarbital_Soduim_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Prescriber_Returned</assignToReference>
            <field>Prescriber_Returned__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Prescriber_Signature</assignToReference>
            <field>Prescriber_s_Signature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Procedures_for_unused_medication</assignToReference>
            <field>Procedures_for_unused_medication__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Propofol_Quantity</assignToReference>
            <field>Propofol_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_PropofolStrength</assignToReference>
            <field>Propofol_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Propofol</assignToReference>
            <field>Propofol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Propofol_consistent_with_MAR</assignToReference>
            <field>Propofol_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_ReceivedDate_Time</assignToReference>
            <field>Received_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Receiving_Pharmacist</assignToReference>
            <field>Receiving_Pharmacist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Receiving_Pharmacist_s_Signature</assignToReference>
            <field>Receiving_Pharmacist_s_Signature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_ReceivingPrescriber_Name</assignToReference>
            <field>Receiving_Prescriber_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Returning_Prescriber_Name</assignToReference>
            <field>Returning_Prescriber_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Returning_PrescriberSignature</assignToReference>
            <field>Returning_Prescriber_s_Signature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_RocuroniumBromideQuantity</assignToReference>
            <field>Rocuronium_Bromide_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_RocuroniumBromideStrength</assignToReference>
            <field>Rocuronium_Bromide_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_RocuroniumBromide</assignToReference>
            <field>Rocuronium_Bromide__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Rocuronium_Bromide_consistent_with_MAR</assignToReference>
            <field>Rocuronium_Bromide_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Sealed_IV_Backup_Kit</assignToReference>
            <field>Sealed_IV_Back_Up_Kit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Sealed_IV_BackUp_Kit_Consistent_with_MAR</assignToReference>
            <field>Sealed_IV_Back_Up_Kit_consistent_with_MA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_SealedOralKit</assignToReference>
            <field>Sealed_Oral_Kit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Sealed_Oral_Kit_Consistent_with_MAR</assignToReference>
            <field>Sealed_Oral_Kit_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Secobarbital_compound_suspension</assignToReference>
            <field>Secobarbital_compound_suspension__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_SodiumChlorideQuantity</assignToReference>
            <field>Sodium_Chloride_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_SodiumChlorideStrength</assignToReference>
            <field>Sodium_Chloride_Strength__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_SodiumChloride</assignToReference>
            <field>Sodium_Chloride__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Sodium_Chloride_consistent_with_MAR</assignToReference>
            <field>Sodium_Chloride_consistent_with_MAR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1641_Wherewasthesubstancedispensed</assignToReference>
            <field>Where_was_the_substance_dispensed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetail</name>
        <label>GetCaseDetail</label>
        <locationX>1290</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1634</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Federal_Safeguards__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Case_Type_Reported_Date__c</queriedFields>
        <queriedFields>Date_of_MAiD__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_FAIL</name>
        <label>Update-FAIL</label>
        <locationX>3076</locationX>
        <locationY>1869</locationY>
        <inputReference>UpdateFalList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PASS</name>
        <label>Update-PASS</label>
        <locationX>1932</locationX>
        <locationY>3320</locationY>
        <inputReference>UpdatePassList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNull_ProvincialSafeguards</name>
        <label>UpdateNull-ProvincialSafeguards</label>
        <locationX>3451</locationX>
        <locationY>1010</locationY>
        <inputReference>UpdateNullList</inputReference>
    </recordUpdates>
    <start>
        <locationX>569</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>GetCaseDetail</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateFalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateNullList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdatePassList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Var1634_AssessmentInterpreterdateofservice</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_AssessmentInterpretersIDNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_DateSignedbyProxyforMAID</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_DateTimePractitionersigned</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_DateTimePractitionersigned1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfFacilitySitespecifyFacilityUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfOtherlocationspecify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_InterpreterforMAIDdateofservice</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_InterpreterforMAIDID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_LocationofAssessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiDAdministrationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PatientDateforMAiDAdministration</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PatientSignedforMAiDAdministration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientwasgivenopportunitytowithdra</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Potential_BCCS_Review</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PractitionerAdministrationsignoffDat</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PractitionerAdministrationsignoffDat1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Practitionerplannedforpotentialissue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Practitionerreviewedrequestandmedica</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PractitionersAdministrationSignature</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PractitionersSignature</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Prescriptionindicatesmedicationisfor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxyforMAiDCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxyforMAiDFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxyforMAiDLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxyforMAiDPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxyforMAiDPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxyforMAiDProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxyforMAiDStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxyRelationshiptoPatient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ProxySignedforMAiD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_VerbalConsentNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Year_2023_Default</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2023-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>Var1641_Bupivacaine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Bupivacaine_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_BupivacaineQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_BupivacaineStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Compound_Suspension_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Compound_Suspension_Quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_CPBC_Receiving_Pharmacist_License</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_CPSID_BCCNM_Returning_Prescriber_Licen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_CPSIDBCCNM_Prescriber_License</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_DispensedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_DispensingPharmacist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_DispensingPharmacist_Signature</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Haloperidol</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Haloperidol_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_HaloperidolQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_HaloperidolStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_IfOtherspecify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Instructions_to_complete_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Lidocaine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Lidocaine_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_LidocaineQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_LidocaineStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Lorazepam</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Lorazepam_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_LorazepamQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_LorazepamStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Metoclopramide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Metoclopramide_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_MetoclopramideQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_MetoclopramideStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Midazolam</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Midazolam_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_MidazolamQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_MidazolamStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Ondansetron</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Ondansetron_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_OndansetronQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_OndansetronStrength1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Oral_Suspension_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Oral_Suspension_Quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Pharmacist_Returned_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Phenobarbital_Oral_Suspension</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Phenobarbital_Soduim_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_PhenobarbitalSoduim</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_PhenobarbitalSoduimQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_PhenobarbitalSoduimStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Prescriber_Returned</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Prescriber_Signature</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Procedures_for_unused_medication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Propofol</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Propofol_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Propofol_Quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_PropofolStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_ReceivedDate_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Receiving_Pharmacist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Receiving_Pharmacist_s_Signature</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_ReceivingPrescriber_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Returning_Prescriber_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Returning_PrescriberSignature</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Rocuronium_Bromide_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_RocuroniumBromide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_RocuroniumBromideQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_RocuroniumBromideStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Sealed_IV_Backup_Kit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Sealed_IV_BackUp_Kit_Consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Sealed_Oral_Kit_Consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_SealedOralKit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Secobarbital_compound_suspension</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Sodium_Chloride_consistent_with_MAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_SodiumChloride</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_SodiumChlorideQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_SodiumChlorideStrength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1641_Wherewasthesubstancedispensed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var34ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Rule 34 is Failed</stringValue>
        </value>
    </variables>
    <variables>
        <name>Varbool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
