MAiD - Case Management App/force-app/main/default/flows/Provincial_and_RX_Flow_for_1633.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignPassList</name>
        <label>AssignPassList</label>
        <locationX>399</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>UpdatePassList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePass</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessage59</name>
        <label>ErrorMessage59</label>
        <locationX>1744</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguard_Feedback_for_1633__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule59ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessage60</name>
        <label>ErrorMessage60</label>
        <locationX>1808</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguard_Feedback_for_1633__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule60ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessage62</name>
        <label>ErrorMessage62</label>
        <locationX>1066</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguard_Feedback_for_1633__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule62ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessage63</name>
        <label>ErrorMessage63</label>
        <locationX>1070</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguard_Feedback_for_1633__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule63ErorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessage64</name>
        <label>ErrorMessage64</label>
        <locationX>1081</locationX>
        <locationY>1086</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguard_Feedback_for_1633__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule64ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessage65</name>
        <label>ErrorMessage65</label>
        <locationX>1084</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguard_Feedback_for_1633__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule65ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProvincialMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>not_applicable_status</name>
        <label>not applicable status</label>
        <locationX>1781</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguard_Feedback_for_1633__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateNotApplicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fail_List</name>
        <label>Update Fail List</label>
        <locationX>1864</locationX>
        <locationY>1395</locationY>
        <assignmentItems>
            <assignToReference>UpdateFailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fail_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateProvincialMessage</name>
        <label>UpdateProvincialMessage</label>
        <locationX>1739</locationX>
        <locationY>1244</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fail_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateProvincialPass</name>
        <label>updateProvincialPass</label>
        <locationX>237</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Provincial_Safeguard_Feedback_for_1633__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RulesPassed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPassList</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Rule59ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 59 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule60ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 60 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule61ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 61 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule62ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 62 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule63ErorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 63 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule64ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 64 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rule65ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rule 65 is Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>RulesPassed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All Rules Passed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_60_Rule_0</name>
        <label>check 60 Rule</label>
        <locationX>1444</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage60</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rule_60_fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_Patient_Consent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1- I have no concerns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Referred_Assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage60</targetReference>
            </connector>
            <label>rule 60 fail</label>
        </rules>
        <rules>
            <name>rule_60_check_0</name>
            <conditionLogic>((1 OR (2 AND 3 AND 4))) OR ((5 OR 6) AND (7 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_Patient_Consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1- I have no concerns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Referred_Assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Assessing_Practitioner</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Assessment_receipt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Is capable of providing informed consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_if_1633_is_ticked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.X1633__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_case_type_62</targetReference>
            </connector>
            <label>rule 60 check</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_62_rule</name>
        <label>check 62 rule</label>
        <locationX>798</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage62</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rule_62_check</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4 AND 11) OR 9) AND ((5 AND 6 AND 7 AND 8) OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_Patient_determine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_expertise_in_condition</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Expertise_Consultant</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_90_days_waiting_period</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_90_clear_days_waiting</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Expertise_Consultant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Other Consultant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_other_Consultant_name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_practioner_signature</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Date_time_practioner_signature</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Patient_determine</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2 - Does meet the criteria for MAiD and natural death IS NOT reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Expertise_Consultant</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3 - Other Consultant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_90_days_waiting_period</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>check_case_type_63</targetReference>
            </connector>
            <label>rule 62 check</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_64_rule</name>
        <label>check 64 rule</label>
        <locationX>505</locationX>
        <locationY>1014</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage64</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rule_64_check</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>VarRX_administered_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiD_Administration_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Administerd_Prescriber_full_name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarRx_Prescriber_Practioner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_administered_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Date_of_MAiD__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_case_type_65</targetReference>
            </connector>
            <label>rule 64 check</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_case_type_62</name>
        <label>check case type 62</label>
        <locationX>960</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>check_case_type_63</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_type_62</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_62_rule</targetReference>
            </connector>
            <label>case type 62</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_case_type_63</name>
        <label>check case type 63</label>
        <locationX>584</locationX>
        <locationY>759</locationY>
        <defaultConnector>
            <targetReference>check_case_type_64</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_type_63</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rule</targetReference>
            </connector>
            <label>case type 63</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_case_type_64</name>
        <label>check case type 64</label>
        <locationX>350</locationX>
        <locationY>834</locationY>
        <defaultConnector>
            <targetReference>check_case_type_65</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_type_64</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_64_rule</targetReference>
            </connector>
            <label>case type 64</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_case_type_65</name>
        <label>check case type 65</label>
        <locationX>247</locationX>
        <locationY>1006</locationY>
        <defaultConnector>
            <targetReference>updateProvincialPass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_type_65</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_65</targetReference>
            </connector>
            <label>case type 65</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_case_type_for_59_rule</name>
        <label>Check case type for 59 rule</label>
        <locationX>1180</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>X1633_field_check_on_1634</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_case_type_for_59</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exception_criteria_for_59</targetReference>
            </connector>
            <label>check case type for 59</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_case_type_for_rule_60</name>
        <label>check case type for rule 60</label>
        <locationX>1454</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>check_case_type_62</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_type_for_rule_60</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_60_Rule_0</targetReference>
            </connector>
            <label>case type for rule 60</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_other_types</name>
        <label>check other types</label>
        <locationX>1630</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>Check_case_type_for_59_rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>other_types</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Assessment of Eligibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>not_applicable_status</targetReference>
            </connector>
            <label>other types</label>
        </rules>
    </decisions>
    <decisions>
        <name>exception_criteria_for_59</name>
        <label>exception criteria for 59</label>
        <locationX>1450</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>rule_59_yes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_1633_recieved</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X1633__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1633_field_check_on_1634</targetReference>
            </connector>
            <label>check if 1633 recieved</label>
        </rules>
    </decisions>
    <decisions>
        <name>rule</name>
        <label>rule 63 check</label>
        <locationX>689</locationX>
        <locationY>909</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage63</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X63_rule_check</name>
            <conditionLogic>(1 ) AND ((2 AND 3 AND 4) OR (5 AND 6 AND 7) OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>VarRX_Prescriber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Drug_Regiment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Primary IV Kit x2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Signature_present</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Date_Signed_Protocol</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Drug_Regiment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Back-up IV Kit for Oral Regimen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Signature_Present_On_Above_Medications</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Date_Filled_On_Oral_Protocol</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Drug_Regiment</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>check_case_type_64</targetReference>
            </connector>
            <label>63 rule check</label>
        </rules>
    </decisions>
    <decisions>
        <name>rule_59_yes</name>
        <label>rule 59 yes</label>
        <locationX>1558</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage59</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_rule_59</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_Professional_Interpreter_Service_Date</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Professional_Interpreter_s_ID_Number</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Professional_Interpreter_Service_Date</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>X1633_field_check_on_1634</targetReference>
            </connector>
            <label>check rule 59</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_65</name>
        <label>Rule 65</label>
        <locationX>391</locationX>
        <locationY>1136</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage65</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_for_65_entry</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>VarRX_Administering_Initials_present</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRx_Administering_Signature_present</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_65_check</targetReference>
            </connector>
            <label>Validate for 65 entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_65_check</name>
        <label>Rule 65 check</label>
        <locationX>558</locationX>
        <locationY>1262</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage65</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X65_rule_check</name>
            <conditionLogic>((1 AND 2) OR 3) AND ((4 AND 5) OR 6) AND((7 AND 8) OR 9) AND((10 AND 11) OR 12) AND((13 AND 14) OR 15) AND((16 AND 17) OR 18) AND((19 AND 20) OR 21) AND((22 AND 23) OR 24) AND((25 AND 26) OR 27) AND((28 AND 29) OR 30) AND((31 AND 32) OR 33) AND((34 AND 35) OR 36) AND((37 AND 38) OR 39) AND (40 OR 41) AND (42 OR 43) AND ((44 AND 45) OR 46) AND ((47 AND 48) OR 49)</conditionLogic>
            <conditions>
                <leftValueReference>VArRX_Anxyolitic_midazolam_Dose_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_1_of_anxiolytic_midazolam</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Anxyolitic_midazolam_Dose_1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anxyolitic_midazolam_Dose_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_2_of_anxiolytic_midazolam</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anxyolitic_midazolam_Dose_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anaesthetic_lidocaine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_of_anaesthetic_lidocaine_1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anaesthetic_lidocaine</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Dose_of_Coma_inducing_agent_proPOFol</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_of_proPOFol</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Dose_of_Coma_inducing_agent_proPOFol</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Dose_2_of_Coma_inducing_agent_proPOFol</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_2_of_proPOFol_1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Dose_2_of_Coma_inducing_agent_proPOFol</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Dose_of_phenobarbital</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_of_phenobarbital</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Dose_of_phenobarbital</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Dose_2_of_phenobarbital</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_2_of_phenobarbital_1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Dose_2_of_phenobarbital</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Neuromuscular_blocker_rocuronium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_of_rocuronium</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Neuromuscular_blocker_rocuronium</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Bupivacaine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_of_Bupivacaine</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Bupivacaine</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anti_emetic_metoclopramide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_of_metoclopramide_1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anti_emetic_metoclopramide</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anti_emetic_ondansetron</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_of_anti_emetic_ondansetron</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anti_emetic_ondansetron</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Anxyolitic_LORazepam_Dose_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_1_of_anxiolytic_LORazepam</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Anxyolitic_LORazepam_Dose_1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anxiolytic_LORazepam_Dose_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_2_of_anxiolytic_LORazepam</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Anxiolytic_LORazepam_Dose_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Coma_inducing_agent_Option_A</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Coma_inducing_agent_Option_A</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Coma_inducing_agent_Option_B</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Coma_inducing_agent_Option_B</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Anti_emetic_haloperidol</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRx_Describe_Dose_of_1_anti_emetic_haloperidol</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VArRX_Anti_emetic_haloperidol</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Varrx_Anti_emetic_haloperidol_Dose_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRX_Describe_Dose_2_of_haloperidol</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Varrx_Anti_emetic_haloperidol_Dose_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProvincialPass</targetReference>
            </connector>
            <label>65 rule check</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1633_field_check_on_1634</name>
        <label>1633 field check on 1634</label>
        <locationX>1093</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>check_case_type_for_rule_60</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_1633_is_ticked_on_1634</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>check_if_1633_is_ticked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_case_type_62</targetReference>
            </connector>
            <label>Check if 1633 is ticked on 1634</label>
        </rules>
    </decisions>
    <description>Rule 60 Updated</description>
    <environments>Default</environments>
    <interviewLabel>Provincial and RX Flow for 1633 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provincial and RX Flow for 1633</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_1634_Record_Forms</name>
        <label>Get 1634 Record Forms</label>
        <locationX>1316</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rx_MAR_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1634__c</object>
        <outputAssignments>
            <assignToReference>Var1634_90_clear_days_waiting</assignToReference>
            <field>Clear_days_waiting_period_start_date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiD_Administration_Date</assignToReference>
            <field>MAiD_Administration_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>check_if_1633_is_ticked</assignToReference>
            <field>X1633_Form_entered__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Rx_MAR_form</name>
        <label>Get Rx MAR form</label>
        <locationX>1506</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_other_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_RXMAR__c</object>
        <outputAssignments>
            <assignToReference>VarRX_administered_Date</assignToReference>
            <field>Administered_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Administering_Initials_present</assignToReference>
            <field>Administering_Initials_present__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Administerd_Prescriber_full_name</assignToReference>
            <field>Administering_Prescriber_Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRx_Administering_Signature_present</assignToReference>
            <field>Administering_Signature_present__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Anaesthetic_lidocaine</assignToReference>
            <field>Anaesthetic_lidocaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Varrx_Anti_emetic_haloperidol_Dose_2</assignToReference>
            <field>Anti_emetic_haloperidol_Dose_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VArRX_Anti_emetic_haloperidol</assignToReference>
            <field>Anti_emetic_haloperidol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Anti_emetic_metoclopramide</assignToReference>
            <field>Anti_emetic_metoclopramide__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Anti_emetic_ondansetron</assignToReference>
            <field>Anti_emetic_ondansetron__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Anxiolytic_LORazepam_Dose_2</assignToReference>
            <field>Anxiolytic_LORazepam_Dose_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VArRX_Anxyolitic_LORazepam_Dose_1</assignToReference>
            <field>Anxyolitic_LORazepam_Dose_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VArRX_Anxyolitic_midazolam_Dose_1</assignToReference>
            <field>Anxyolitic_midazolam_Dose_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Anxyolitic_midazolam_Dose_2</assignToReference>
            <field>Anxyolitic_midazolam_Dose_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VArRX_Coma_inducing_agent_Option_A</assignToReference>
            <field>Coma_inducing_agent_Option_A__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Coma_inducing_agent_Option_B</assignToReference>
            <field>Coma_inducing_agent_Option_B__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Date_Filled_On_Oral_Protocol</assignToReference>
            <field>Date_filled_and_signed_oral_protocol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Date_Signed_Protocol</assignToReference>
            <field>Date_when_filled_and_signed_IV_Protocol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_1_of_anxiolytic_LORazepam</assignToReference>
            <field>Describe_Dose_1_of_anxiolytic_LORazepam__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_1_of_anxiolytic_midazolam</assignToReference>
            <field>Describe_Dose_1_of_anxiolytic_midazolam__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_2_of_anxiolytic_LORazepam</assignToReference>
            <field>Describe_Dose_2_of_anxiolytic_LORazepam__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_2_of_anxiolytic_midazolam</assignToReference>
            <field>Describe_Dose_2_of_anxiolytic_midazolam__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_2_of_haloperidol</assignToReference>
            <field>Describe_Dose_2_of_haloperidol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_2_of_phenobarbital_1</assignToReference>
            <field>Describe_Dose_2_of_phenobarbital__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_2_of_proPOFol_1</assignToReference>
            <field>Describe_Dose_2_of_proPOFol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_of_Bupivacaine</assignToReference>
            <field>Describe_Dose_of_Bupivacaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_of_anaesthetic_lidocaine_1</assignToReference>
            <field>Describe_Dose_of_anaesthetic_lidocaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRx_Describe_Dose_of_1_anti_emetic_haloperidol</assignToReference>
            <field>Describe_Dose_of_anti_emetic_haloperidol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_of_anti_emetic_ondansetron</assignToReference>
            <field>Describe_Dose_of_anti_emetic_ondansetron__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_of_metoclopramide_1</assignToReference>
            <field>Describe_Dose_of_metoclopramide__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_of_phenobarbital</assignToReference>
            <field>Describe_Dose_of_phenobarbital__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_of_proPOFol</assignToReference>
            <field>Describe_Dose_of_proPOFol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Describe_Dose_of_rocuronium</assignToReference>
            <field>Describe_Dose_of_rocuronium__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Dose_2_of_Coma_inducing_agent_proPOFol</assignToReference>
            <field>Dose_2_of_Coma_inducing_agent_proPOFol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Dose_2_of_phenobarbital</assignToReference>
            <field>Dose_2_of_phenobarbital__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Bupivacaine</assignToReference>
            <field>Dose_of_Bupivacaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Dose_of_Coma_inducing_agent_proPOFol</assignToReference>
            <field>Dose_of_Coma_inducing_agent_proPOFol__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VArRX_Dose_of_phenobarbital</assignToReference>
            <field>Dose_of_phenobarbital__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Drug_Regiment</assignToReference>
            <field>IV_Drug_Regiment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Neuromuscular_blocker_rocuronium</assignToReference>
            <field>Neuromuscular_blocker_rocuronium__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_pharmacist_safeguard</assignToReference>
            <field>Pharmacists_safeguards_initialed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRx_Prescriber_Practioner</assignToReference>
            <field>Prescribing_Practitioner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Prescriber</assignToReference>
            <field>Safeguards_signed_by_prescriber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Signature_present</assignToReference>
            <field>Signature_present_for_medications__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRX_Signature_Present_On_Above_Medications</assignToReference>
            <field>Signature_present_on_above_medications__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecord</name>
        <label>GetCaseRecord</label>
        <locationX>1006</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordsForm1633</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Federal_Safeguards__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>X1633__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordsForm1633</name>
        <label>GetRecordsForm1633</label>
        <locationX>1171</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_1634_Record_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1633__c</object>
        <outputAssignments>
            <assignToReference>Var1633_AssessmentDate</assignToReference>
            <field>Assessment_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Assessment_Interpreter</assignToReference>
            <field>Assessment_Interpreter_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Date_time_practioner_signature</assignToReference>
            <field>DateTime_Practitioner_signed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Expertise_Consultant</assignToReference>
            <field>Expertise_consultant_was__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_other_Consultant_name</assignToReference>
            <field>IF_Other_Consultant_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Patient_determine</assignToReference>
            <field>I_determine_that_the_patient__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Assessing_Practitioner</assignToReference>
            <field>If_Yes_name_of_assessing_practitioner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Assessment_receipt</assignToReference>
            <field>On_receipt_of_assessment_patient_is__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Patient_Consent</assignToReference>
            <field>Patient_is_capable_of_providing_consent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_practioner_signature</assignToReference>
            <field>Practitioners_Signature_present__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_expertise_in_condition</assignToReference>
            <field>Prescriber_ensured_expertise_in_patient__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Professional_Interpreter_Service_Date</assignToReference>
            <field>Professional_Interpreter_Service_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Professional_Interpreter_s_ID_Number</assignToReference>
            <field>Professional_Interpreter_s_ID_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Referred_Assessment</assignToReference>
            <field>Referred_for_assessment_of_capability__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_90_days_waiting_period</assignToReference>
            <field>X90_Clear_days_waiting_period_start_date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Fail_List</name>
        <label>Assign Fail List</label>
        <locationX>2000</locationX>
        <locationY>1363</locationY>
        <inputReference>UpdateFailList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateNotApplicable</name>
        <label>updateNotApplicable</label>
        <locationX>1868</locationX>
        <locationY>331</locationY>
        <inputReference>ListCaseDetail</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePass</name>
        <label>UpdatePass</label>
        <locationX>558</locationX>
        <locationY>1579</locationY>
        <inputReference>UpdatePassList</inputReference>
    </recordUpdates>
    <start>
        <locationX>612</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>GetCaseRecord</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>check_if_1633_is_ticked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateFailList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdatePassList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Var1633_90_days_waiting_period</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Assessing_Practitioner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Assessment_Interpreter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Assessment_receipt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_AssessmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Date_time_practioner_signature</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Expertise_Consultant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_expertise_in_condition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_other_Consultant_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Patient_Consent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Patient_determine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_practioner_signature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_practioner_signature_check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Professional_Interpreter_s_ID_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Professional_Interpreter_Service_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Referred_Assessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_90_clear_days_waiting</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiD_Administration_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_pharmacist_safeguard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Professional_Interpreter_s_ID_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Administerd_Prescriber_full_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_administered_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Administering_Initials_present</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRx_Administering_Signature_present</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Anaesthetic_lidocaine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VArRX_Anti_emetic_haloperidol</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varrx_Anti_emetic_haloperidol_Dose_2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Anti_emetic_metoclopramide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Anti_emetic_ondansetron</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Anxiolytic_LORazepam_Dose_2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VArRX_Anxyolitic_LORazepam_Dose_1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VArRX_Anxyolitic_midazolam_Dose_1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Anxyolitic_midazolam_Dose_2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Bupivacaine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VArRX_Coma_inducing_agent_Option_A</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Coma_inducing_agent_Option_B</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Date_Filled_On_Oral_Protocol</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Date_Signed_Protocol</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_1_of_anxiolytic_LORazepam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_1_of_anxiolytic_midazolam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_2_of_anxiolytic_LORazepam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_2_of_anxiolytic_midazolam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_2_of_haloperidol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_2_of_phenobarbital</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_2_of_phenobarbital_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_2_of_proPOFol</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_2_of_proPOFol_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRx_Describe_Dose_of_1_anti_emetic_haloperidol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRx_Describe_Dose_of_anaesthetic_lidocaine</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_of_anaesthetic_lidocaine_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRx_Describe_Dose_of_anti_emetic_haloperidol</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_of_anti_emetic_ondansetron</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_of_Bupivacaine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_of_metoclopramide</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_of_metoclopramide_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_of_phenobarbital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_of_proPOFol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Describe_Dose_of_rocuronium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Dose_2_of_Coma_inducing_agent_proPOFol</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Dose_2_of_phenobarbital</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Dose_of_Coma_inducing_agent_proPOFol</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VArRX_Dose_of_phenobarbital</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Drug_Regiment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Form_Time_for_Dose_1_of_anxiolytic_midazolam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Neuromuscular_blocker_rocuronium</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Prescriber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRx_Prescriber_Practioner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Signature_present</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Signature_Present_On_Above_Medications</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Coma_inducing_agent_Option_B</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_1_of_anxiolytic_LORazepam</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_1_of_anxiolytic_midazolam</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_2_of_anxiolytic_LORazepam</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_2_of_anxiolytic_midazolam</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_2_of_phenobarbital</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_2_of_proPOFol</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_of_anaesthetic_lidocaine</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_of_anti_emetic_haloperidol</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_of_anti_emetic_ondansetron</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_of_Bupivacaine</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_of_metoclopramide</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_of_Option_A</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_of_phenobarbital</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRx_Time_for_Dose_of_proPOFol</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRX_Time_for_Dose_of_rocuronium</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
