MAiD - Case Management App/force-app/main/default/flows/Rules_15_19.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignNewFailListDetail</name>
        <label>AssignNewFailListDetail</label>
        <locationX>1460</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>ListFailFedral</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updatefedal_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewNullListDetail</name>
        <label>AssignNewNullListDetail</label>
        <locationX>1781</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>UpdateNullList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatefedalNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPASSListDetail</name>
        <label>AssignNewPASSListDetail</label>
        <locationX>1082</locationX>
        <locationY>1213</locationY>
        <assignmentItems>
            <assignToReference>ListFedralPASS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListCaseDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updatefedal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFedralFAIL</name>
        <label>UpdateFedralFAIL</label>
        <locationX>1547</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewFailListDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFedralNull</name>
        <label>UpdateFedralNull</label>
        <locationX>1895</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewNullListDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFedralPASS</name>
        <label>UpdateFedralPASS</label>
        <locationX>649</locationX>
        <locationY>1275</locationY>
        <assignmentItems>
            <assignToReference>ListCaseDetail.Federal_Safeguards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewPASSListDetail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check17_MAiD_Death_Forseeable_or_Nor</name>
        <label>Check17- MAiD Death Forseeable or Nor</label>
        <locationX>1031</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>CheckRule18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_17_MAiD_Death_Forseeable_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule17</targetReference>
            </connector>
            <label>Check 17 -MAiD Death Forseeable=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check19_MAiD_Death_Forseeable_or_Nor</name>
        <label>Check19- MAiD Death Forseeable or Nor</label>
        <locationX>317</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralPASS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_19_MAiD_Death_Forseeable_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PatientLostCapability_True</targetReference>
            </connector>
            <label>Check 19 -MAiD Death Forseeable=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PatientLostCapability_True</name>
        <label>Check-PatientLostCapability=True</label>
        <locationX>559</locationX>
        <locationY>1035</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralPASS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PatientLostCapability_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule19_0</targetReference>
            </connector>
            <label>Check-PatientLostCapability=Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCondition</name>
        <label>CheckCondition</label>
        <locationX>1567</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule_15_yes</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Var1632_ProxySignDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_ReqSignDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_RequestSigDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_ReqSignDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule16</targetReference>
            </connector>
            <label>Rule 15=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkfor_None</name>
        <label>Checkfor-None</label>
        <locationX>1706</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>CheckCondition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckAllDatefield_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1632_ProxySignDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_RequestSigDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_ReqSignDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_witnessinitialSafegurad</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_WitnessSignDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_AllEligibilitycriteria</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Ideterminethatthepatient</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1641_RecPreScriber</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practioner</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VaRxMaxAdminPrescriName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientlostcapabilitytoconsent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_PractitionerSafeguardsCompleted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_PatientSafeguardsCompleted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Finalwaiverofconsentdatesigned</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiDAdministrationDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientconsentedtoassessment</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerisnotbeneficiary</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientrequestMAiDinwritingsigned</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Requestwassignedanddatedafterthe_p</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Theirmedicaldiagnosisandprognosis</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Righttowithdrawtheirreques</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Potentialriskandexpected</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Receivedsecondassessmentindicating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Pratictionerwassatisfiedsecondassess</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientwasgivenopportunitytowithdra</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Wasthesubstanceselfadministered</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfYeswasPrescriberpresent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Didthepatientdieafterselfadmin</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientauthorizedtorecieve2nddose</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_X2nddosewillbeadminsteredaftermin</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerwillbepresentinitialsby</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientsignatureselfadministration</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiDPrescribersignselfadminist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Advanceconsentsignaturedatebypatien</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFedralNull</targetReference>
            </connector>
            <label>CheckAllDatefield-blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule10</name>
        <label>CheckRule10</label>
        <locationX>705</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule10_yes</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND (11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>Var1634_Patientconsentedtoassessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerisnotbeneficiary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatientrequestMAiDinwritingsigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_RequestSigDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Requestwassignedanddatedafterthe_p</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Theirmedicaldiagnosisandprognosis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Righttowithdrawtheirreques</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Potentialriskandexpected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Receivedsecondassessmentindicating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Pratictionerwassatisfiedsecondassess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule11</targetReference>
            </connector>
            <label>CheckRule10=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule11</name>
        <label>CheckRule11,13 &amp; 14</label>
        <locationX>277</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule11</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientwasgivenopportunitytowithdra</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - IV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_12_skip</targetReference>
            </connector>
            <label>Rule 11</label>
        </rules>
        <rules>
            <name>Rule112</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - IV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientwasgivenopportunitytowithdra</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_12_skip</targetReference>
            </connector>
            <label>Rule11-2</label>
        </rules>
        <rules>
            <name>Rule_13</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Oral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Wasthesubstanceselfadministered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfYeswasPrescriberpresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Didthepatientdieafterselfadmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_12_skip</targetReference>
            </connector>
            <label>Rule 13</label>
        </rules>
        <rules>
            <name>Rule_14</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_HowwasMaidAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Oral and IV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Wasthesubstanceselfadministered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfYeswasPrescriberpresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Didthepatientdieafterselfadmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - No	</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientauthorizedtorecieve2nddose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_X2nddosewillbeadminsteredaftermin</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practitionerwillbepresentinitialsby</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patientsignatureselfadministration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_MAiDPrescribersignselfadminist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Advanceconsentsignaturedatebypatien</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_12_skip</targetReference>
            </connector>
            <label>Rule 14</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule12</name>
        <label>CheckRule12</label>
        <locationX>50</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule12_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check19_MAiD_Death_Forseeable_or_Nor</targetReference>
            </connector>
            <label>CheckRule12</label>
        </rules>
        <rules>
            <name>Rule12_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Ensuredpatientdidnotshowrefusal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_EnsuredMAiDadministeredasspecified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Patienthasbeeninformedofriskoflos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Anagreementwiththepatienttowaive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_IfYespatientconsented</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_PatlostCapacity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.X1645__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check19_MAiD_Death_Forseeable_or_Nor</targetReference>
            </connector>
            <label>Rule12-2</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule16</name>
        <label>CheckRule16</label>
        <locationX>1370</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule16_yes</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Var1632_witnessinitialSafegurad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_WitnessSignDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1632_ProxySignDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1632_WitnessSignDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1632_RequestSigDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check17_MAiD_Death_Forseeable_or_Nor</targetReference>
            </connector>
            <label>CheckRule16=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule17</name>
        <label>CheckRule17</label>
        <locationX>1165</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule17_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1633_AllEligibilitycriteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1633_Ideterminethatthepatient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Does meet the criteria for MAiD and natural death IS reasonably foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule18</targetReference>
            </connector>
            <label>CheckRule17=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule18</name>
        <label>CheckRule18</label>
        <locationX>961</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule18_yes</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Var1641_RecPreScriber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_Practioner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_Practioner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VaRxMaxAdminPrescriName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule10</targetReference>
            </connector>
            <label>CheckRule18=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRule19_0</name>
        <label>CheckRule19</label>
        <locationX>1025</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>UpdateFedralFAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRule19_yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1645_PatientSafeguardsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_PractitionerSafeguardsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Varbool</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1645_Finalwaiverofconsentdatesigned</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var1634_MAiDAdministrationDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFedralPASS</targetReference>
            </connector>
            <label>CheckRule19=yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_12_skip</name>
        <label>Rule 12 skip MAiD Death Not foreseeable</label>
        <locationX>80</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>Check19_MAiD_Death_Forseeable_or_Nor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>skip_MAiD_Death_Not_foreseeable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRule12</targetReference>
            </connector>
            <label>skip MAiD Death Not foreseeable</label>
        </rules>
    </decisions>
    <description>1.7: skipping
Rule 12 skipped for MAiD DEath Not foreseeable</description>
    <interviewLabel>Rules 15-19 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rules 15-19</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get1632</name>
        <label>Get1632</label>
        <locationX>736</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1634</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1632__c</object>
        <outputAssignments>
            <assignToReference>Var1632_ProxySignDate</assignToReference>
            <field>Proxy_Signature_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1632_RequestSigDate</assignToReference>
            <field>Requestor_Signature_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1632_witnessinitialSafegurad</assignToReference>
            <field>Witness_Initialed_Safeguards__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1632_WitnessSignDate</assignToReference>
            <field>Witness_Signature_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1633</name>
        <label>Get1633</label>
        <locationX>938</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1641</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1633__c</object>
        <outputAssignments>
            <assignToReference>Var1633_AllEligibilitycriteria</assignToReference>
            <field>All_eligibility_criteria_has_been_met__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1633_Ideterminethatthepatient</assignToReference>
            <field>I_determine_that_the_patient__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1634</name>
        <label>Get1634</label>
        <locationX>843</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1633</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1634__c</object>
        <outputAssignments>
            <assignToReference>Var1634_Advanceconsentsignaturedatebypatien</assignToReference>
            <field>Advance_consent_signature_date_by_patien__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Anagreementwiththepatienttowaive</assignToReference>
            <field>An_agreement_with_the_patient_to_waive_f__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Didthepatientdieafterselfadmin</assignToReference>
            <field>Did_the_patient_die_after_self_admin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_EnsuredMAiDadministeredasspecified</assignToReference>
            <field>Ensured_MAiD_administered_as_specified__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Ensuredpatientdidnotshowrefusal</assignToReference>
            <field>Ensured_patient_did_not_show_refusal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_HowwasMaidAdmin</assignToReference>
            <field>How_was_MAiD_administered__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_IfYespatientconsented</assignToReference>
            <field>If_Yes_patient_consented__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_IfYeswasPrescripresent</assignToReference>
            <field>If_Yes_was_Prescriber_present__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_ReqSignDate</assignToReference>
            <field>If_yes_signed_request_date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiDAdministrationDate</assignToReference>
            <field>MAiD_Administration_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_MAiDPrescribersignselfadminist</assignToReference>
            <field>MAiD_Prescriber_sign_self_administ__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientauthorizedtorecieve2nddose</assignToReference>
            <field>Patient_authorized_to_recieve_2nd_dose__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientconsentedtoassessment</assignToReference>
            <field>Patient_consensented_to_assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patienthasbeeninformedofriskoflos</assignToReference>
            <field>Patient_has_been_informed_of_risk_of_los__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientlostcapabilitytoconsent</assignToReference>
            <field>Patient_lost_capabilty_to_consent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PatlostCapacity</assignToReference>
            <field>Patient_lost_capacity_to_consent_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientsignatureselfadministration</assignToReference>
            <field>Patient_signature_self_administration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Patientwasgivenopportunitytowithdra</assignToReference>
            <field>Patient_was_given_opportunity_to_withdra__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_PatientrequestMAiDinwritingsigned</assignToReference>
            <field>Patients_request_for_MAiD_was_in_writin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Potentialriskandexpected</assignToReference>
            <field>Potential_risks_and_expected_outcome__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Practioner</assignToReference>
            <field>Practitioner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Practitionerisnotbeneficiary</assignToReference>
            <field>Practitioner_is_not_a_beneficiary__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Practitionerwillbepresentinitialsby</assignToReference>
            <field>Practitioner_will_be_present_initials_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Pratictionerwassatisfiedsecondassess</assignToReference>
            <field>Pratictioner_was_satisfied_second_assess__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Receivedsecondassessmentindicating</assignToReference>
            <field>Received_a_second_assessment_indicating__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Requestwassignedanddatedafterthe_p</assignToReference>
            <field>Request_was_signed_and_dated_after_the_p__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Righttowithdrawtheirreques</assignToReference>
            <field>Right_to_withdraw_their_request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Theirmedicaldiagnosisandprognosis</assignToReference>
            <field>Their_medical_diagnosis_and_prognosis__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_Wasthesubstanceselfadministered</assignToReference>
            <field>Was_the_substance_self_administered__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1634_X2nddosewillbeadminsteredaftermin</assignToReference>
            <field>X2nd_dose_will_be_adminstered_after_min__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1641</name>
        <label>Get1641</label>
        <locationX>1063</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Form_Rx_MAR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1641__c</object>
        <outputAssignments>
            <assignToReference>Var1641_RecPreScriber</assignToReference>
            <field>Receiving_Prescriber_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get1645</name>
        <label>Get1645</label>
        <locationX>1332</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkfor_None</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_1645__c</object>
        <outputAssignments>
            <assignToReference>Var1645_Finalwaiverofconsentdatesigned</assignToReference>
            <field>Final_waiver_of_consent_date_signed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_PatientSafeguardsCompleted</assignToReference>
            <field>Patient_Safeguards_Completed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var1645_PractitionerSafeguardsCompleted</assignToReference>
            <field>Practitioner_Safeguards_Completed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_Rx_MAR</name>
        <label>Get Form Rx/MAR</label>
        <locationX>1195</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1645</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Form_RXMAR__c</object>
        <outputAssignments>
            <assignToReference>VaRxMaxAdminPrescriName</assignToReference>
            <field>Administering_Prescriber_Full_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetail_0</name>
        <label>GetCaseDetail</label>
        <locationX>522</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get1632</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Federal_Safeguards__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>X1645__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Updatefedal</name>
        <label>Updatefedal</label>
        <locationX>1288</locationX>
        <locationY>1139</locationY>
        <inputReference>ListFedralPASS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updatefedal_0</name>
        <label>Updatefedal</label>
        <locationX>1759</locationX>
        <locationY>836</locationY>
        <inputReference>ListFailFedral</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatefedalNull</name>
        <label>UpdatefedalNull</label>
        <locationX>1915</locationX>
        <locationY>616</locationY>
        <inputReference>UpdateNullList</inputReference>
    </recordUpdates>
    <start>
        <locationX>439</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseDetail_0</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListFailFedral</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListFedralPASS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListNullFedralList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateNullList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Var1632_ProxySignDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1632_RequestSigDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1632_witnessinitialSafegurad</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1632_WitnessSignDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1633_AllEligibilitycriteria</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1633_Ideterminethatthepatient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Advanceconsentsignaturedatebypatien</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Anagreementwiththepatienttowaive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Didthepatientdieafterselfadmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_EnsuredMAiDadministeredasspecified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Ensuredpatientdidnotshowrefusal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_HowwasMaidAdmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_HowwasMaidAdministered</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfYespatientconsented</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfYeswasPrescriberpresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_IfYeswasPrescripresent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiDAdministrationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_MAiDPrescribersignselfadminist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientauthorizedtorecieve2nddose</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientconsentedtoassessment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patienthasbeeninformedofriskoflos</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientlostcapabilitytoconsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PatientrequestMAiDinwritingsigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientsignatureselfadministration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Patientwasgivenopportunitytowithdra</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_PatlostCapacity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Potentialriskandexpected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Practioner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1634_Practitionerisnotbeneficiary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Practitionerwillbepresentinitialsby</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Pratictionerwassatisfiedsecondassess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Receivedsecondassessmentindicating</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_ReqSignDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var1634_Requestwassignedanddatedafterthe_p</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Righttowithdrawtheirreques</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Theirmedicaldiagnosisandprognosis</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_Wasthesubstanceselfadministered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1634_X2nddosewillbeadminsteredaftermin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var1641_RecPreScriber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_Finalwaiverofconsentdatesigned</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_PatientSafeguardsCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var1645_PractitionerSafeguardsCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varbool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarFedralSafegurad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VaRxMaxAdminPrescriName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
