MAiD - Case Management App/force-app/main/default/flows/Status_4_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Case_Death_Foreseeable_Criteria_Failure</name>
        <label>Case Death Foreseeable Criteria Failure</label>
        <locationX>1490</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>FailScenarioMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeathForeseeableFailure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fails_Update_to_Previous_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_Failures</name>
        <label>Case Type Failures</label>
        <locationX>1623</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>FailScenarioMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Msg_Status_Fail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fails_Update_to_Previous_Status</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DeathForeseeableFailure</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Status update failed. There are unreconciled mandatory details to be completed before moving Case Status to Follow Up Required to Close.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Msg_Status_Fail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Status update failed. Case can only be moved to status Follow Up Required to Close.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Msg_Status_Success</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Status Succeeded to Update</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Close_Exception</name>
        <label>Check for Close Exception</label>
        <locationX>1369</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Discontinuations_Case_Type_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not to be closed</defaultConnectorLabel>
        <rules>
            <name>Check_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var1634_I_determine_patient</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4- NO determination made</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Update_Status_Message</targetReference>
            </connector>
            <label>Check If need to be closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Transfer_of_Request</name>
        <label>Check for Transfer of Request</label>
        <locationX>1211</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Case_Type_Failures</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed in Transfer of Request</defaultConnectorLabel>
        <rules>
            <name>Transfer_of_Request_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Review/Checks in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Update_Status_Message</targetReference>
            </connector>
            <label>Transfer of Request Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Step_01_Forseeable</name>
        <label>Check Step 01 (Forseeable)</label>
        <locationX>1456</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Case_Death_Foreseeable_Criteria_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fails Meeting Criteria 01</defaultConnectorLabel>
        <rules>
            <name>Success_Step_01</name>
            <conditionLogic>(7 AND 1) AND (5 OR 6) AND (4 OR (2 AND 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Review/Checks in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Update_Status_Message</targetReference>
            </connector>
            <label>Success_Step_01</label>
        </rules>
        <rules>
            <name>For_Close_No_Criteria_Fail</name>
            <conditionLogic>(7 AND 1) AND (5 OR 6) AND (4 OR (2 AND 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Review/Checks in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Failures</targetReference>
            </connector>
            <label>For_Close_No_Criteria_Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Case_Type</name>
        <label>Choose Case Type</label>
        <locationX>1197</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Case_Type_Failures</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Death_Foreseeable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Step_01_Forseeable</targetReference>
            </connector>
            <label>Death Foreseeable</label>
        </rules>
        <rules>
            <name>Death_NOT_Foreseeable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Step_01_Forseeable</targetReference>
            </connector>
            <label>Death NOT Foreseeable</label>
        </rules>
        <rules>
            <name>Discontinuation_Death_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Close_Exception</targetReference>
            </connector>
            <label>Discontinuation Death Prior</label>
        </rules>
        <rules>
            <name>Discontinuation_Ineligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Close_Exception</targetReference>
            </connector>
            <label>Discontinuation Ineligible</label>
        </rules>
        <rules>
            <name>Discontinuation_Withrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Close_Exception</targetReference>
            </connector>
            <label>Discontinuation Withrawal</label>
        </rules>
        <rules>
            <name>Transfer_of_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Transfer_of_Request</targetReference>
            </connector>
            <label>Transfer of Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discontinuations_Case_Type_Checks</name>
        <label>Discontinuations Case Type Checks</label>
        <locationX>1652</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Case_Type_Failures</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fails to meet Discontinuation Checks</defaultConnectorLabel>
        <rules>
            <name>Discontinuation_Checks</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Review/Checks in Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Update_Status_Message</targetReference>
            </connector>
            <label>Discontinuation Checks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_previous_Status_CC_Review_Check</name>
        <label>Is previous Status CC Review Check</label>
        <locationX>808</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CC_Review_Check_in_Progress</name>
            <conditionLogic>1 AND (8 OR 9) AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Review/Checks in Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Case_Type</targetReference>
            </connector>
            <label>Is CC Review Check in Progress</label>
        </rules>
        <rules>
            <name>Revert_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Review/Checks in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Update_Status_Message</targetReference>
            </connector>
            <label>Revert Case</label>
        </rules>
        <rules>
            <name>Error_on_Manager_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Review/Checks in Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Failures</targetReference>
            </connector>
            <label>Error on Manager Review</label>
        </rules>
    </decisions>
    <description>Fixed revert case entry point</description>
    <interviewLabel>Status 4 update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status 4 update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Form_1634</name>
        <label>Get Form 1634</label>
        <locationX>811</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_previous_Status_CC_Review_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Form_1634__c</object>
        <outputAssignments>
            <assignToReference>Var1634_I_determine_patient</assignToReference>
            <field>I_determine_that_the_patient__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Fails_Update_to_Previous_Status</name>
        <label>Fails Update to Previous Status</label>
        <locationX>1777</locationX>
        <locationY>162</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <elementReference>FailScenarioMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Success_Update_Status_Message</name>
        <label>Success Update Status Message</label>
        <locationX>1816</locationX>
        <locationY>345</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <elementReference>Msg_Status_Success</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>412</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Get_Form_1634</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Error_Log_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FailScenarioMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>is_ErrorLog_Ready</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>is_Tasks_Ready</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Task_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Var1634_I_determine_patient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
