MAiD - Case Management App/force-app/main/default/flows/Status6_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Case_Status_Not_Applicable</name>
        <label>Case Status Not Applicable</label>
        <locationX>410</locationX>
        <locationY>122</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_MAiD_Manager</targetReference>
            </connector>
            <label>Case Status Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_MAiD_Manager</name>
        <label>Check for MAiD Manager</label>
        <locationX>614</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Update_Insufficient_Previledges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MaiD_Manager_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MAiD Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_requirements</targetReference>
            </connector>
            <label>MaiD Manager check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_requirements</name>
        <label>Check requirements</label>
        <locationX>617</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Status_Feedback_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Requirements_Yes</name>
            <conditionLogic>( 1 OR 2 OR 3 OR 4 OR 5 OR 6) AND (8 OR 9) AND 7 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarParCaseDetail.Education_provided_to_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MAiD Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Status_Update</targetReference>
            </connector>
            <label>Validate Requirements=Yes</label>
        </rules>
    </decisions>
    <description>1.4 Fixed the Status 6 update scenarios</description>
    <interviewLabel>Status6 Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status6 Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>378</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status_Not_Applicable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>VarParCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Education_provided_to_practitioner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetail</name>
        <label>GetCaseDetail</label>
        <locationX>140</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>VarGetCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Mandatory_Data__c</queriedFields>
        <queriedFields>Manager_Override_Requested__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Status_Update</name>
        <label>Close Status Update</label>
        <locationX>861</locationX>
        <locationY>250</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <stringValue>Status Succeeded to Update</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Feedback_Msg</name>
        <label>Status Feedback Msg</label>
        <locationX>631</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <stringValue>There are unreconciled error or open task on this case. These must be completed before sending to manager review.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Insufficient_Previledges</name>
        <label>Update Insufficient Previledges</label>
        <locationX>842</locationX>
        <locationY>126</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <stringValue>You do not have privilege&apos;s to update case status</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>GetCaseDetail</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>List1632</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1632__c</objectType>
    </variables>
    <variables>
        <name>Task_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarGetCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarParCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
