MAiD - Case Management App/force-app/main/default/flows/Status_5_update_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Case_Requirements_failure</name>
        <label>Case Requirements failure</label>
        <locationX>1196</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManagerClosure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Manager_Review_Needed_for_Empty_Case_Childs</name>
        <label>Manager Review Needed for Empty Case Childs</label>
        <locationX>1257</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRequirementsFailure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Related_Case_Check_Failure</name>
        <label>Related Case Check Failure</label>
        <locationX>1102</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorLogStatusFailure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tasks_Check_Fail</name>
        <label>Tasks Check Fail</label>
        <locationX>1090</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TasksFailureMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CaseRequirementsFailure</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mandatory details needed for Case Status 5 update failed.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ErrorLogStatusFailure</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are unreconciled error logs on this case.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ManagerClosure</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This case requires a manager to close</stringValue>
        </value>
    </constants>
    <constants>
        <name>TasksFailureMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are open task on this case.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Unreconciled_Error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are unreconciled error or open task on this case. These must be completed before sending to manager review.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Null_Related_Case_Records</name>
        <label>Check for Null Related Case Records</label>
        <locationX>574</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>ToBeCaseStatus_MRR_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RelatedCaseRecordsNotNull</defaultConnectorLabel>
        <rules>
            <name>IsRelatedCaseRecordsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCaseRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_child_check_Case</targetReference>
            </connector>
            <label>IsRelatedCaseRecordsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Null_Tasks</name>
        <label>Check for Null Tasks</label>
        <locationX>564</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>GetTaskRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TasksNotNull</defaultConnectorLabel>
        <rules>
            <name>isTaskNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TasksRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Null_Related_Case_Records</targetReference>
            </connector>
            <label>isTaskNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_requirements_for_Related_Cases</name>
        <label>Check requirements for Related Cases</label>
        <locationX>873</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Related_Case_Check_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Log Check Failed</defaultConnectorLabel>
        <rules>
            <name>Case_Type_1_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 7) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 1</label>
        </rules>
        <rules>
            <name>Case_Type_2_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 7) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 2</label>
        </rules>
        <rules>
            <name>Case_Type_3_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 7 AND 8 AND 9) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 3</label>
        </rules>
        <rules>
            <name>Case_Type_4_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 7 AND 8 AND 9) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 4</label>
        </rules>
        <rules>
            <name>Case_Type_5_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 7 AND 8 AND 9) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 5</label>
        </rules>
        <rules>
            <name>Case_Type_6_0</name>
            <conditionLogic>(1 AND 2 AND 5 AND 6) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_requirements_for_Tasks</name>
        <label>Check requirements for Tasks</label>
        <locationX>912</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Tasks_Check_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tasks Failed</defaultConnectorLabel>
        <rules>
            <name>Case_Type_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 1</label>
        </rules>
        <rules>
            <name>Case_Type_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 2</label>
        </rules>
        <rules>
            <name>Case_Type_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 3</label>
        </rules>
        <rules>
            <name>Case_Type_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 4</label>
        </rules>
        <rules>
            <name>Case_Type_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 5</label>
        </rules>
        <rules>
            <name>Case_Type_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_child_check_Case</name>
        <label>Empty child check Case</label>
        <locationX>945</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Manager_Review_Needed_for_Empty_Case_Childs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Status Update Fail</defaultConnectorLabel>
        <rules>
            <name>Is_Case_eligible_move_ahead</name>
            <conditionLogic>((1 OR 2) AND 7 AND 8 AND 9 AND 10) OR ((3 OR 4 OR 5) AND 7 AND 8 AND 9 AND 10 AND 11 AND 12) or (6 AND 7 AND 9 AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pass_Case_Status</targetReference>
            </connector>
            <label>Is Case eligible move ahead</label>
        </rules>
        <rules>
            <name>MRR_Is_Case_eligible_move_ahead</name>
            <conditionLogic>((1 OR 2) AND 7 AND 8 AND 9 AND 10 AND 11 AND 12) OR ((3 OR 4 OR 5) AND 7 AND 8 AND 9 AND 10 AND 11 AND 12 AND 13 AND 14) OR (6 AND 7 AND 8 AND 9 AND 10 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManagerReadyForReviewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Notes_to_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pass_Case_Status</targetReference>
            </connector>
            <label>MRR-Is Case eligible move ahead</label>
        </rules>
    </decisions>
    <decisions>
        <name>MRR_Requirements_for_Related_Case</name>
        <label>MRR Requirements for Related Case</label>
        <locationX>942</locationX>
        <locationY>1039</locationY>
        <defaultConnector>
            <targetReference>Case_Requirements_failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Log Check Failed</defaultConnectorLabel>
        <rules>
            <name>Case_Type_1_0_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6) AND (4 OR 5) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Notes_to_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Education_provided_to_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 1</label>
        </rules>
        <rules>
            <name>Case_Type_2_0_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6) AND (4 OR 5) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Notes_to_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Education_provided_to_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 2</label>
        </rules>
        <rules>
            <name>Case_Type_3_0_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 9 AND 10) AND (4 OR 5) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Notes_to_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Education_provided_to_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 3</label>
        </rules>
        <rules>
            <name>Case_Type_4_0_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 9 AND 10) AND (4 OR 5) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Notes_to_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Education_provided_to_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 4</label>
        </rules>
        <rules>
            <name>Case_Type_5_0_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 9 AND 10) AND (4 OR 5) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Notes_to_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Education_provided_to_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 5</label>
        </rules>
        <rules>
            <name>Case_Type_6_0_0</name>
            <conditionLogic>(1 AND 2 AND 5) AND (3 OR 4) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Notes_to_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Education_provided_to_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>ToBeCaseStatus_MRR_Check</name>
        <label>ToBeCaseStatus MRR Check</label>
        <locationX>796</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Case_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ClosedStatus</defaultConnectorLabel>
        <rules>
            <name>ManagerReadyForReviewStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>ManagerReadyForReviewStatus</label>
        </rules>
    </decisions>
    <description>Implemented complete flow for Status 5 update</description>
    <interviewLabel>Status 5 update flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status 5 update flow</label>
    <loops>
        <name>Get_Related_Case_Records</name>
        <label>Get Related Case Records</label>
        <locationX>682</locationX>
        <locationY>482</locationY>
        <collectionReference>GetRelatedCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_requirements_for_Related_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pass_Case_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Related_Case_Records_MRR</name>
        <label>Get Related Case Records MRR</label>
        <locationX>798</locationX>
        <locationY>902</locationY>
        <collectionReference>GetRelatedCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MRR_Requirements_for_Related_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pass_Case_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GetTaskRecords</name>
        <label>GetTaskRecords</label>
        <locationX>704</locationX>
        <locationY>91</locationY>
        <collectionReference>TasksRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_requirements_for_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Null_Related_Case_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>472</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Null_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>GetRelatedCaseRecords</outputReference>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Education_provided_to_practitioner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>337</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarGetCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TasksRecords</outputReference>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetail</name>
        <label>GetCaseDetail</label>
        <locationX>175</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>VarGetCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Mandatory_Data__c</queriedFields>
        <queriedFields>Provincial_Safeguards__c</queriedFields>
        <queriedFields>Legislation_and_Critical_Safeguards__c</queriedFields>
        <queriedFields>Federal_Safeguards__c</queriedFields>
        <queriedFields>Manager_Override_Requested__c</queriedFields>
        <queriedFields>Notes_to_Manager__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fail_Status_Update</name>
        <label>Fail Status Update</label>
        <locationX>1451</locationX>
        <locationY>225</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <elementReference>TaskMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pass_Case_Status</name>
        <label>Pass Case Status</label>
        <locationX>1371</locationX>
        <locationY>613</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <stringValue>All conditions passed successfully</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseDetail</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetRelatedCaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>List1632</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1632__c</objectType>
    </variables>
    <variables>
        <name>RC_Education_provided_to_practitioner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RC_ErrorLogStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRulePass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Status Update Successful</stringValue>
        </value>
    </variables>
    <variables>
        <name>TasksRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarGetCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
