MAiD - Case Management App/force-app/main/default/flows/Status_5_update_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignCheckToEducationOnCase</name>
        <label>AssignCheckToEducationOnCase</label>
        <locationX>638</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>SelectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Education_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Requirements_failure</name>
        <label>Case Requirements failure</label>
        <locationX>1595</locationX>
        <locationY>1180</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManagerClosure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeselectEducationOnCase</name>
        <label>DeselectEducationOnCase</label>
        <locationX>625</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>SelectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Education_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ImplementCounter</name>
        <label>ImplementCounter</label>
        <locationX>451</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>EducationCheckCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Cases_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insufficient_Privileges</name>
        <label>Insufficient Privileges</label>
        <locationX>1076</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrivilegeIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Manager_Review_Needed_for_Empty_Case_Childs</name>
        <label>Manager Review Needed for Empty Case Childs</label>
        <locationX>1656</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRequirementsFailure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Related_Case_Check_Failure</name>
        <label>Related Case Check Failure</label>
        <locationX>1501</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorLogStatusFailure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tasks_Check_Fail</name>
        <label>Tasks Check Fail</label>
        <locationX>1489</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>TaskMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TasksFailureMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fail_Status_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CaseRequirementsFailure</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mandatory details needed for Case Status 5 update failed.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ErrorLogStatusFailure</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are unreconciled error logs on this case.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ManagerClosure</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter required details for Manager Review / Error Logs not in reconciled or Logged for Tracking state</stringValue>
        </value>
    </constants>
    <constants>
        <name>PrivilegeIssue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are unreconciled issues for Manager Review</stringValue>
        </value>
    </constants>
    <constants>
        <name>TasksFailureMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are open task on this case or mandatory case conditions not satisfying.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Unreconciled_Error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are unreconciled error or open task on this case. These must be completed before sending to manager review.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_case_status</name>
        <label>check case status</label>
        <locationX>855</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Null_Tasks</targetReference>
            </connector>
            <label>case status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Education_Practitioner</name>
        <label>Check Education Practitioner</label>
        <locationX>237</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Related_Cases_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Cases_Loop.Education_provided_to_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImplementCounter</targetReference>
            </connector>
            <label>IsChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Null_Related_Case_Records</name>
        <label>Check for Null Related Case Records</label>
        <locationX>973</locationX>
        <locationY>850</locationY>
        <defaultConnector>
            <targetReference>ToBeCaseStatus_MRR_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RelatedCaseRecordsNotNull</defaultConnectorLabel>
        <rules>
            <name>IsRelatedCaseRecordsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCaseRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_child_check_Case</targetReference>
            </connector>
            <label>IsRelatedCaseRecordsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Null_Tasks</name>
        <label>Check for Null Tasks</label>
        <locationX>963</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>GetTaskRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TasksNotNull</defaultConnectorLabel>
        <rules>
            <name>isTaskNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TasksRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Null_Related_Case_Records</targetReference>
            </connector>
            <label>isTaskNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_requirements_for_Related_Cases</name>
        <label>Check requirements for Related Cases</label>
        <locationX>1318</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Related_Case_Check_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Log Check Failed</defaultConnectorLabel>
        <rules>
            <name>Case_Type_1_0</name>
            <conditionLogic>((1 AND 2 AND 3 AND 6 AND 7) AND (4 OR 5)) OR (1 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BCCS_Manager_Review_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 1</label>
        </rules>
        <rules>
            <name>Case_Type_2_0</name>
            <conditionLogic>((1 AND 2 AND 3 AND 6 AND 7) AND (4 OR 5)) OR (1 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BCCS_Manager_Review_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 2</label>
        </rules>
        <rules>
            <name>Case_Type_3_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 7 AND 8 AND 9) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 3</label>
        </rules>
        <rules>
            <name>Case_Type_4_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 7 AND 8 AND 9) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 4</label>
        </rules>
        <rules>
            <name>Case_Type_5_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 6 AND 7 AND 8 AND 9) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 5</label>
        </rules>
        <rules>
            <name>Case_Type_6_0</name>
            <conditionLogic>(1 AND 2 AND 5 AND 6) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Case Type 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_requirements_for_Tasks</name>
        <label>Check requirements for Tasks</label>
        <locationX>1301</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Tasks_Check_Fail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tasks Failed</defaultConnectorLabel>
        <rules>
            <name>Case_Type_1</name>
            <conditionLogic>1 AND 4 AND 5 AND ((2 AND 3) OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 1</label>
        </rules>
        <rules>
            <name>Case_Type_2</name>
            <conditionLogic>1 AND 4 AND 5 AND ((2 AND 3) OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 2</label>
        </rules>
        <rules>
            <name>Case_Type_3</name>
            <conditionLogic>1 AND 4 AND 5 AND ((2 AND 3 AND 6 AND 7) OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 3</label>
        </rules>
        <rules>
            <name>Case_Type_4</name>
            <conditionLogic>1 AND 4 AND 5 AND ((2 AND 3 AND 6 AND 7) OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 4</label>
        </rules>
        <rules>
            <name>Case_Type_5</name>
            <conditionLogic>1 AND 4 AND 5 AND ((2 AND 3 AND 6 AND 7) OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 5</label>
        </rules>
        <rules>
            <name>Case_Type_6</name>
            <conditionLogic>(1 AND 3 AND 4) AND (2 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTaskRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaskRecords</targetReference>
            </connector>
            <label>Case Type 6</label>
        </rules>
        <rules>
            <name>Check_Revert_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revert_Status</targetReference>
            </connector>
            <label>Check Revert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_child_check_Case</name>
        <label>Empty child check Case</label>
        <locationX>1344</locationX>
        <locationY>844</locationY>
        <defaultConnector>
            <targetReference>Manager_Review_Needed_for_Empty_Case_Childs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Status Update Fail</defaultConnectorLabel>
        <rules>
            <name>Is_Case_eligible_move_ahead</name>
            <conditionLogic>((1 OR 2) AND 7 AND 8 AND 9 AND 10 AND 13 AND 14) OR ((3 OR 4 OR 5) AND 7 AND 8 AND 9 AND 10 AND 11 AND 12 AND 13 AND 14) OR (6 AND 7 AND 9 AND 10 AND 13 AND 14)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandatory_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provincial_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legislation_and_Critical_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Federal_Safeguards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pass_Case_Status</targetReference>
            </connector>
            <label>Is Case eligible move ahead</label>
        </rules>
        <rules>
            <name>MRR_Is_Case_eligible_move_ahead</name>
            <conditionLogic>((1 OR 2) AND 7 AND 8 AND 9 AND 10 AND 11) OR ((3 OR 4 OR 5) AND 7 AND 8 AND 9 AND 10 AND 11) OR (6 AND 7 AND 8 AND 9 AND 10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notes_to_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pass_Case_Status</targetReference>
            </connector>
            <label>MRR-Is Case eligible move ahead</label>
        </rules>
        <rules>
            <name>check_for_revert_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revert_Status</targetReference>
            </connector>
            <label>check for revert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insufficient_Privilege_s</name>
        <label>Insufficient Privilege&apos;s</label>
        <locationX>1062</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Insufficient_Privileges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Privileges_issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records</targetReference>
            </connector>
            <label>Privileges issue</label>
        </rules>
        <rules>
            <name>check_revert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revert_Status</targetReference>
            </connector>
            <label>check revert</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCounterEmpty</name>
        <label>IsCounterEmpty</label>
        <locationX>434</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>DeselectEducationOnCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckValueofCounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EducationCheckCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCheckToEducationOnCase</targetReference>
            </connector>
            <label>CheckValueofCounter</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsListEmpty</name>
        <label>IsListEmpty</label>
        <locationX>175</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>Related_Cases_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Log Not Empty</defaultConnectorLabel>
        <rules>
            <name>ErrorLogEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCaseRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_case_status</targetReference>
            </connector>
            <label>ErrorLogEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>MRR_Requirements_for_Related_Case</name>
        <label>MRR Requirements for Related Case</label>
        <locationX>1341</locationX>
        <locationY>1184</locationY>
        <defaultConnector>
            <targetReference>Case_Requirements_failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Log Check Failed</defaultConnectorLabel>
        <rules>
            <name>Case_Type_1_0_0</name>
            <conditionLogic>((5 AND 4) OR 6) AND (2 OR 3) AND (1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notes_to_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 1</label>
        </rules>
        <rules>
            <name>Case_Type_2_0_0</name>
            <conditionLogic>((5 AND 4) OR 6) AND (2 OR 3) AND (1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notes_to_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 2</label>
        </rules>
        <rules>
            <name>Case_Type_3_0_0</name>
            <conditionLogic>((5 AND 4) OR 6) AND (2 OR 3) AND (1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notes_to_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 3</label>
        </rules>
        <rules>
            <name>Case_Type_4_0_0</name>
            <conditionLogic>((5 AND 4) OR 6) AND (2 OR 3) AND (1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notes_to_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 4</label>
        </rules>
        <rules>
            <name>Case_Type_5_0_0</name>
            <conditionLogic>((5 AND 4) OR 6) AND (2 OR 3) AND (1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notes_to_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 5</label>
        </rules>
        <rules>
            <name>Case_Type_6_0_0</name>
            <conditionLogic>((5 AND 4) OR 6) AND (2 OR 3) AND (1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case_Records_MRR.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logged for Tracking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notes_to_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Education_provided_on_case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>Case Type 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>ToBeCaseStatus_MRR_Check</name>
        <label>ToBeCaseStatus MRR Check</label>
        <locationX>1261</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>Insufficient_Privilege_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ClosedStatus</defaultConnectorLabel>
        <rules>
            <name>ManagerReadyForReviewStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Required to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Manager Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Records_MRR</targetReference>
            </connector>
            <label>ManagerReadyForReviewStatus</label>
        </rules>
    </decisions>
    <description>Status flow 5 Updated</description>
    <environments>Default</environments>
    <interviewLabel>Status 5 update flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status 5 update flow</label>
    <loops>
        <name>Get_Related_Case_Records</name>
        <label>Get Related Case Records</label>
        <locationX>1181</locationX>
        <locationY>576</locationY>
        <collectionReference>GetRelatedCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_requirements_for_Related_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pass_Case_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Related_Case_Records_MRR</name>
        <label>Get Related Case Records MRR</label>
        <locationX>1197</locationX>
        <locationY>1047</locationY>
        <collectionReference>GetRelatedCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MRR_Requirements_for_Related_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pass_Case_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GetTaskRecords</name>
        <label>GetTaskRecords</label>
        <locationX>1103</locationX>
        <locationY>236</locationY>
        <collectionReference>TasksRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_requirements_for_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Null_Related_Case_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Related_Cases_Loop</name>
        <label>Related Cases Loop</label>
        <locationX>238</locationX>
        <locationY>196</locationY>
        <collectionReference>GetRelatedCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Education_Practitioner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsCounterEmpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>80</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsListEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>GetRelatedCaseRecords</outputReference>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Education_provided_to_practitioner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>81</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarGetCaseDetail.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TasksRecords</outputReference>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetail</name>
        <label>GetCaseDetail</label>
        <locationX>83</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>VarGetCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Mandatory_Data__c</queriedFields>
        <queriedFields>Provincial_Safeguards__c</queriedFields>
        <queriedFields>Legislation_and_Critical_Safeguards__c</queriedFields>
        <queriedFields>Federal_Safeguards__c</queriedFields>
        <queriedFields>Manager_Override_Requested__c</queriedFields>
        <queriedFields>Notes_to_Manager__c</queriedFields>
        <queriedFields>BCCS_Manager_Review_Required__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fail_Status_Update</name>
        <label>Fail Status Update</label>
        <locationX>1850</locationX>
        <locationY>370</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <elementReference>TaskMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pass_Case_Status</name>
        <label>Pass Case Status</label>
        <locationX>1770</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <stringValue>All conditions passed successfully</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Revert_Status</name>
        <label>Revert Status</label>
        <locationX>1560</locationX>
        <locationY>469</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Feedback_Msg__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Education_Selection</name>
        <label>Update Education Selection</label>
        <locationX>741</locationX>
        <locationY>296</locationY>
        <connector>
            <targetReference>check_case_status</targetReference>
        </connector>
        <inputAssignments>
            <field>Education_provided_on_case__c</field>
            <value>
                <elementReference>SelectionValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>617</locationY>
        <connector>
            <targetReference>GetCaseDetail</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error_Log</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MAiD_Case</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EducationCheckCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GetRelatedCaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>List1632</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1632__c</objectType>
    </variables>
    <variables>
        <name>RC_Education_provided_to_practitioner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RC_ErrorLogStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectionValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRulePass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Status Update Successful</stringValue>
        </value>
    </variables>
    <variables>
        <name>TasksRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarGetCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
