MAiD - Case Management App/force-app/main/default/flows/Status7_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Case_New_Status</name>
        <label>Assign Case New Status</label>
        <locationX>808</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>updateCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCaseRecord.Status_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status Succeeded to Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record_Pass</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_Case_Status_Untouched</name>
        <label>Keep Case Status Untouched</label>
        <locationX>828</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>updateCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCaseRecord.Status_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Not_Applicable_Scenario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fail_Scenario</name>
        <label>Update Fail Scenario</label>
        <locationX>616</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>updateCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status_Feedback_Msg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCaseRecord.Status_Feedback_Msg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status Update Failed. Manager access required to reopen a closed case.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record_Fail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_requirements</name>
        <label>Check requirements</label>
        <locationX>581</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Update_Fail_Scenario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Requirements_Yes</name>
            <conditionLogic>( 1 OR 2 OR 3 OR 4 OR 5 OR 6) AND (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAiD Death Not Foreseeable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer of Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Death Prior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Ineligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGetCaseDetail.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinuation of Planning: Withdrawn Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MAiD Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_New_Status</targetReference>
            </connector>
            <label>Validate Requirements=Yes</label>
        </rules>
        <rules>
            <name>Not_Applicable_Scenario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_Case_Status_Untouched</targetReference>
            </connector>
            <label>Not Applicable Scenario</label>
        </rules>
    </decisions>
    <description>Status &amp; update and allowing only Managers to change case status after Closing a Case</description>
    <interviewLabel>Status7 Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status7 Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCaseDetail</name>
        <label>GetCaseDetail</label>
        <locationX>311</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>VarGetCaseDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Mandatory_Data__c</queriedFields>
        <queriedFields>Manager_Override_Requested__c</queriedFields>
        <queriedFields>Federal_Safeguards__c</queriedFields>
        <queriedFields>Provincial_Safeguards__c</queriedFields>
        <queriedFields>Legislation_and_Critical_Safeguards__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Not_Applicable_Scenario</name>
        <label>Update Case Not Applicable Scenario</label>
        <locationX>849</locationX>
        <locationY>543</locationY>
        <inputReference>updateCaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_Fail</name>
        <label>Update Case Record Fail</label>
        <locationX>623</locationX>
        <locationY>542</locationY>
        <inputReference>updateCaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_Pass</name>
        <label>Update Case Record Pass</label>
        <locationX>1042</locationX>
        <locationY>177</locationY>
        <inputReference>updateCaseRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>GetCaseDetail</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>List1632</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_1632__c</objectType>
    </variables>
    <variables>
        <name>Task_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarGetCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarParCaseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
