MAiD - Case Management App/force-app/main/default/flows/update_provincial_safeguard_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>feedback_msgs_assignment</name>
        <label>feedback_msgs_assignment</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>provincial_1633_feedback_msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provincial_Safeguard_Feedback_for_1633__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>provincial_feedback_msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provincial_Safeguards_Feedback__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_feedback_message_comparison</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_feedback_message_comparison</name>
        <label>check feedback message comparison</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>provincial_safeguard_update_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>feedback_if_pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>provincial_1633_feedback_msg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>provincial_feedback_msg</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>provincial_safeguard_update</targetReference>
            </connector>
            <label>feedback if pass</label>
        </rules>
    </decisions>
    <interviewLabel>update_provincial_safeguard_field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update provincial safeguard field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>provincial_safeguard_update</name>
        <label>provincial_safeguard_update</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Provincial_Safeguards__c</field>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>provincial_safeguard_update_default</name>
        <label>provincial safeguard update default</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Provincial_Safeguards__c</field>
            <value>
                <stringValue>FAIL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>feedback_msgs_assignment</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>provincial_1633_feedback_msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>provincial_feedback_msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateFailMsg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
