MAiD - Case Management App/force-app/main/default/flows/Update_Intake_Owner_Based_on_Eligibility_Coordinator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Intake_Owner_Email</name>
        <label>Notify Intake Owner Email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Intake__c.Notify_New_Intake_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Send_Notification_flag_Intake</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>\
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Send_Notification_value</name>
        <label>Send Notification value</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Send_notification_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_notification_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Intake_Owner_Email</targetReference>
            </connector>
            <label>If Send notification is true</label>
        </rules>
    </decisions>
    <interviewLabel>Update Intake Owner Based on Eligibility Coordinator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Intake Owner Based on Eligibility Coordinator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Send_Notification_flag_Intake</name>
        <label>Reset Send Notification flag Intake</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Send_notification_email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_on_Intake_record</name>
        <label>Update Owner on Intake record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Send_Notification_value</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Youth_Transition_Coordinator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Owner_on_Intake_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Youth_Transition_Coordinator__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Youth_Transition_Coordinator__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
